%table.tall.shaded
  %tr
    %th
      Fee
    %td
      = select :fee_id, :collection => Fee.all.map{|f| [f.id, f.name]}, :prompt => "Select fee"
    %tr
      %th          
        Amount
      %td
        = text_field :amount
    %tr
      %th
        Applicable on
      %td
        = date_select_for @applicable_fee, :applicable_on
    %tr
      %td
      %td
        = hidden_field :applicable_id, :value => @applicable_fee.applicable_id
        = hidden_field :applicable_type, :value => @applicable_fee.applicable_type
        = hidden_field :name => "_target_", :value => "applicable_fee_list"
        = submit "Apply Penalty/Fee"