%h1 Levy fee
= error_messages_for @applicable_fee

= form_for(@applicable_fee, :action => url(:applicable_fees) ) do
  = partial :fields
  %p
    = submit "Create"

= link_to 'Back', url(:applicable_fees)