- name||=""
%div{:style => "float: right;"}
  %a{:onclick => "$('#form_for_bookmark_saving').toggle();", :href => "#"}
    ="Save this #{(type==:custom_report ? 'report' : 'page')}"
  %div.floatingBox#form_for_bookmark_saving{:style => "position: absolute; right: 150px; display: none;"}
    %a.closeButton{:hre => ""}
      [x]
    = form_for(Bookmark.new, :action => resource(:bookmarks), :class => "_remote_") do  
      Save as
      = text_field :name, :value => name
      = hidden_field :title, :value => page_title
      = hidden_field :method, :value => request.method
      = hidden_field :route, :value => @route.to_yaml
      = hidden_field :type, :value => bookmark_type
      = hidden_field :params, :value => request.raw_post
      = submit "Save"
