.tab_container
  %ul.tabs
    %li#branch Branch
    %li#centers Center
    %li#clients Client
    %li#loan Loan
  .tab
    =chart(url(:action => 'branch', :group_by => 'loan'))
    =chart(url(:action => 'branch', :group_by => 'loan_count')) 
    =chart(url(:action => 'branch', :group_by => 'client'))
    =chart(url(:action => 'branch', :group_by => 'borrower_clients')) 
    -Branch.all.each do |branch|
      %div
        %h1 
          =branch.name
        =chart(url(:dashboard, :action => 'branch', :id => branch.id), 450, 270) 
        =chart(url(:graph_data, :action => 'branch', :id => branch.id, :scope_unit => 'months', :scope_size => 3), 450, 270) 
  .tab
    %div
      %h1 
        Overall
      =chart(url(:dashboard, :action => 'centers',  :scope_unit => 'months', :scope_size => 3), 450, 270) 
    -Branch.all.each do |branch|
      %div
        %h1 
          =branch.name
        =chart(url(:action => 'centers', :id => branch.id,  :scope_unit => 'months', :scope_size => 3), 450, 270) 
  .tab
    =partial :form
    - seg = {:branch_id => params[:branch_id], :center_id => params[:center_id], :staff_member_id => params[:staff_member_id]}.map{|k,v| "#{k}/#{v}" if not v.blank?}.compact.join("/")
    = chart("/dashboard/clients/cumulative/#{seg}", 450, 270)
    = chart("/dashboard/clients/growth/#{seg}", 450, 270)
    = chart("/dashboard/clients/breakup/group_by/religion/#{seg}", 450, 270)
    = chart("/dashboard/clients/breakup/group_by/caste/#{seg}", 450, 270)
  .tab
    /=partial :form
    = chart(url(:graph_data, :action => 'total', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:action => 'loans', :id => 'borrowers', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:action => 'loans', :id => 'aging'), 450, 270) 
    = chart(url(:action => 'loans', :id => 'breakup', :by => 'occupation'), 800, 600)


