.tab_container
  %ul.tabs
    %li#branch Branch growth
    %li#centers Center growth
    %li#clients Client growth
    %li#loan Loan growth
  .tab
    =chart(url(:graph_data, :action => 'branch_pie_by_loan',  :scope_unit => 'months', :scope_size => 3)) 
    =chart(url(:graph_data, :action => 'branch_pie_by_client',  :scope_unit => 'months', :scope_size => 3)) 
    -Branch.all.each do |branch|
      %div
        %h1 
          =branch.name
        =chart(url(:graph_data, :action => 'branch', :id => branch.id,  :scope_unit => 'months', :scope_size => 3), 450, 270) 
        =chart(url(:graph_data, :action => 'clients_by_branch', :id => branch.id,  :scope_unit => 'months', :scope_size => 3), 450, 270) 
  .tab
    = chart(url(:graph_data, :action => 'centers', :scope_unit => 'months', :scope_size => 3), 800, 300) 

  .tab
    = chart(url(:graph_data, :action => 'dashboard', :id => 'client_cumulative',  :scope_unit => 'months', :scope_size => 3))
    = chart(url(:graph_data, :action => 'dashboard', :id => 'client_growth',  :scope_unit => 'months', :scope_size => 3))
  .tab 
    = chart(url(:graph_data, :action => 'total', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:graph_data, :action => 'borrowers', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:graph_data, :action => 'loan_aging', :scope_unit => 'months', :scope_size => 3), 450, 270) 


