.tab_container
  %ul.tabs
    %li#branch Branch
    %li#centers Center
    %li#clients Client
    %li#loan Loan
  .tab
    =chart(url(:action => 'branch', :group_by => 'loan'), 800, 400)
    =chart(url(:action => 'branch', :group_by => 'loan_count'), 800, 400) 
    =chart(url(:action => 'branch', :group_by => 'client'), 800, 400)
    =chart(url(:action => 'branch', :group_by => 'borrower_clients'), 800, 400) 
    %form.__remote__
      %b Select branch
      =select :branch_id, :collection => Branch.all.map{|x| [x.id, x.name]}, :prompt => "Select branch"
      =submit "Go"
      %div
  .tab
    %div
      %h1 
        Overall
      =chart(url(:dashboard, :action => 'centers',  :scope_unit => 'months', :scope_size => 3), 450, 270) 
    %p
      Select branch
      %form.__remote__
      %div.dashboard_center_loader
  .tab
    =partial :form
    - seg = {:branch_id => params[:branch_id], :center_id => params[:center_id], :staff_member_id => params[:staff_member_id]}.map{|k,v| "#{k}/#{v}" if not v.blank?}.compact.join("/")
    = chart("/dashboard/clients/cumulative/#{seg}", 450, 270)
    = chart("/dashboard/clients/growth/#{seg}", 450, 270)
    = chart("/dashboard/clients/breakup/group_by/religion/#{seg}", 450, 270)
    = chart("/dashboard/clients/breakup/group_by/caste/#{seg}", 450, 270)
  .tab
    /=partial :form
    = chart(url(:graph_data, :action => 'total', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:action => 'loans', :id => 'borrowers', :scope_unit => 'months', :scope_size => 3), 450, 270) 
    = chart(url(:action => 'loans', :id => 'aging'), 450, 270) 
    = chart(url(:action => 'loans', :id => 'breakup', :by => 'occupation'), 800, 600)


