%h2
  Today

%div.tab_container
  %ul.tabs
    %li#repayments
      Repayments & disbursals
    %li#graphs
      Graphs
  %div.tab
    - total_due = total_paid = 0
    %table.report
      %tr.header
        %th
          Name
        %th
          Principal Due
        %th
          Principal Paid
        %th
          Interest due
        %th
          Interest Paid
        %th
          Total due
        %th
          Total paid
        %th
          Scheduled Disbursal
        %th
          Actual Disbursal
      - total_prin_due = total_prin_paid = total_int_due = total_int_paid = total_scheduled_disbursal = total_disbursal  = 0
      - @data.sort_by{|branch, centers| branch.name}.each do |branch, centers|
        %tr.branch
          %td{:colspan => 9}
            %b
              = branch.name
        - branch_prin_due = branch_prin_paid = branch_int_due = branch_int_paid = branch_scheduled_disbursal = branch_disbursal  = 0
        - centers.sort_by{|center| center.name}.each do |center|
          %tr.center{:class => cycle('odd','even')}
            %td
              = link_to(center.name, url(:quick_link, "centers", center.id) + "#weeksheet")
            %td.numeric
              = (pd = (center.pd and center.pd > 0) ? center.pd : 0).to_currency
              - branch_prin_due += pd
            %td.numeric
              = (pp = (center.pp and center.pp > 0) ? center.pp : 0).to_currency
              - branch_prin_paid += pp
            %td.numeric
              = (intd = (center.intd and center.intd > 0) ? center.intd : 0).to_currency
              - branch_int_due += intd
            %td.numeric
              = (intp = (center.intp and center.intp > 0) ? center.intp : 0).to_currency
              - branch_int_paid += (intp || 0)
            %td.numeric
              = (pd + intd).to_currency
            %td.numeric
              = (pp + intp).to_currency
            %td.numeric
              - scheduled_disbursal=@disbursals.find_all{|loan| loan.scheduled_disbursal_date==Date.today and loan.client.center.id==center.id}.inject(0){|s,x| s+=x.amount}
              - branch_scheduled_disbursal += scheduled_disbursal
              = scheduled_disbursal
            %td.numeric
              - disbursal = @disbursals.find_all{|loan| loan.disbursal_date!=nil and loan.client.center.id==center.id}.inject(0){|s,x| s+=x.amount}
              - branch_disbursal += disbursal
              = disbursal
        - total_prin_due  += branch_prin_due
        - total_prin_paid += branch_prin_paid
        - total_int_due   += branch_int_due
        - total_int_paid  += branch_int_paid 
        - total_scheduled_disbursal += branch_scheduled_disbursal
        - total_disbursal += branch_disbursal
        %tr.branch_total
          %td
            Branch Total
          %td.numeric
            %b
              = branch_prin_due.to_currency
          %td.numeric
            %b
              = branch_prin_paid.to_currency
          %td.numeric
            %b
              = branch_int_due.to_currency
          %td.numeric
            %b
              = branch_int_paid.to_currency
          %td.numeric
            %b
              = (branch_int_due + branch_prin_due).to_currency
          %td.numeric
            %b
              = (branch_int_paid + branch_prin_paid).to_currency
          %td.numeric
            %b
              = branch_scheduled_disbursal
          %td.numeric
            %b
              = branch_disbursal       
      %tr.org_total
        %td
          Total
        %td.numeric
          %b
            = total_prin_due.to_currency
        %td.numeric
          %b
            = total_prin_paid.to_currency
        %td.numeric
          %b
            = total_int_due.to_currency
        %td.numeric
          %b
            = total_int_paid.to_currency
        %td.numeric
          %b
            = (total_int_due + total_prin_due).to_currency
        %td.numeric
          %b
            = (total_int_paid + total_prin_paid).to_currency
        %td.numeric
          %b
            = total_scheduled_disbursal
        %td.numeric
          %b
            = total_disbursal
  %div.tab
    %form{:action => "/browse/centers_paying_today#graphs", :method => "POST"}
      %b Branch
      = select :name => "branch_id", :collection => Branch.all.map{|x| [x.id, x.name]}, :selected => params[:branch_id].to_s, :prompt => "All branches"
      = submit "GO"
    - if params[:branch_id] and params[:branch_id].to_i > 0
      = ofc2(1000, 800, url(:graph_data, :action => 'dashboard', :id => 'center_day', :branch_id => params[:branch_id]))
    -else
      = ofc2(800, 640, url(:graph_data, :action => 'dashboard', :id => 'branch_day'))
