%h2
  today
- total_due = total_paid = 0
%table.report
  %tr.header
    %th
      Name
    %th
      Principal Due
    %th
      Principal Paid
    %th
      Interest due
    %th
      Interest Paid
    %th
      Total due
    %th
      Total paid
    %th
      Scheduled Disbursal
    %th
      Actual Disbursal
  - total_prin_due = total_prin_paid = total_int_due = total_int_paid = total_scheduled_disbursal = total_disbursal  = 0
  - @data.each do |branch_id, centers|
    %tr.branch
      %td{:colspan => 9}
        = Branch.get(branch_id).name
    - branch_prin_due = branch_prin_paid = branch_int_due = branch_int_paid = branch_scheduled_disbursal = branch_disbursal  = 0
    -centers.each do |center|
      %tr.center{:class => cycle('odd','even')}
        %td
          = link_to center.name, url(:quick_link, "centers", center.id) + "#weeksheet"
        %td.numeric
          = center.pd.to_i || 0
          - branch_prin_due += (center.pd || 0)
        %td.numeric
          = center.pp.to_i || 0
          - branch_prin_paid += (center.pp || 0)
        %td.numeric
          = center.intd.to_i || 0
          - branch_int_due += (center.intd || 0)
        %td.numeric
          = center.intp.to_i || 0
          - branch_int_paid += (center.intp || 0)
        %td.numeric
          = ((center.pd || 0) + (center.intd || 0)).to_i
        %td.numeric
          = ((center.pp || 0) + (center.intp || 0)).to_i
        %td.numeric
          - scheduled_disbursal=@disbursals.find_all{|loan| loan.scheduled_disbursal_date==Date.today and loan.client.center.id==center.id}.inject(0){|s,x| s+=x.amount}
          - branch_scheduled_disbursal += scheduled_disbursal
          = scheduled_disbursal
        %td.numeric
          - disbursal = @disbursals.find_all{|loan| loan.disbursal_date!=nil and loan.client.center.id==center.id}.inject(0){|s,x| s+=x.amount}
          - branch_disbursal += disbursal
          = disbursal
    - total_prin_due  += branch_prin_due
    - total_prin_paid += branch_prin_paid
    - total_int_due   += branch_int_due
    - total_int_paid  += branch_int_paid 
    - total_scheduled_disbursal += branch_scheduled_disbursal
    - total_disbursal += branch_disbursal
    %tr.branch_total
      %td
        Branch Total
      %td.numeric
        = branch_prin_due.to_i
      %td.numeric
        = branch_prin_paid.to_i
      %td.numeric
        = branch_int_due.to_i
      %td.numeric
        = branch_int_paid.to_i
      %td.numeric
        = (branch_int_due + branch_prin_due).to_i
      %td.numeric
        = (branch_int_paid + branch_prin_paid).to_i
      %td.numeric
        = branch_scheduled_disbursal
      %td.numeric
        = branch_disbursal       
  %tr.org_total
    %td
      Total
    %td.numeric
      %b
        = total_prin_due.to_i
    %td.numeric
      %b
        = total_prin_paid.to_i
    %td.numeric
      %b
        = total_int_due.to_i
    %td.numeric
      %b
        = total_int_paid.to_i
    %td.numeric
      %b
        = (total_int_due + total_prin_due).to_i
    %td.numeric
      %b
        = (total_int_paid + total_prin_paid).to_i
    %td.numeric
      %b
        = total_scheduled_disbursal
    %td.numeric
      %b
        = total_disbursal
      

= ofc2(800, 640, url(:graph_data, :action => 'dashboard', :id => 'center_day', :date => @date) )
