%table
  %tr
    %td
      Insurance Company
    %td
      = select :insurance_company_id, :collection => InsuranceCompany.all, :prompt => "---", :value_method => :id, :text_method => :name
      = link_to 'Add a company', resource(:insurance_companies, :new, {:return => (@client ? resource(@client, :insurance_policies, :new) : nil)}),:class => "_remote_"
  %tr
    %td
      Policy Number
    %td
      = text_field :policy_no
  %tr
    %td
      Application number
    %td
      = text_field :application_number
  %tr
    %td
      Sum Insured
    %td
      = text_field :sum_insured
  %tr
    %td
      Premium
    %td
      = text_field :premium
  %tr
    %td
      Date from
    %td
      = date_select_for(@insurance_policy, "date_from", :date => @insurance_policy.date_from)
  %tr
    %td
      Date to
    %td
      = date_select_for(@insurance_policy, "date_to", :date => @insurance_policy.date_to)
      = hidden_field :client_id, :value => @client.id
  %tr
    %td
      Status
    %td
      = select(:status, :collection => InsurancePolicy::POLICY_STATUSES.map{|x| [x, x]})
  %tr
    %td
      Cover for
    %td
      = select(:cover_for, :collection => InsurancePolicy::COVER_FOR.map{|x| [x, x]}, :prompt => "---")
