%h1 Holiday
  
%h2
  = @holiday.name
  on
  = @holiday.date
  shifts the meeting to the day 
  = @holiday.shift_meeting
  the actual meeting day
= link_to 'Edit',  url(:edit_holiday,  @holiday)
|
= link_to 'Back', url(:holidays)