%table.form
  %tr
    %td
      Branch name:
    %td
      = text_field :name, :size => 40
      %br/
      %span.greytext the name by which the branch is known
  %tr
    %td
      Branch code:
    %td
      = text_field :code, :size => 10
      %br/
      %span.greytext a two letter unique code for the branch
  %tr
    %td
      Address:
    %td
      ~ text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      Contact phone number:
    %td
      = text_field :contact_number, :size => 15
  %tr
    %td
      Landmark:
    %td
      = text_field :landmark, :size => 25
  %tr
    %td
      Creation date:
    %td
      = date_select_for @branch, :creation_date
      %br/
      %span.greytext pick the date this branch was created on
  %tr
    %td
      Managed by:
    %td
      = select_staff_member_for @branch, :manager
      %br/
      %span.greytext pick the staff member that manages this branch
  %tr
    %td
      Area
    %td
      = select :area_id, :collection => Area.all.map{|a| [a.id.to_s, a.name]}, :prompt => "---"
      %br/
      %span.greytext pick the staff member that manages this branch

  %tr
    %td
    %td
      = submit submit_text
      &nbsp;&nbsp;
      = link_to 'cancel', cancel_url
