%table{:style => "width: 80%"}
  %tr
    %td
      Branch Name
    %td
      = text_field :name, :size => 40
      %span.greytext the name by which the branch is known
  %tr
    %td
      Branch Code
    %td
      = text_field :code, :size => 10
      %span.greytext a two letter unique code for the branch
  %tr
    %td
      Address
    %td
      = text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      Contact Phone Number
    %td
      = text_field :contact_number, :size => 15
  %tr
    %td
      Landmark
    %td
      = text_field :landmark, :size => 25
  %tr
    %td
      Creation Date
    %td
      = date_select_for @branch, :creation_date
      %span.greytext pick the date this branch was created on
  %tr
    - if StaffMember.count==0 and session.user.role==:admin
      %div.error
        You do not have any staff members data yet. Create them 
        = link_to("here", resource(:staff_members, :new), :target => "_blank")
    %td
      Managed by
    %td  
      = select_staff_member_for @branch, :manager, {}, true
      %span.greytext pick the staff member that manages this branch
  %tr
    %td
      Area
    %td
      = select :area_id, :collection => Area.all.map{|a| [a.id.to_s, a.name]}, :prompt => "---"
      %span.greytext Pick the aread to which this branch belongs to
  %tr
    %td