.graph
  = ofc2(500, 300, url(:graph_data, :action => 'total', :scope_unit => 'months', :scope_size => 3) )
%h1 Overview of all branches
%p
  = link_to 'create a new branch', resource(:branches, :new), :class => "add"
- if @branches.blank?
  %p
    %i No branches have been created yet.
- else
  %table.narrow
    %thead
      %tr
        %th
        %th id
        %th name
        %th manager
        %th centers
        %th edit | delete
    %tbody
    - for branch in @branches
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = branch.id
        %td
          %b= link_to branch.name, resource(branch)
        %td
          = link_to branch.manager.name, resource(branch.manager)
        %td
          %b= branch.centers.size
          == (#{link_to 'view', resource(branch, :centers)})
        %td
          = link_to 'edit', resource(branch, :edit)
          &nbsp;|&nbsp
          = link_to 'new center', resource(branch, :centers, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }
  = paginate @branches
