- form_url   =  resource(:branches, {:return => params[:return]})
- cancel_url =  url(params[:return])
= form_for(@branch, :action => form_url, :class => "form") do  
  %h1 Create a new branch
  = error_messages_for @branch
  %fieldset 
    = partial "branches/fields"
    = submit "Create branch"
    &nbsp;&nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;&nbsp;
    = link_to 'Cancel', cancel_url
