%div.form_container
  .notice
    %h3 Loan Product IRR helper
    Use the form below to calculate the IRR on a loan for a particular loan product.
  = form_for(@loan, :action => url(:design_loan_product)) do
    %table.border
      %tr
        %td.legend
          Loan Product
        %td
          = select :loan_product_id, :collection => LoanProduct.all, :text_method => :name, :value_method => :id, :prompt => 'Please choose a loan product'
        %td
        %td
      %tr
        %td.legend
          Amount
        %td
          = text_field :amount
        %td.legend
          Interest Rate
        %td
          = text_field :interest_rate, :value => @loan.interest_rate ? @loan.interest_rate*100 : ''
      %tr
        %td.legend
          Disbursal Date
        %td
          = date_select_for @loan, :scheduled_disbursal_date
        %td.legend
          First Payment Date
        %td
          = date_select_for @loan, :scheduled_first_payment_date
      %tr
      %tr
        %td.legend
          Number of Installments
        %td
          = text_field :number_of_installments
        %td.legend
          Installment Frequency
        %td
          = select :installment_frequency, :collection =>  Loan.installment_frequencies.map { |x| [x.to_s, x.to_s] }
    = submit 'Calculate IRR'

%h1
  This loan has an IRR of
  - irr = @loan.irr
  = irr.is_a?(Numeric) ? ('%.2f' %(irr * 100)).to_s + "%" : irr

- cf = @loan.cash_flow if @loan.loan_product
- if cf
  %table
    %tr
      %th
        Date
      %th
        Cash flow
    - cf.each do |c|
      %tr
        %td
          = c[0]
        %td
          = c[1]
