%h1
  LoanTypes controller, edit action
%p
  Edit this file in
  %tt
    app/views/loan_types/edit.html.erb
= error_messages_for @loan_type

= form_for(@loan_type, :action => url(:loan_type, @loan_type)) do
  %p
    = submit "Update"

= link_to 'Show', url(:loan_type, @loan_type)
|
= link_to 'Back', url(:loan_types)