%h1 New Loan Type


= error_messages_for @loan_type

= form_for(@loan_type, :action => url(:loan_types) ) do
  %table
    - [:name, :amount, :max_amount, :min_amount, :interest_rate, :max_interest_rate, :min_interest_rate, :number_of_installments, :max_number_of_installments, :min_number_of_installments].each do |attr|
      %tr
        %th
          = attr.to_s.camel_case
          %td
            = text_field attr
    %tr
      %th
        InstallmentFrequency
      %td
        = select :installment_frequency, :collection => Loan.installment_frequencies.map {|f| [f,f.to_s]}
  = submit "Create"

= link_to 'Back', url(:loan_types)