%table.form
  %tr
    %td
      Target of
    %td
      = select :target_of, :collection => Target::TargetOf.map{|x| [x.to_s.camelcase(' '), x]}, :text_method => :first, :value_method => :last, :prompt => "&lt;select a valid attache&gt;"
  %tr
    %td
      Target value
    %td
      = text_field :target_value
  %tr
    %td
      Start Date
    %td
      = date_select_for @target, :start_date
  %tr
    %td
      Deadline
    %td
      = date_select_for @target, :deadline
  %tr
    %td
      Target type
    %td
      = select :target_type, :collection => Target::TargetType.map{|x| [x.to_s.camelcase(' '), x.to_s]}, :text_method => :first, :value_method => :last, :prompt => "&lt;select a target type&gt;"
  %tr
    %td
      Responsibility of:
    %td
      = select :attached_to, :collection => Target::ValidAttaches.map{|x| [x.to_s, x.to_s.camelcase(' ')]}, :prompt => "&lt;select a valid attache&gt;"
    %td
      = select :attached_id, :collection => @objects, :text_method => :name, :value_method => :id
