%h1
  Targets

.menu-strip{:style => "margin: 10px;"}
  = link_to 'Add a target', url(:new_target), :class => "add"
  = link_to "Monthly bulk target entry", url(:action => :bulk_entry_new), :class => "add"

%table.narrow
  %thead
    %tr
      %th
        Assigned to
      %th
        Target For
      %th
        Target Type
      %th
        Start Date
      %th
        Deadline
      %th
        Start Value
      %th
        To Reach
      %th
        Target
      %th
        Edit/Delete
  - for target in @targets
    %tr{ :class => cycle('odd','') }
      %td
        - if target.attached_to == :staff_member
          = link_to target.responsible.name, url(:quick_link, "staff_members", target.responsible.id)
        - if target.attached_to == :branch
          = link_to target.responsible.name, url(:quick_link, "branches", target.responsible.id)
        - if target.attached_to == :center
          = link_to target.responsible.name, url(:quick_link, "centers", target.responsible.id)
      %td
        = target.target_of.to_s.camelcase(' ')
      %td
        = target.target_type.to_s.camelcase(' ')
      %td
        = target.start_date
      %td
        = target.deadline
      %td
        - if target.target_of == :loan_disbursement_by_amount
          = target.start_value.to_currency
        - else
          = target.start_value
      %td
        - if target.target_of == :loan_disbursement_by_amount
          = target.target_value.to_currency
        - else
          = target.target_value
      %td
        - if target.target_of == :loan_disbursement_by_amount
          = (target.target_value - target.start_value).to_currency
        - else
          = target.target_value - target.start_value
      %td
        = link_to 'Edit', url(:edit_target,  target)

  %tfoot
    %tr
      %td{:colspan => 10}

= paginate @targets if @targets.respond_to?(:page)