%h1
  == Report Format #{@report_format.name}

%table.narrow.shaded
  %tr
    %th
      Id
    %th
      Name
    %th
      Action
  %tr
    %td
      == #{@report_format.id}
    %td
      == #{@report_format.name}
    %td
      = link_to 'Edit',  url(:edit_report_format,  @report_format)
      |
      = link_to 'Back', url(:report_formats)