%script{:src => javascript_path('admin.js'), :type => "text/javascript"}

#add-maintainer.button-group
  %input.ajax-fetch{:type => "button", :value => "Add a Maintainer", :url => "/maintain/admin/new"}
  %input.ajax-fetch{:type => "button", :value => "Change password", :url => "/maintain/admin/change_password"}
%hr
#maintainers
  List of maintainers:
  
  %table.spacious
    %thead
      %tr
        %th User
        %th
    %tbody
      - @maintainers.each do |maintainer|
        %tr
          %td= maintainer.login
          %td
            - operation = (maintainer.active?) ? "disable" : "enable"
            %a.confirm{:href => "#",
                       :url => "/maintain/admin/#{operation}?user=#{maintainer.login}",
                       :reload_url => "/maintain/admin",
                       :icon => image_path('user.png'),
                       :message => "Are you sure you want to #{operation} the user \"#{maintainer.login}\"?",
                       :success => "User #{operation}d."}= operation.capitalize
            |
            %a.confirm{:href => "#",
                       :url => "/maintain/admin/delete?user=#{maintainer.login}",
                       :reload_url => "/maintain/admin",
                       :icon => image_path('user.png'),
                       :message => "Are you sure you want to delete the user \"#{maintainer.login}\"?",
                       :success => "User deleted."} Delete