%h1== Edit funding line ##{@funding_line.id} by '#{@funder.name}'

= error_messages_for @funding_line

= form_for(@funding_line, :action => resource(@funder, @funding_line)) do
  = partial :fields, :submit_text => "Save changes", :cancel_link => resource(@funder, :funding_lines)