/- if @funder.funding_lines.size > 0
/  .graph
/    = ofc2(430, 200, 'http://' + request.env['HTTP_HOST'] + url(:graph_data, :action => 'funding_lines', :id => @funder.id, :scope_unit => 'months', :scope_size => 3) )

%h1== Funder: <i>#{@funder.name}</i>

%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td name
    %td
      %b= @funder.name
      == (id: #{@funder.id})
  %tr
    %td funding lines
    %td
      %b= @funder.funding_lines.size
  %tr.odd
    %td first disbursement
    %td
      = @funder.funding_lines.min(:disbursal_date)
  %tr
    %td last disbursement
    %td
      = @funder.funding_lines.max(:disbursal_date)

%p= link_to 'edit this funders details', resource(@funder, :edit)

%h2== Funding lines by funder <i>#{@funder.name}</i>
%p== Manage existing funding lines or #{link_to 'create a new funding line', resource(@funder, :funding_lines, :new)}.

- if @funding_lines.blank?
  %p
    %i No funding_lines have been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th amount
        %th interest
        %th disbursal
        %th first payment
        %th last payment
    %tbody
    - for funding_line in @funding_lines
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = funding_line.id
        %td
          %b= funding_line.amount
        %td
          %b
            = funding_line.interest_percentage
            \%
        %td
          = funding_line.disbursal_date
        %td
          = funding_line.first_payment_date
        %td
          = funding_line.last_payment_date
        %td
          = link_to 'edit', resource(@funder, funding_line, :edit)

    %tfoot
      %tr
        %td{ :colspan => 7 }



  = link_to 'Create new funding_line', resource(@funder, :funding_lines, :new)