%h1
  = I18n.t "occupation.index.title", :default => "Occupations"
= link_to I18n.t("occupation.index.add_an_occupation", :default => "Add an occupation"), url(:new_occupation), :class => 'add'
%table.narrow
  %thead
    %tr
      %th
        = I18n.t "occupation.index.id", :default => "Id"
      %th
        = I18n.t "occupation.index.occupation", :default => "Occupation"
      %th
        = I18n.t "occupation.index.code", :default => "Code"
      %th
        = I18n.t "occupation.index.actions", :default => "Actions"

  - for occupation in @occupations
    %tr{:class => cycle('odd', '')}
      %td
        = occupation.id
      %td
        = occupation.name
      %td
        = occupation.code
      %td
        = link_to I18n.t("occupation.index.show", :default => "Show"), url(:occupation, occupation)
        |
        = link_to I18n.t("occupation.index.edit", :default => "Edit"), url(:edit_occupation,  occupation)

