%h1
  Occupations 
= link_to 'Add an occupation', url(:new_occupation), :class => 'add'
%table.narrow
  %thead
    %tr
      %th
        Id
      %th
        Occupation
      %th
        Code
      %th
        Actions

  - for occupation in @occupations
    %tr{:class => cycle('odd', '')}
      %td
        = occupation.id
      %td
        = occupation.name
      %td
        = occupation.code
      %td
        = link_to 'Show', url(:occupation, occupation)
        |
        = link_to 'Edit', url(:edit_occupation,  occupation)

