%h1
  Occupations 
= link_to 'Add an occupation', url(:new_occupation), :class => 'add'
%table.narrow
  %thead
    %tr
      %th
        id
      %th
        occupation
      %th
        code
      %th
        actions

  - for occupation in @occupations
    %tr
      %td
        = occupation.id
      %td
        = occupation.name
      %td
        = occupation.code
      %td
        = link_to 'Show', url(:occupation, occupation)
        |
        = link_to 'Edit', url(:edit_occupation,  occupation)

