%h1 
  = I18n.t "occupation.new.title", :default => "New Occupation"

= error_messages_for @occupation

= form_for(@occupation, :action => url(:occupations) ) do
  = partial :fields
  = submit I18n.t "occupation.new.create", :default => "Create"

= link_to I18n.t("occupation.new.back", :default => "Back"), url(:occupations)
