%xml
  %event_log
    %event_log_guid #{@model_event_log.event_guid} 
    %change #{@model_event_log.event_change}                           
    %changed_at #{@model_event_log.event_changed_at}                       
    %on_type #{@model_event_log.event_on_type}                          
    %on_id #{@model_event_log.event_on_id}                            
    %on_name #{@model_event_log.event_on_name}                          
    %accounting_action #{@model_event_log.event_accounting_action}                
    %accounting_action_effective_date #{@model_event_log.event_accounting_action_effective_date}
    %parent_org_guid #{@model_event_log.parent_org_guid}
    %parent_domain_guid #{@model_event_log.parent_domain_guid}