%xml
  %model_event_log
    %id #{@model_event_log.id}	
    %event_guid #{@model_event_log.event_guid} 
    %event_change #{@model_event_log.event_change}                           
    %event_changed_at #{@model_event_log.event_changed_at}                       
    %event_on_type #{@model_event_log.event_on_type}                          
    %event_on_id #{@model_event_log.event_on_id}                            
    %event_on_name #{@model_event_log.event_on_name}                          
    %event_accounting_action #{@model_event_log.event_accounting_action}                
    %event_accounting_effective_date #{@model_event_log.event_accounting_action_effective_date} 