%h1 Overview of all funders
.menu-strip{:style => "margin: 10px;"}
  = link_to_with_rights 'Create a new funder', url(:new_funder), :class => "add"

- if @funders.blank?
  %p
    %i No funders have been created yet.
- else
  %table.shaded{ :width => '100%' }
    %thead
      %tr
        %th
        %th ID
        %th Name
        %th Funding lines
        %th Portfolios
        %th
    %tbody
    - for funder in @funders
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = funder.id
        %td
          %b= link_to funder.name, resource(funder)
        %td
          %b= funder.funding_lines.size
        %td
          %b= funder.portfolios.size
        %td
          = link_to_with_rights 'edit', resource(funder, :edit)
          &nbsp;|&nbsp
          = link_to_with_rights 'new funding line', resource(funder, :funding_lines, :new)

    %tfoot
      %tr
        %td{ :colspan => 6 }

