- form_url = resource(:asset_registers, {:return => params[:return]})
= error_messages_for @asset_register

= form_for(@asset_register, :action => form_url, :class => "") do
  
  %fieldset
    = partial "asset_registers/fields"
    = submit "Submit Details"
    - if @branch
      = link_to 'Cancel', url(:quick_link, "branches", @branch.id)
    - else
      = link_to 'Cancel', url(:asset_registers)
