%table.report.nojs
  %th
    Loan ID
  %th
    Client
  %th
    Client
  %th
    Branch
  %th
    Added at
  %th
  - @loans.each do |dl|
    %tr
      %td
        = dl.loan_id
      %td
        = dl.loan.client.name
      %td
        = dl.loan.client.center.name
      %td
        = dl.loan.client.center.branch.name
      %td
        on
        = dl.created_at.strftime(Mfi.first.date_format + " at %H %m")
      %td
        = link_to("clear", url(:action => :clear_loan, :id => dl.id), :class => "_remote_")