= js_include_tag "jquery.colorPicker.js"
= js_include_tag "tiny_mce/tiny_mce.js"
= js_include_tag "mce_editor.js"
= css_include_tag "colorPicker.css"
= error_messages_for @mfi
= form_for(@mfi, :action => url(:controller => :admin, :action => :update), :enctype => "multipart/form-data", :class => "shaded") do
  %div.tab_container
    %ul.tabs
      %li#profile Profile
      %li#configuration Configuration
      %li#security Security
      %li#info Splash screen
    %div.tab
      =partial 'admin/profile'
    %div.tab
      =partial 'admin/configuration'
    %div.tab
      =partial 'admin/security'
    %div.tab
      =partial 'admin/tiny_mce'
      
  = submit "Save my details"
  
