- if session.user.can_access?({:controller => "admin", :action => "index"})
  %h1 Administration
  %div.clearfix
    .admin-box
      %h2 Manage organization profile and calendar
      %ul.icon_links
        %li
          = link_to_with_rights 'Profile and system-wide policies', url(:controller => "admin", :action => "edit"), :class => 'admin icon'
        %li
          = link_to_with_rights 'Holidays', url(:controller => 'holidays', :action => "index"), :class => 'icon holiday'
        %li
          = link_to_with_rights 'Holiday Calendars', url(:controller => 'holiday_calendars', :action => "index"), :class => 'icon holiday'
    .admin-box
      %h2 Manage geographical locations
      %ul.icon_links
        %li
          = link_to_with_rights 'Regions', resource(:regions), :class => 'org icon'
        %li
          = link_to_with_rights 'Areas', resource(:areas), :class => 'org icon'
    .admin-box
      %h2 Manage staff, users, and roles
      %ul.icon_links
        %li
          = link_to_with_rights 'Staff Members', resource(:staff_members), :class => 'staff icon'
        %li
          = link_to_with_rights 'Users and roles', resource(:users), :class => 'user icon'

  .admin-box
    %h2 Manage financial products, funds, rules, and accounting
    %ul.icon_links
      %li
        = link_to_with_rights 'Funders and funding lines', resource(:funders), :class => 'funder icon'
      %li      
        = link_to_with_rights 'Manage Business Rules', resource(:rules), :class => 'rules icon'
      %li
        = link_to_with_rights 'Manage Targets', resource(:targets), :class => 'icon target'
      %li
        = link_to_with_rights 'Fees', resource(:fees), :class => 'icon coins'
      %li
        = link_to_with_rights 'Loan products', resource(:loan_products), :class => 'loan icon'
      %li
        = link_to_with_rights 'Repayment Styles', resource(:repayment_styles), :class => 'loan icon'
      %li
        = link_to_with_rights 'Insurance companies & products', url(:action => :insurance), :class => 'insurance icon'
      %li
        = link_to_with_rights 'Perform Audits', resource(:audit_items), :class => 'icon audit'

  .admin-box
    %h2 Manage commonly-used lists (masters)
    %ul.icon_links
      %li
        = link_to_with_rights 'Client Types', resource(:client_types), :class => 'icon client_type'
      %li
        = link_to_with_rights 'Loan Purposes', resource(:loan_purposes), :class => 'edit'
      %li
        = link_to_with_rights 'Occupations', resource(:occupations), :class => 'edit'
      %li
        = link_to_with_rights 'Loan Utilizations', resource(:loan_utilizations), :class => 'icon accept'
      %li
        = link_to_with_rights 'Document Types', resource(:document_types), :class => 'icon documents'
      %li
        = link_to_with_rights 'Stock Master', resource(:stock_registers), :class => 'report icon'
      %li
        = link_to_with_rights 'Asset Master', resource(:asset_registers), :class => 'report icon'
  .admin-box
    %h2 Data Administration
    %ul.icon_links
      %li
        = link_to_with_rights 'History log', url(:controller => :audit_trails, :action => :show), :class => 'icon zoom'
      %li 
        = link_to_with_rights 'Caches', resource(:cachers), :class => 'icon zoom'
  .admin-box
    %h2 Data
    %ul.icon_links
      %li
        = link_to_with_rights 'Upload data', url(:controller => 'admin', :action => "upload"), :class => 'upload icon'
      %li
        = link_to_with_rights 'Download data', url(:controller => 'admin', :action => "download"), :class => 'download icon'
      - if Mfi.first.dirty_queue_enabled
        %li
          = link_to_with_rights 'Loan update queue', url(:controller => 'admin', :action => "dirty_loans"), :class => 'edit'
  .admin-box
    %h2 API Use
    %ul
      %li 
        = link_to_with_rights "API Access", resource(:api_accesses), :class => 'edit'
