- if session.user.can_access?({:controller => "admin", :action => "index"})
  %h1 Administration
  %ul
    %li
      = link_to_with_rights 'Manage Users', resource(:users), :class => 'edit'
    %li
      = link_to_with_rights 'Manage loan products', resource(:loan_products), :class => 'edit'
    %li
      = link_to_with_rights 'Manage fees', resource(:fees), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Client Types', resource(:client_types), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Targets', resource(:targets), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Audits', resource(:audit_items), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Staff Members', resource(:staff_members), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Holidays', url(:controller => 'holidays', :action => "index"), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Funders', resource(:funders), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Regions', resource(:regions), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Areas', resource(:areas), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Occupations', resource(:occupations), :class => 'edit'
    %li
      = link_to_with_rights 'Manage Loan Utilizations', resource(:loan_utilizations), :class => 'edit'
    %li
      = link_to_with_rights 'Manage document types', resource(:document_types), :class => 'edit'
    %li
      = link_to_with_rights 'Edit Details', url(:controller => "admin", :action => "edit"), :class => 'edit'
    %li
      = link_to_with_rights 'Upload data', url(:controller => 'admin', :action => "upload"), :class => 'edit'
    %li
      = link_to_with_rights 'Book Keeping', resource(:accounts), :class => 'edit'
