%table
  %tr
    %td
      Branch
    %td
      - if @branch
        = @branch.name
        = hidden_field(:branch_id, :value => @branch.id)
      - else
        = select :branch_id, :collection => Branch.all.map{ |x| [x.id, x.name]}, :prompt => "Select Branch"
  %tr
    %td
      Stock Code
    %td
      = text_field :stock_code
      %span.greytext enter the code of the stock
  %tr
    %td
      Stock Name
    %td
      = text_field :stock_name
      %span.greytext enter the stock name
  %tr
    %td
      Quantity
    %td
      = text_field :stock_quantity
      %span.greytext enter the stock quantity
  %tr
    %td
      Invoice Number
    %td
      = text_field :bill_number
      %span.greytext enter the bill number of stock
  %tr
    %td
      Invoice Date
    %td
      = date_select_for @stock_register, :bill_date
      %span.greytext select the bill date of stock
  %tr
    %td
      Date of Stock Entry
    %td
      = date_select_for @stock_register, :date_of_entry
      %span.greytext select date of stock entry
  %tr
    %td
      Stock Details Entered By
    %td
      - if @branch
        = select :manager_staff_id, :collection => @branch.centers.managers(:order => [:name]).map{ |x| [x.id, x.name]}
      - else
        = select_staff_member_for @stock_register, :manager, {}, true
      %span.greytext select the person who is entering the details