%h2
  Stock Details
%p
  = link_to_with_rights "Enter new Stock details", resource(:stock_registers, :new, {:branch_id => params[:branch_id]}), :class => "add _remote_"
%table.narrow
  %thead
    %tr
      %th Id
      %th Branch
      %th Stock Code
      %th Stock Name
      %th Quantity
      %th Bill Number
      %th Bill Date
      %th Date Of Entry
      %th Entered By
      %th Edit
      
  %tbody
    - for stock_register in @stock_registers
      %tr{ :class => cycle('odd', '') }
        %td
          = stock_register.id
        %td
          = stock_register.branch.name
        %td
          = stock_register.stock_code
        %td
          = stock_register.stock_name
        %td
          = stock_register.stock_quantity
        %td
          = stock_register.bill_number
        %td
          = stock_register.bill_date
        %td
          = stock_register.date_of_entry
        %td
          = stock_register.manager.name
        %td
          = link_to 'edit', resource(stock_register, :edit)
          
  %foot
    %tr
      %td{ :colspan => 10 }

  = paginate @stock_registers
= link_to 'Back', url(:stock_registers)