%h1
  ==Edit #{@portfolio.name}
= error_messages_for @portfolio
= partial :form

= form_for(@portfolio, :action => resource(@funder, @portfolio) ) do
  = hidden_field :added_on, :value => @portfolio.added_on||Date.today
  = partial :fields
  %p
    = submit "Save portfolio"

= link_to 'Back', url(@funder)
