- form_url   =  resource(@rule_book, {:return => params[:return]})
= error_messages_for @rule_book
= form_for(@rule_book, :action => form_url, :class => "form") do
  %fieldset
    %h1 Edit a Rule
    = partial "rule_books/fields"
    = submit "Update"

= link_to 'Back', url(:rule_books)
