#accounting_rules_table
  %h1
    List of Accounting Rules
  %form._remote_{:method => :get, :action => url(:rule_books, :return => "/accounts"), :style => "float: right; font-size: 1.2em;"}
    %b Show accounting rules of
    = select :branch_id, :collection => Branch.all.map{|b| [b.id, b.name]}, :prompt => "All rules"
    = hidden_field :name => "_target_", :value => "accounting_rules_table"
    = submit "GO"
  .menu-strip
    = link_to "Add a new rule", url(:new_rule_book, :return => params[:return], :branch_id => params[:branch_id]), :class => "_remote_ add"
  %table.report.nojs
    %tr
      %th 
        Rule Name 
      %th
        Branch
      %th 
        Action
      %th
        Journal type
      %th
        Debit accounts
      %th
        Credit accounts
      %th
        From date
      %th
        To date
      %th
        Active
      %th
    %tr
    - for rule_book in @rule_books.all(:order => [:branch_id.asc, :from_date.asc, :action.desc])    
    - car = CreditAccountRule.all(:rule_book_id => rule_book.id)
    - dar = DebitAccountRule.all(:rule_book_id => rule_book.id)
      %tr
        %td
          = rule_book.name
        %td
          - branch_name = "No Branch"
          - if rule_book.branch != nil
            - branch_name = rule_book.branch.name
          = branch_name
        %td 
          = rule_book.action.camelcase(' ')
        %td
          = rule_book.journal_type.display if rule_book.journal_type
        %td
          - rule_book.debit_accounts.each do |debit_account|
            = debit_account.name
            | 
            = dar.first(:debit_account_id => debit_account.id).percentage
            %br
        %td 
          - rule_book.credit_accounts.map do |credit_account|
            = credit_account.name 
            | 
            = car.first(:credit_account_id => credit_account.id).percentage
            %br

        %td
          = rule_book.from_date
        %td
          = rule_book.to_date
        %td
          = rule_book.active
        %td
          = link_to 'Edit', url(:edit_rule_book,  rule_book, {:return => (url(:accounts) + "#accounting_rules")})
  
  = paginate @rule_books
  %br

