%h1
  Edit LoanPurpose

= link_to 'Back', url(:loan_purposes)
= error_messages_for @loan_purpose

= form_for(@loan_purpose, :action => url(:loan_purpose, @loan_purpose)) do
  = partial :fields
  = submit "Update"

= link_to 'Show', url(:loan_purpose, @loan_purpose)
