%h1
  Loan Purpose
= link_to "Add a loan purpose", url(:new_loan_purpose), :class => 'add'
%table.narrow
  %thead
    %tr
      %th
        Loan Purpose
      %th
        Code
      %th
        Classified As
      %th
        Actions
  - for loan_purpose in @loan_purposes
    %tr{:class => cycle('odd', '')}
      %td
        = loan_purpose.name
      %td
        = loan_purpose.code
      %td
        = loan_purpose.parent_id != 0 ? LoanPurpose.get(loan_purpose.parent_id).name : '-'
      %td
        = link_to 'Show', url(:loan_purpose, loan_purpose)
        |
        = link_to 'Edit', url(:edit_loan_purpose,  loan_purpose)
