%h1 New Loan Purposes

= error_messages_for @loan_purpose

= form_for(@loan_purpose, :action => url(:loan_purposes) ) do
  = partial :fields
  = submit "Create"

= link_to 'Back', url(:loan_purposes)
