%h1 
  = I18n.t "loan_purpose.new.title", :default => "New Loan Purpose"

= error_messages_for @loan_purpose

= form_for(@loan_purpose, :action => url(:loan_purposes) ) do
  = partial :fields
  = submit I18n.t "loan_purpose.new.create", :default => "Create"

= link_to I18n.t("loan_purpose.new.back", :default => "Back"), url(:loan_purposes)
