%table.form#user_form
  %tr
    %td
      Login name:
    %td
      = text_field :login
      %br/
      %span.greytext (only letters and numbers are allowed)
  %tr
    %td
      Password:
    %td
      = password_field :password
  %tr
    %td
      Password confirmation:
    %td
      = password_field :password_confirmation
      %br/
      %span.greytext (password fields must be filled to complete user profile)
  %tr
    %td
      Select role
    %td
      = select :role, :collection => User.roles
  %tr.staff_member
    %td
      Is a staff member?
    %td
      = select :staff_member, :collection => [["","---"]] + StaffMember.all(:order => [:name]).map{|s| [s.id.to_s, s.name]}, :selected => (@user.staff_member ? @user.staff_member.id.to_s : "")
  %tr.funder
    %td
      Is a funder
    %td
      = select :funder, :collection => [["","---"]] + Funder.all(:order => [:name]).map{|s| [s.id.to_s, s.name]}, :selected => (@user.funder ? @user.funder.id.to_s : "")
  %tr
    %td
      Active ?
    %td
      = check_box :active
