
%table.form
  %tr
    %td
      Login name:
    %td
      = text_field :login
      %br/
      %span.greytext (only letters and numbers are allowed)
  %tr
    %td
      Password:
    %td
      = password_field :password
  %tr
    %td
      Password confirmation:
    %td
      = password_field :password_confirmation
  %tr
    %td
      Select role
    %td
      = select :role, :collection => User.roles
  %tr
    %td
      Is a staff member?
    %td
      = select :staff_member, :collection => [["","---"]] + StaffMember.all.map{|s| [s.id.to_s, s.name]}
