%table.form#user_form
  %tr
    %td
      Login name:
    %td
      = text_field :login
      %br/
      %span.greytext (only letters and numbers are allowed)
  %tr
    %td
      Select role
    %td
      = select :role, :collection => User.roles
  %tr.staff_member
    %td
      Is a staff member?
    %td
      = select :staff_member, :collection => [["","---"]] + StaffMember.all(:order => [:name]).map{|s| [s.id.to_s, s.name]}, :selected => (@user.staff_member ? @user.staff_member.id.to_s : "")
  %tr.funder
    %td
      Is a funder
    %td
      = select :funder, :collection => [["","---"]] + Funder.all(:order => [:name]).map{|s| [s.id.to_s, s.name]}, :selected => (@user.funder ? @user.funder.id.to_s : "")
  %tr
    %td
      Preferred Locale
    %td
      = select :preferred_locale, :collection => [["","---"]] + LOCALES.map{|s| [s[0].to_s, s[1].to_s]}, :selected => (@user.preferred_locale ? @user.preferred_locale : "")
  - if @user.new?
    %tr
      %td
        Password:
      %td
        = password_field :password
    %tr
      %td
        Password confirmation:
      %td
        = password_field :password_confirmation

  %tr
    %td
      Active ?
    %td
      = check_box :active
