
%table.form
  %tr
    %td
      Login name:
    %td
      = text_field :login
      %br/
      %span.greytext (only letters and numbers are allowed)
  %tr
    %td
      Password:
    %td
      = password_field :password
  %tr
    %td
      Password confirmation:
    %td
      = password_field :password_confirmation
  %tr
    %td
      Is Data Entry Operator?
    %td
      = check_box :data_entry_operator
  %tr
    %td
      Is MIS Manager?
    %td
      = check_box :mis_manager
  %tr
    %td
      Is Admin?
    %td
      = check_box :admin
  %tr
    %td
      Is Read-only?
    %td
      = check_box :read_only_user