%table.form
  = form_for(@user, :action => "/change_password") do
    = error_messages_for @user
    %tr
      %td
        Password:
      %td
        = password_field :password
    %tr
      %td
        Password confirmation:
      %td
        = password_field :password_confirmation
    %tr
      %td
      %td
        = submit "Change password"
