%h1
  Users
%p
  Manage existing users accounts or
  = link_to 'create a new user', resource(:users, :new)
  account.
%table.narrow.form{ :width => '100%' }
  %thead
    %tr
      %th
      %th ID
      %th Login
      %th Role
      %th Staff member/Funder
      %th Status
      %th 
  %tbody
  - for user in @users
    %tr{ :class => cycle('odd','') }
      %td &nbsp;
      %td
        = user.id
      %td
        %b= user.login
      %td
        = user.role.to_s.humanize
      %td
        = (link_to user.staff_member.name, resource(user.staff_member)) if user.staff_member
        = (link_to user.funder.name, resource(user.funder)) if user.funder
      %td
        = user.active ? "active" : "inactive"
      - if session.user.role == :admin  # only show to admin
        %td
          = link_to 'edit', resource(user, :edit)
  %tfoot
    %tr
      %td{ :colspan => 9 }
