%h1
  Users
%p
  Manage existing users accounts or
  = link_to 'create a new user', resource(:users, :new)
  account.
%table.narrow.form{ :width => '100%' }
  %thead
    %tr
      %th
      %th id
      %th login
      %th data entry
      %th mis manager
      %th admin
      %th read only
      %th edit | delete
  %tbody
  - for user in @users
    %tr{ :class => cycle('odd','') }
      %td &nbsp;
      %td
        = user.id
      %td
        %b= user.login
      %td
        %b= user.data_entry_operator ? 'X' : ''
      %td
        %b= user.mis_manager ? 'X' : ''
      %td
        %b= user.admin ? 'X' : ''
      %td
        %b= user.read_only_user ? 'X' : ''
      - if session.user.id == 1  # only show to admin
        %td
          = link_to 'edit', resource(user, :edit)
          = '&nbsp;|&nbsp;' + link_to('delete', resource(user, :delete)) unless user.id == 1  # do not show for admin
  %tfoot
    %tr
      %td{ :colspan => 9 }
