%h1
  Users
%p
  Manage existing users accounts or
  = link_to 'create a new user', resource(:users, :new)
  account.
%table.narrow.form{ :width => '100%' }
  %thead
    %tr
      %th
      %th id
      %th real name
      %th login
      %th uploads
      %th created at
      %th updated at
  %tbody
  - for user in @users
    %tr{ :class => cycle('odd','') }
      %td &nbsp;
      %td
        = user.id
      %td
        %i= user.name
      %td
        %b= user.login
      %td
        %b= user.upload_count
      %td
        = relative_date user.created_at
      %td
        = (user.updated_at == user.created_at) ? '&mdash;' : relative_date(user.updated_at)
      %td
        = link_to 'edit', resource(user, :edit)
      - if session.user.id == 1
        %td
          = link_to 'delete', resource(user, :delete) unless user.id == 1
  %tfoot
    %tr
      %td{ :colspan => 7 }
