
- if @user
  %h1== User: <i>#{@user.login}</i>
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td Login
      %td
        %b= @user.login
    %tr
      %td Status
      %td=@user.active ? "active" : "inactive"
    %tr.odd
      %td Role
      %td= @user.role.to_s.humanize
    - if @user.staff_member
      %tr
        %td Staff Member
        %td=@user.staff_member.name 
    - if @user.funder
      %tr{:class=>"#{'odd' if @user.staff_member}"}
        %td Funder
        %td=@user.funder.name
    %tr{:class=>"#{'odd' if @user.staff_member and not @user.funder}"}
      %td Created At
      %td=@user.created_at.to_s
  %p
    = link_to_with_rights 'edit this user\'s details ', resource(@user, :edit), :class => "edit"

  %div.tab_container
    %ul.tabs
      %li#history
        History
    %div.tab
      = partial "audit_trails/list", :layout => false
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
   

      
