
- if @user
  %h1== User: <i>#{@user.login}</i>
  %table.narrow.form{ :style => "width: 40%;" }
    - counter = 1
    %tr.odd
      %td Login
      %td
        %b= @user.login
    - counter+= 1
    %tr
      %td Role
      %td= @user.role.to_s.humanize
    - if @user.staff_member
      - counter+= 1
      %tr{:class=>"#{'odd' if counter % 2 == 1}"}
        %td Staff Member
        %td=@user.staff_member.name 
    - if @user.funder
      - counter+= 1
      %tr{:class=>"#{'odd' if counter % 2 == 1}"}
        %td Funder
        %td=@user.funder.name
    - counter+= 1
    %tr{:class=>"#{'odd' if counter % 2 == 1}"}
      %td Status
      %td=@user.active ? "active" : "inactive"
    - counter+= 1
    %tr{:class=>"#{'odd' if counter % 2 == 1}"}
      %td Created At
      %td=@user.created_at.to_s
    - unless session.user.role == :admin
      - counter+= 1
      = form_for(@user, :action => "/preferred_locale") do
        = error_messages_for @user
        %tr{:class=>"#{'odd' if counter % 2 == 1}"}
          %td
            Preferred Locale
          %td
            = select :preferred_locale, :collection => [["","---"]] + LOCALES.map{|s| [s[0].to_s, s[1].to_s]}, :selected => (@user.preferred_locale ? @user.preferred_locale : ""), :style => "margin-left: 20px; height: 20px; padding-top: 1px;"
            = submit "Update Locale", :style => "margin-left: 20px; height: 25px; padding-top: 1px;"

  %p
    = link_to_with_rights 'edit this user\'s details ', resource(@user, :edit), :class => "edit"

  %div.tab_container
    %ul.tabs
      %li#history
        History
    %div.tab
      = partial "audit_trails/list", :layout => false
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
   

      
