
= form_for(@audit_item, :action => url(:audit_item, @audit_item), :class => 'form') do
  %h1 Edit Audit Item
  = error_messages_for @audit_item
  %fieldset
    = partial :fields
    = submit "Update"

= link_to 'Show', url(:audit_item, @audit_item)
|
= link_to 'Back', url(:audit_items)