%h1
  StaffMembers controller, edit action
%p
  Edit this file in
  %tt
    app/views/staff_members/edit.html.erb
= error_messages_for @staff_member

= form_for(@staff_member, :action => url(:staff_member, @staff_member)) do
  %p
    = submit "Update"

= link_to 'Show', url(:staff_member, @staff_member)
|
= link_to 'Back', url(:staff_members)