%div{:style => "float: right"}
  %b Branch selector
  =form(:method => :get, :action => url(:staff_members)) do 
    = select :branch_id, :collection => Branch.all, :text_method => :name, :value_method => :id, :prompt => "All branches"
    = submit "Go"
%h1
  Overview of all staff members 
  = " of #{@branch.name}" if @branch
%p
  == #{link_to 'create a new staff member', resource(:staff_members, :new), :class => "add"}.
- if @staff_members.blank?
  %p
    %i No staff members been created yet.
- else
  %table.report.nojs{:width => '100%'}
    %thead
      %tr
        %th
          name
        %th
          status
        %th{:colspan => 2}
          branches
        %th{:colspan => 2}
          centers
        %th{:colspan => 2}
          applied loans
        %th{:colspan => 2}
          approved loans
        %th{:colspan => 2}
          rejected loans
        %th{:colspan => 2}
          disbursed loans
        %th{:colspan => 2}
          wrote off loans
      %tr
        %th{:colspan => 2}
        -7.times do
          %th
            This month
          %th
            Total


    - sum_total      = 0,0,0,0,0,0,0
    - sum_tm         = 0,0,0,0,0,0,0
    - this_month     = Date.today - Date.today.day + 1
    - for staff_member in @staff_members
      %tr{ :class => cycle('odd','') }
        %td
          %b= link_to staff_member.name, resource(staff_member)
        %td
          %b= staff_member.active? ? 'active' : 'disabled'
        %td
          - item = Branch.all(:manager_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[0] += item
          =  item || "-"
        %td
          - item = Branch.all(:manager_staff_id => staff_member.id).count
          - sum_total[0] += item
          =  item || "-"
        %td
          - item = Center.all(:manager_staff_id => staff_member.id, :created_at.gte => this_month).count || "-"
          - sum_tm[1] += item
          = item || "-"
        %td
          - item = Center.all(:manager_staff_id => staff_member.id).count || "-"
          - sum_total[1] += item
          = item || "-"
        %td
          - item = Loan.all(:applied_by_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[2] += item
          = item || "-"
        %td
          - item = Loan.all(:applied_by_staff_id => staff_member.id).count
          - sum_total[2] += item
          = item || "-"
        %td
          - item = Loan.all(:approved_by_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[3] += item
          = item || "-"
        %td
          - item = Loan.all(:approved_by_staff_id => staff_member.id).count
          - sum_total[3] += item
          = item || "-"
        %td
          - item = Loan.all(:rejected_by_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[4] += item
          = item || "-"
        %td
          - item = Loan.all(:rejected_by_staff_id => staff_member.id).count
          - sum_total[4] += item
          = item || "-"
        %td
          - item = Loan.all(:disbursed_by_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[5] += item
          = item || "-"
        %td
          - item = Loan.all(:disbursed_by_staff_id => staff_member.id).count
          - sum_total[5] += item
          = item || "-"
        %td
          - item = Loan.all(:written_off_by_staff_id => staff_member.id, :created_at.gte => this_month).count
          - sum_tm[6] += item
          = item || "-"
        %td
          - item = Loan.all(:written_off_by_staff_id => staff_member.id).count
          - sum_total[6] += item
          = item || "-"
    %tr.total
      %td{:colspan => 2 }
      -7.times do |i|
        %td
          =sum_tm[i]
        %td
          =sum_total[i]
  = paginate @staff_members

