%div{:style => "float: right"}
  %b Branch selector
  =form(:method => :get, :action => url(:staff_members)) do 
    = select :branch_id, :collection => get_accessible_branches, :text_method => :name, :value_method => :id, :prompt => "All branches"
    = submit "Go"
  =form_for(@staff_member, :action => url(:staff_members), :method => :get, :style => "float: left; background: #fbf8f1; padding: 10px; border: solid 1px lightgrey") do
    Change date
    = date_select "date", @date
    =submit "Go"

%h1
  Overview of all staff members 
  = " of #{@branch.name}" if @branch
%p
  =link_to 'create a new staff member', resource(:staff_members, :new), :class => "add"
- if @staff_members.blank?
  %p
    %i No staff members been created yet.
- else
  %table.report.nojs{:width => '100%'}
    %thead
      %tr
        %th
          name
        %th
          status
        %th{:colspan => 2}
          branches
        %th{:colspan => 2}
          centers
        %th{:colspan => 2}
          applied loans
        %th{:colspan => 2}
          approved loans
        %th{:colspan => 2}
          rejected loans
        %th{:colspan => 2}
          disbursed loans
        %th{:colspan => 2}
          wrote off loans
      %tr
        %th{:colspan => 2}
        -7.times do
          %th
            This month
          %th
            Total
    - this_month     = Date.new(@date.year, @date.month, 1)
    - this_month_end = @date+1
    -    
    - for staff_member in @staff_members
      %tr{ :class => cycle('odd','') }
        %td.text
          %b= link_to staff_member.name, resource(staff_member)
        %td
          %b= staff_member.active? ? 'active' : 'disabled'
        %td
          - hash = {:manager_staff_id => staff_member.id, :creation_date.gte => this_month, :creation_date.lte => this_month_end}
          - item = @branch_managers_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          =link_to(item, search_url(hash, Branch))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id}
          - item = @branch_managers_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          =link_to(item, search_url(hash, Branch))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id, :creation_date.gte => this_month, :creation_date.lte => this_month_end}
          - item = @center_managers_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Center))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id}
          - item = @center_managers_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Center))||"-"
        %td
          - hash = {:applied_by_staff_id => staff_member.id, :applied_on.gte => this_month, :applied_on.lte => this_month_end}
          - item = @applied_loans_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:applied_by_staff_id => staff_member.id}
          - item = @applied_loans_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:approved_by_staff_id => staff_member.id, :approved_on.gte => this_month, :approved_on.lte => this_month_end}
          - item = @approved_loans_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:approved_by_staff_id => staff_member.id}
          - item = @approved_loans_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:rejected_by_staff_id => staff_member.id, :rejected_on.gte => this_month, :rejected_on.lte => this_month_end}
          - item = @rejected_loans_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:rejected_by_staff_id => staff_member.id}
          - item = @rejected_loans_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:disbursed_by_staff_id => staff_member.id, :disbursal_date.gte => this_month, :disbursal_date.lte => this_month_end}
          - item = @disbursed_loans_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:disbursed_by_staff_id => staff_member.id}
          - item = @disbursed_loans_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:written_off_by_staff_id => staff_member.id, :written_off_on.gte => this_month, :written_off_on.lte => this_month_end}
          - item = @written_off_loans_thismonth.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:written_off_by_staff_id => staff_member.id}
          - item = @written_off_loans_overall.find{|x| x[0]==staff_member.id}
          - item = item ? item[1] : 0
          = link_to(item, search_url(hash, Loan))||"-"
    - sum_total      = 0,0,0,0,0,0,0
    - sum_tm         = 0,0,0,0,0,0,0
    - vars = [:branch_managers, :center_managers, :applied_loans, :approved_loans, :rejected_loans, :disbursed_loans, :written_off_loans]
    - if @staff_members.num_pages==@staff_members.page
      %tr.total
        %td{:colspan => 2 }
        -7.times do |i|
          %td
            =instance_variable_get("@#{vars[i]}_thismonth").map{|x| x[1]}.inject(0){|s,x| s+=x}
          %td
            =instance_variable_get("@#{vars[i]}_overall").map{|x| x[1]}.inject(0){|s,x| s+=x}
  = paginate @staff_members

