%h1 Overview of all staff members

%p
  == #{link_to 'create a new staff member', resource(:staff_members, :new), :class => "add"}.

- if @staff_members.blank?
  %p
    %i No staff members been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th
          name
        %th
          status
        %th
          branches
        %th
          centers
        %th
          payments
        %th
          applied loans
        %th
          approved loans
        %th
          rejected loans
        %th
          disbursed loans
        %th
          wrote off loans
    - for staff_member in @staff_members
      %tr{ :class => cycle('odd','') }
        %td
        %td
          %b= link_to staff_member.name, resource(staff_member)
        %td
          %b= staff_member.active? ? 'active' : 'disabled'
        %td
          = Branch.all(:manager_staff_id => staff_member.id).count || "-"
        %td
          = Center.all(:manager_staff_id => staff_member.id).count || "-"
        %td
          = Payment.all(:received_by_staff_id => staff_member.id).count
        %td
          = Loan.all(:applied_by_staff_id => staff_member.id).count
        %td
          = Loan.all(:approved_by_staff_id => staff_member.id).count
        %td
          = Loan.all(:rejected_by_staff_id => staff_member.id).count
        %td
          = Loan.all(:disbursed_by_staff_id => staff_member.id).count
        %td
          = Loan.all(:written_off_by_staff_id => staff_member.id).count
        %td
          = link_to 'edit', resource(staff_member, :edit)

    %tfoot
      %tr
        %td{ :colspan => 11 }
  = paginate @staff_members

