%div{:style => "float: right"}
  %b Branch selector
  =form(:method => :get, :action => url(:staff_members)) do 
    = select :branch_id, :collection => get_accessible_branches, :text_method => :name, :value_method => :id, :prompt => "All branches"
    = submit "Go"
  =form_for(@staff_member, :action => url(:staff_members), :method => :get, :style => "float: left; background: #fbf8f1; padding: 10px; border: solid 1px lightgrey") do
    Change date
    = date_select "date", @date
    =submit "Go"

%h1
  Overview of all staff members 
  = " of #{@branch.name}" if @branch
%p
  =link_to 'create a new staff member', resource(:staff_members, :new), :class => "add"
- if @staff_members.blank?
  %p
    %i No staff members been created yet.
- else
  %table.report.nojs{:width => '100%'}
    %thead
      %tr
        %th
          name
        %th
          status
        %th{:colspan => 2}
          branches
        %th{:colspan => 2}
          centers
        %th{:colspan => 2}
          applied loans
        %th{:colspan => 2}
          approved loans
        %th{:colspan => 2}
          rejected loans
        %th{:colspan => 2}
          disbursed loans
        %th{:colspan => 2}
          wrote off loans
      %tr
        %th{:colspan => 2}
        -7.times do
          %th
            This month
          %th
            Total


    - sum_total      = 0,0,0,0,0,0,0
    - sum_tm         = 0,0,0,0,0,0,0
    - this_month     = Date.new(@date.year, @date.month, 1)
    - this_month_end = @date
    - for staff_member in @staff_members
      %tr{ :class => cycle('odd','') }
        %td
          %b= link_to staff_member.name, resource(staff_member)
        %td
          %b= staff_member.active? ? 'active' : 'disabled'
        %td
          - hash = {:manager_staff_id => staff_member.id, :creation_date.gte => this_month, :creation_date.lte => this_month_end}
          - item = Branch.all(hash).count
          - sum_tm[0] += item
          =link_to(item, search_url(hash, Branch))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id}
          - item = Branch.all(hash).count
          - sum_total[0] += item
          =link_to(item, search_url(hash, Branch))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id, :creation_date.gte => this_month, :creation_date.lte => this_month_end}
          - item = Center.all(hash).count || "-"
          - sum_tm[1] += item
          = link_to(item, search_url(hash, Center))||"-"
        %td
          - hash = {:manager_staff_id => staff_member.id}
          - item = Center.all(hash).count || "-"
          - sum_total[1] += item
          = link_to(item, search_url(hash, Center))||"-"
        %td
          - hash = {:applied_by_staff_id => staff_member.id, :applied_on.gte => this_month, :applied_on.lte => this_month_end}
          - item = Loan.all(hash).count
          - sum_tm[2] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:applied_by_staff_id => staff_member.id}
          - item = Loan.all(hash).count
          - sum_total[2] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:approved_by_staff_id => staff_member.id, :approved_on.gte => this_month, :approved_on.lte => this_month_end}
          - item = Loan.all(hash).count
          - sum_tm[3] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:approved_by_staff_id => staff_member.id}
          - item = Loan.all(hash).count
          - sum_total[3] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:rejected_by_staff_id => staff_member.id, :rejected_on.gte => this_month, :rejected_on.lte => this_month_end}
          - item = Loan.all(hash).count
          - sum_tm[4] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:rejected_by_staff_id => staff_member.id}
          - item = Loan.all(hash).count
          - sum_total[4] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:disbursed_by_staff_id => staff_member.id, :disbursal_date.gte => this_month, :disbursal_date.lte => this_month_end}
          - item = Loan.all(hash).count
          - sum_tm[5] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:disbursed_by_staff_id => staff_member.id}
          - item = Loan.all(hash).count
          - sum_total[5] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:written_off_by_staff_id => staff_member.id, :written_off_on.gte => this_month, :written_off_on.lte => this_month_end}
          - item = Loan.all(hash).count
          - sum_tm[6] += item
          = link_to(item, search_url(hash, Loan))||"-"
        %td
          - hash = {:written_off_by_staff_id => staff_member.id}
          - item = Loan.all(hash).count
          - sum_total[6] += item
          = link_to(item, search_url(hash, Loan))||"-"
    %tr.total
      %td{:colspan => 2 }
      -7.times do |i|
        %td
          =sum_tm[i]
        %td
          =sum_total[i]
  = paginate @staff_members

