%h1 Overview of all staff members

%p
  == #{link_to 'create a new staff member', resource(:staff_members, :new), :class => "add"}.

- if @staff_members.blank?
  %p
    %i No staff members been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th
          name
        %th
          status
        %th
          branches
        %th
          centers
        %th
          payments
        %th
          applied loans
        %th
          approved loans
        %th
          rejected loans
        %th
          disbursed loans
        %th
          wrote off loans
    - sum_branches, sum_centers, sum_payments, sum_applied_loans, sum_approved_loans, sum_rejected_loans, sum_disbursed_loans, sum_wrote_off_loans = 0,0,0,0,0,0,0,0
    - for staff_member in @staff_members
      %tr{ :class => cycle('odd','') }
        %td
        %td
          %b= link_to staff_member.name, resource(staff_member)
        %td
          %b= staff_member.active? ? 'active' : 'disabled'
        %td
          - item = Branch.all(:manager_staff_id => staff_member.id).count
          - sum_branches += item
          =  item || "-"
        %td
          - item = Center.all(:manager_staff_id => staff_member.id).count || "-"
          - sum_centers += item
          = item || "-"
        %td
          - item = Payment.all(:received_by_staff_id => staff_member.id).count
          - sum_payments += item
          = item || "-"
        %td
          - item = Loan.all(:applied_by_staff_id => staff_member.id).count
          - sum_applied_loans += item
          = item || "-"
        %td
          - item = Loan.all(:approved_by_staff_id => staff_member.id).count
          - sum_approved_loans += item
          = item || "-"
        %td
          - item = Loan.all(:rejected_by_staff_id => staff_member.id).count
          - sum_rejected_loans += item
          = item || "-"
        %td
          - item = Loan.all(:disbursed_by_staff_id => staff_member.id).count
          - sum_disbursed_loans += item
          = item || "-"
        %td
          - item = Loan.all(:written_off_by_staff_id => staff_member.id).count
          - sum_wrote_off_loans += item
          = item || "-"
        %td
          = link_to 'edit', resource(staff_member, :edit)

    %tfoot
      %tr
        %td{ :colspan => 3 }
        %td
          =sum_branches
        %td
          =sum_centers
        %td
          =sum_payments
        %td
          =sum_applied_loans
        %td
          =sum_approved_loans
        %td
          =sum_rejected_loans
        %td
          =sum_disbursed_loans
        %td
          =sum_wrote_off_loans

  = paginate @staff_members

