%h1 Create a new staff member

= error_messages_for @staff_member

= form_for(@staff_member, :action => url(:staff_members)) do
  = partial :fields
  = submit "Create staff member"
  &nbsp;&nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;&nbsp;
  = link_to "Cancel", url(:staff_members), :class => "grey_button"