%h1
  Centers for
  = @staff_member.name.capitalize

%table
  %thead
    %th
      Name
    %th
      Clients
    %th
      Loans
    %th
      Disbursed
    %th
      Repaid
    %th
      Amount In Default
  -sum_clients, sum_loans, sum_disbursed, sum_repaid, sum_default = 0, 0, 0, 0, 0
  - for center in @centers
    %tr{ :class => cycle('odd','even')}
      %td
        = link_to center.name, url(:branch_center, center.branch.id, center.id)
      -c = center.clients
      -l = c.loans
      %td
        = item = c.count
        - sum_clients += item
      %td
        = item = l.count if c.size>0
        - sum_loans   += item
      %td
        = item = (c.size>0 and l and l.count > 0) ? l.sum(:amount) : 0
        - sum_disbursed += item
      %td      
        = item = 0; item = l.payments(:type=>:principal).sum(:amount) || 0 if c.size>0 and l and l.count> 0
        - sum_repaid += item
      %td
        = item = LoanHistory.all(:current => true, 'loan.client.center_id' => center.id).sum(:amount_in_default) || 0
        - sum_default += item
  %tfoot
    %tr
      %td
      %td
        = sum_clients
      %td
        = sum_loans
      %td
        = sum_disbursed
      %td
        = sum_repaid
      %td
        = sum_default
