%h1
  Centers for
  = @staff_member.name.capitalize

%table
  %thead
    %th
      Name
    %th
      Clients
    %th
      Loans
    %th
      Disbursed
    %th
      Repaid
    %th
      Amount In Default
  - for center in @centers
    %tr{ :class => cycle('odd','even')}
      %td
        = link_to center.name, url(:branch_center, center.branch.id, center.id)
      -c = center.clients
      -l = c.loans
      %td
        = c.count
      %td
        = l.count
      %td
        = l.count > 0 ? l.sum(:amount) : 0
      %td
        = l.count > 0 ? l.payments(:type=>:principal).sum(:amount) : 0
      %td
        = LoanHistory.all(:current => true, 'loan.client.center_id' => center.id).sum(:amount_in_default) || 0
