%xml
  %staff_member
    %id #{@staff_member.id}
    %name #{@staff_member.name}
    %mobile_number #{@staff_member.mobile_number}
    %creation_date #{@staff_member.creation_date}
    %active #{@staff_member.active}
    %user_id #{@staff_member.user_id}
    - if @loans
      - @loans.each do |loan|
        %loans
          %id #{loan.id}
          %discriminator #{loan.discriminator}
          %amount #{loan.amount}
          %amount_applied_for #{loan.amount_applied_for}
          %amount_sanctioned #{loan.amount_sanctioned}
          %interest_rate #{loan.interest_rate}
          %installment_frequency #{loan.installment_frequency}
          %client_id #{loan.client_id}
          %number_of_installments #{loan.number_of_installments}
          
        
