%xml
  %staff_member
    %id #{@staff_member.id}
    %name #{@staff_member.name}
    %mobile_number #{@staff_member.mobile_number}
    %creation_date #{@staff_member.creation_date}
    %active #{@staff_member.active}
    %user_id #{@staff_member.user_id}
    - if @clients
      - @clients.each do |client|
        %client
          %id #{client.id}
          %reference #{client.reference}
          %name #{client.name}
          %address #{client.address}
          %client_group_id #{client.client_group_id}
          %center_id #{client.center_id}
          
        
