%h1 
  = @staff_member.name
%ul
  %li
    = link_to 'Daily Collection Sheet >>', url(:day_sheet, @staff_member.id), :class => "bold"
  %li
    = link_to 'Daily Disbursement Sheet >>', url(:disbursement_sheet, @staff_member.id), :class => "bold"
  %li
    = link_to 'Centers Managed >>', url(:show_staff_member_centers, @staff_member.id), :class => "bold"
  %li
    = link_to 'edit', resource(@staff_member, :edit)
%p
  = link_to '<< back', resource(:staff_members), :class => "button"

%div.tab_container
  %ul.tabs
    %li#manages Manages
    %li#info_created Info (created)
    %li#info_managed Info (managed)
    - if Mfi.first.map_enabled
      %li#map Map
  %div.tab
    - @manages.keys.each do |type|
      -if @manages[type].length> 0
        %h2
          ="#{type.to_s.capitalize} managed"
        %ul
          -@manages[type].each do |obj|
            %li
              =link_to(obj.name, resource(obj))
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@staff_member.id}?for=staff_member&type=created"}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@staff_member.id}?for=staff_member&type=managed"}

  - if Mfi.first.map_enabled
    %div.tab
      = js_include_tag :map
      - locations = []
      - if @manages[:centers] and params[:meeting_day] and not params[:meeting_day].blank?
        - locations << Location.all(:parent_id => @manages[:centers].find_all{|x| x.meeting_day==params[:meeting_day].to_sym}.map{|m| m.id}, :parent_type => 'center')
      - elsif @manages[:centers]
        - locations << Location.all(:parent_id => @manages[:centers].map{|m| m.id}, :parent_type => 'center') 
      - elsif @manages[:branches]
        - locations << Location.all(:parent_id => @manages[:branches].map{|m| m.id}, :parent_type => 'branch')
      %form{:action => resource(@staff_member)+"#map", :style => "padding-left: 10px;"}
        %b Filter centers by weekdays
        = select(:name => "meeting_day", :collection => Center::DAYS[1..-1].map{|x| x.to_s}, :prompt => "All days", :selected => params[:meeting_day])
        %input{:type => "submit", :name => "submit", :value => "filter"}
      #staff_map
        = partial "locations/multi_map", {:locations => locations.flatten}
        %span.greytext
          Centers meeting on different days are shown in different colors. Numbers indicate the order in which they meetings are held. Click on a center pin to know more