%xml
  %staff_member
    %id #{@staff_member.id}
    %name #{@staff_member.name}
    %mobile_number #{@staff_member.mobile_number}
    %creation_date #{@staff_member.creation_date}
    %active #{@staff_member.active}
    %user_id #{@staff_member.user_id}
    - if @loans
      - @loans.each do |loan|
        = loan.to_xml
          
        
