%table{:style => "width: 80%"}
  %tr
    %td
      %b Branch
    %td
      - if @branch and not @center.new?
        = select :name => 'center[branch_id]', :collection => get_accessible_branches.map{|b| [b.id,b.name]}, :selected => @branch.id.to_s
      - elsif @branch and @center.new?
        = select :name => 'center[branch_id]', :collection => Branch.all(:id => @branch.id).map{|b| [b.id,b.name]}
      - else
        = select :name => 'center[branch_id]', :collection => get_accessible_branches.map{|b| [b.id,b.name]}, :selected => session[:branch_id].to_s
  %tr
    %td
      %b Center Name
    %td
      = text_field :name, :size => 40
  %tr
    %td
      %b Center Code
    %td
      = text_field :code, :size => 2
      %span.greytext a two letter unique code for the center
  %tr
    %td
      %b Creation Date
    %td
      = date_select_for @center, :creation_date
      %span.greytext pick the date this center was created on
  %tr
    %td
      %b Meeting Dates
    %td
      %ul
        - @center.center_meeting_days.each do |cmd|
          %li
            == from #{cmd.valid_from} to #{cmd.valid_upto} this center meets every <b>#{cmd.meeting_day_string}</b>
      %br
      - unless @center.new?
        = link_to 'Manage meeting schedule', resource(:center_meeting_days, :center_id => @center.id)
    - if @center.new?
      %tr
        %th
          Meeting every:
        %td
          = select :name => "center[center_meeting_day[meeting_day]]", :collection => Center::DAYS.map{|c| c.to_s}
          %br
          %br
            %b OR
          %br
            %span.greytext eg. Meeting every 1,3 Friday of every 1 month
          %br
            = text_field :name => "center[center_meeting_day[every]]", :style => "width:5em"
            &nbsp;
            - options = [['day', 'day']] + (Center.meeting_days.map { |x| [x.to_s, x.to_s.capitalize] })[1..-1]
            &nbsp;
            = select :name => "center[center_meeting_day[what]]", :collection => options, :onchange => "$('#hidden').css('display', 'block')"
            &nbsp;&nbsp;
            of every
            &nbsp;&nbsp;
            = text_field :name => "center[center_meeting_day[of_every]]", :style => "width:5em"
            &nbsp;
            = select :name => "center[center_meeting_day[period]]", :collection => ["week", "month"]
            %br
            %br
            %b OR
            %br
            paste a comma separated list of dates here
            %br
            = text_area :meeting_calendar, :rows => 25, :columns => 25
  %tr
    %td
      %b Meeting Time
    %td
      = text_field :meeting_time_hours,   :size => 2
      %b :
      = text_field :meeting_time_minutes, :size => 2
      &nbsp;&nbsp;
      %span.greytext time is in a 24 hour format
      %br
        %div#hidden{:style => "display: none"}
        - unless @center.new?
          change effective from:  
          = date_select_for @center, :meeting_day_change_date, :min_date => @center.creation_date||Date.min_date, :max_date => Date.max_date
  %tr
    %td
      %b Managed By
    %td
      - if not @center.new? and session.user.staff_member==@center.manager
        = @center.manager.name
      - else
        = select_staff_member_for @center, :manager, {}, true
        %span.greytext pick the staff member that manages this center
  %tr
    %td
      %b Address
    %td
      = text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      %b Contact Phone Number
    %td
      = text_field :contact_number, :size => 15
  %tr
    %td
      %b Landmark
    %td
      = text_field :landmark, :size => 25
  - unless @center.new?
    %tr
      %td
        %b Center Leader
      %td
        - leader_client_id = @center.leader ? @center.leader.client_id : nil
        = select :leader, :collection => @center.clients(:order => [:name]).map{|x| [x.id, x.name]}, :selected => leader_client_id, :prompt => "Choose center leader"
  %tr
    %td