- if @centers.blank?
  %p
    %i No centers have been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th manager
        %th meeting
        %th edit
    %tbody
    - for center in @centers
      %tr{ :class => cycle('odd',''), :style => center.meeting_day == Date.today.weekday ?  'background: lightgreen;' : ''  }
        %td &nbsp;
        %td
          = center.id
        %td
          %b= link_to center.name, resource(@branch, center )
        %td
          = link_to center.manager.name, resource(center.manager)
        %td
          - if center.meeting_day
            == #{center.meeting_day.to_s.capitalize}#{(center.meeting_time_hours and center.meeting_time_minutes) ? ", #{center.meeting_time_hours}:#{'%02d' % center.meeting_time_minutes}" : ''}
        %td
          = link_to 'edit', resource(@branch, center, :edit)
          - if @branch 
            &nbsp;|&nbsp;
            = link_to 'new client', resource(@branch, center, :clients, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }
  = paginate @centers
