%h2
  Centers meeting on 
  = params[:meeting_day]||Date.today.weekday
%p{:style => "margin-left: 15px;"}
  %b Select center meeting day: &nbsp; 
  = paginate_on_weekdays(@branch, (params.key?(:meeting_day) ? params[:meeting_day].to_sym : Date.today.weekday))
- if @centers.blank?
  - if @branch.centers.count==0
    %p
      %i No centers have been created yet.
  - else
    %p
      %i No centers meet on this day.    
- else
  %table.narrow.floating_header
    %tr.header
      %th{:style => "width: 5%"} ID
      %th Name
      %th Manager
      %th Meeting
      %th Clients
      %th Edit
    %tbody
    - clients_count = Client.all(:center => @centers).aggregate(:center_id, :id.count).to_hash
    - today = Date.today.weekday
    - @centers.each do |center|
      %tr{:class => cycle('odd','')}
        %td
          = center.id
        %td.text
          %b= link_to center.name, resource(@branch, center )
        %td.text
          = link_to center.manager.name, resource(center.manager)
        %td
          %span
            == #{center.meeting_day_for(Date.today).to_s.capitalize}#{(center.meeting_time_hours and center.meeting_time_minutes) ? ", #{center.meeting_time_hours}:#{'%02d' % center.meeting_time_minutes}" : ''}
        %td
          = clients_count[center.id] if clients_count.key?(center.id)
        %td
          = link_to 'edit', resource(@branch, center, :edit)
          - if @branch 
            &nbsp;|&nbsp;
            = link_to 'new client', resource(@branch, center, :clients, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }
