
%h2
  Meeting day changes
%table.report.nojs{:style => "width: 40%"}
  %tr.header
    %th
      Valid from
    %th
      Valid upto
    %th
      Meeting day
    %th
      
  - @meeting_days.each do |day|
    %tr
      %td
        = day.valid_from
      %td
        = day.valid_upto
      %td
        = day.meeting_day
      %td
        = link_to("[x]", url(:controller => "application", :action => "delete", :id => day.id, :model => "center_meeting_days", :return => "/branches/#{@center.branch.id}/centers/#{@center.id}"))