- if (@branch)
  .graph
    = ofc2(450, 200, url(:graph_data, :action => 'branch', :id => @branch.id, :scope_unit => 'months', :scope_size => 3) )

- if @branch
  %h1== Branch: <i>#{@branch.name}</i>
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td name
      %td
        %b= @branch.name
        == (code: #{@branch.code}, id: #{@branch.id})
    %tr
      %td manager
      %td= link_to @branch.manager.name, resource(@branch.manager)
    %tr
      %td No. of centers
      %td=@branch.centers.count
  %p
    = link_to 'edit this branch\'s details ', resource(@branch, :edit), :class => "edit"
  %p
    = link_to 'create a new center', resource(@branch, :centers, :new), :class => "add"

  %div.tab_container
    %ul.tabs
      %li#centers
        Centers
      %li#info
        Info
    %div.tab
      %h2== Centers of the #{@branch.name} branch    
      =partial "centers/list"
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "moreinfo/#{@branch.id}"}
