- if (@branch)
  .graph
    = ofc2(450, 200, url(:graph_data, :action => 'branch', :id => @branch.id, :scope_unit => 'months', :scope_size => 3) )

- if @branch
  %h1== Branch: <i>#{@branch.name}</i>
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td name
      %td
        %b= @branch.name
        == (code: #{@branch.code}, id: #{@branch.id})
    %tr
      %td manager
      %td= link_to @branch.manager.name, resource(@branch.manager)
    %tr
      %td No. of centers
      %td=@branch.centers.count
    %tr
      %td Address
      %td=@branch.address
    %tr
      %td Contact number
      %td=@branch.contact_number
    %tr
      %td Landmark
      %td=@branch.landmark
  %p
    = link_to_with_rights 'edit this branch\'s details ', resource(@branch, :edit), :class => "edit"
    = link_to_with_rights 'create a new center', resource(@branch, :centers, :new), :class => "add"


  %div.tab_container
    %ul.tabs
      %li#centers
        Centers
      %li#info
        Info
      %li#exceptions
        Exceptions
      %li#documents
        Documents
      %li#comments
        Comments
      %li#audit
        Audits
      %li#history
        History
      %li#accounting
        Accounting
    %div.tab
      %h2== Centers of the #{@branch.name} branch    
      =partial "centers/list"
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/exceptions/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @branch.id, :parent_model => Branch)}
    %div.tab
      = partial 'comments/index', :object => @branch
      %p
        %h3 Add a comment
        = partial 'comments/form'
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:audit_items, :id => @branch.id, :model => "Branch")}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/accounts/branch?branch_id=#{@branch.id}"}
