- if @branch
  .shaded{:style => "padding: 5px; margin-bottom: 10px;"}
    .graph{:style => "height: 200px; position: relative; top: 30px;"}
      = ofc2(550, 250, url(:graph_data, :action => 'branch', :id => @branch.id, :scope_unit => 'months', :scope_size => 3) )

    %h1== Branch: <i>#{@branch.name}</i>
    %p.menu-strip{:style => "width: 44%; margin-bottom: 0.2em;"}
      = link_to_with_rights 'edit this branch\'s details ', resource(@branch, :edit), :class => "edit"
      = link_to_with_rights 'create a new center', resource(@branch, :centers, :new), :class => "add"
    %table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
      %tr.odd
        %th.odd Name
        %td
          %b= @branch.name
          == (code: #{@branch.code}, id: #{@branch.id})
      %tr
        %th.even Creation Date
        %td
          = @branch.creation_date
          (
          = @branch.creation_date.strftime('%A')
          )
      %tr
        %th.odd Manager
        %td= link_to @branch.manager.name, resource(@branch.manager)
      %tr.even
        %th.even No. of centers
        %td=@branch.centers.count
      %tr
        %th.odd Address
        %td=@branch.address
      %tr.even
        %th.even Contact number
        %td=@branch.contact_number
      %tr
        %th.odd Landmark
        %td=@branch.landmark
      %tr.even
        %th.even Area
        - area = @branch.area
        %td=link_to(area.name, resource(area)) if area
      - if total_attendance_at_branch = Attendance.count("client.center.branch_id" => @branch.id) and total_attendance_at_branch > 0
        %tr
          %th.odd
            Attendance
          %td
            = (Attendance.count("client.center.branch_id" => @branch.id, :status => "present") * 100.0 / total_attendance_at_branch).round(2)
            = "%"
        %tr
          %td{:colspan => "2"}

  %div.tab_container.shaded
    %ul.tabs
      %li#centers
        Centers
      %li#info
        Info
      %li#exceptions
        Exceptions
      %li#documents
        Documents
      %li#comments
        Comments
      %li#audit
        Audit
      %li#history
        History
      %li#accounting
        Accounting
      - if Mfi.first.branch_diary_enabled
        %li#branch_diary
          Diary
      - if Mfi.first.stock_register_enabled
        %li#stock_register
          Stock
      - if Mfi.first.asset_register_enabled
        %li#asset_register
          Asset
      - if Mfi.first.map_enabled
        %li#map
          Map
               
    %div.tab
      %div#container_centers_list
        =partial "centers/list"
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/exceptions/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @branch.id, :parent_model => Branch)}
    %div.tab
      = partial 'comments/index', :object => @branch
      %p
        %h3 Add a comment
        = partial 'comments/form'
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:audit_items, :id => @branch.id, :model => "Branch")}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/accounts/branch?branch_id=#{@branch.id}"}
    - if Mfi.first.branch_diary_enabled
      %div.tab
        %input{:type => "hidden", :name => "_load_remote", :value => resource(:branch_diaries, :branch_id => @branch.id, :model => "Branch")}
    - if Mfi.first.stock_register_enabled
      %div.tab
        %input{:type => "hidden", :name => "_load_remote", :value => resource(:stock_registers, :branch_id => @branch.id, :model => "Branch")}
    - if Mfi.first.asset_register_enabled
      %div.tab
        %input{:type => "hidden", :name => "_load_remote", :value => resource(:asset_registers, :branch_id => @branch.id, :model => "Branch")}
    - if Mfi.first.map_enabled        
      %div.tab
        = js_include_tag :map
        = partial "locations/map", {:obj => @branch}
   

      
