- if (@branch)
  .graph
    = ofc2(450, 200, url(:graph_data, :action => 'branch', :id => @branch.id, :scope_unit => 'months', :scope_size => 3) )

- if @branch
  %h1== Branch: <i>#{@branch.name}</i>
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td Name
      %td
        %b= @branch.name
        == (code: #{@branch.code}, id: #{@branch.id})
    %tr
      %td Manager
      %td= link_to @branch.manager.name, resource(@branch.manager)
    %tr
      %td No. of centers
      %td=@branch.centers.count
    %tr
      %td Address
      %td=@branch.address
    %tr
      %td Contact number
      %td=@branch.contact_number
    %tr
      %td Landmark
      %td=@branch.landmark
    %tr
      %td Area
      - area = @branch.area
      %td=link_to(area.name, resource(area)) if area
      - total_attendance_at_branch = @branch.centers.clients.attendances.count 
      - abs_count_at_branch = @branch.centers.clients.attendances(:status => "absent").count 
      - if total_attendance_at_branch > 0
        %tr
          %td Attendance(%)
          %td=((1 - (abs_count_at_branch.to_f/total_attendance_at_branch.to_f)) * 100).round(2)
  %p
    = link_to_with_rights 'edit this branch\'s details ', resource(@branch, :edit), :class => "edit"
    = link_to_with_rights 'create a new center', resource(@branch, :centers, :new), :class => "add"

  %div.tab_container
    %ul.tabs
      %li#centers
        Centers
      %li#info
        Info
      %li#exceptions
        Exceptions
      %li#documents
        Documents
      %li#comments
        Comments
      %li#audit
        Audit
      %li#history
        History
      %li#accounting
        Accounting
      - if Mfi.first.branch_diary_enabled
        %li#branch_diary
          Diary
      - if Mfi.first.stock_register_enabled
        %li#stock_register
          Stock
      - if Mfi.first.map_enabled
        %li#map
          Map
               
    %div.tab
      %div#centers_list
        =partial "centers/list"
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/exceptions/#{@branch.id}?for=branch"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @branch.id, :parent_model => Branch)}
    %div.tab
      = partial 'comments/index', :object => @branch
      %p
        %h3 Add a comment
        = partial 'comments/form'
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:audit_items, :id => @branch.id, :model => "Branch")}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => "/accounts/branch?branch_id=#{@branch.id}"}
    - if Mfi.first.branch_diary_enabled
      %div.tab
        %input{:type => "hidden", :name => "_load_remote", :value => resource(:branch_diaries, :branch_id => @branch.id, :model => "Branch")}
    - if Mfi.first.stock_register_enabled
      %div.tab
        %input{:type => "hidden", :name => "_load_remote", :value => resource(:stock_registers, :branch_id => @branch.id, :model => "Branch")}
    - if Mfi.first.map_enabled        
      %div.tab
        = js_include_tag :map
        = partial "locations/map", {:obj => @branch}
   

      
