
- if @branch.centers.clients.loans.size > 0
  .graph
    = ofc2(430, 200, 'http://' + request.env['HTTP_HOST'] + url(:graph_data, :action => 'branch', :id => @branch.id, :scope_unit => 'months', :scope_size => 3) )

%h1== Branch: <i>#{@branch.name}</i>

%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td name
    %td
      %b= @branch.name
      == (id: #{@branch.id})
  %tr
    %td manager
    %td= link_to @branch.manager.name, resource(@branch.manager)
  %tr.odd
    %td centers
    %td
      %b= @branch.centers.size

%p= link_to 'edit this branch\' details', resource(@branch, :edit)

%h2== Centers of the <i>#{@branch.name}</i> branch
%p== Manage existing centers or #{link_to 'create a new center', resource(@branch, :centers, :new)}.

- if @centers.blank?
  %p
    %i No centers have been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th manager
        %th meeting
    %tbody
    - for center in @centers
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = center.id
        %td
          %b= link_to center.name, resource(@branch, center)
        %td
          = link_to center.manager.name, resource(center.manager)
        %td
          - if center.meeting_day
            == #{center.meeting_day.to_s.capitalize}#{(center.meeting_time_hours and center.meeting_time_minutes) ? ", #{center.meeting_time_hours}:#{center.meeting_time_minutes}" : ''}
        %td
          = link_to 'edit', resource(@branch, center, :edit)
          &nbsp;|&nbsp;
          = link_to 'new client', resource(@branch, center, :clients, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }



  = link_to 'Create new center', resource(@branch, :centers, :new)