%xml
  %center
    %id #{@center.id}
    %name #{@center.name}
    %code #{@center.code}
    %address #{h(@center.address)}
    %contact_number #{@center.contact_number}
    %landmark #{@center.landmark}
    %meeting_day #{@center.meeting_day}
    %meeting_time_hours #{@center.meeting_time_hours}
    %meeting_time_minutes #{@center.meeting_time_minutes}
    %creation_date #{@center.creation_date}
    %manager_staff_id #{@center.manager_staff_id}
    %branch_id #{@center.branch_id}
    - if @clients and @option == "clients"
      %clients
        - @clients.each do |client|
          %client
            %id #{client.id}
            %name #{client.name}
            %reference #{client.reference}
            %date_of_birth #{client.date_of_birth}
            %spouse_name #{client.spouse_name}
            %address #{client.address}
            %active #{client.active}
            %date_joined #{client.date_joined}
            %client_group_id #{client.client_group_id}
            - if client.client_group
              %client_group_name #{client.client_group.name}
            %center_id #{client.center_id}
    - if @clients and @option == "client_groups"
      %client_groups
        - @center.client_groups.each do |client_group|
          %client_group
            %id #{client_group.id}
            %name #{client_group.name}
            %center_id #{client_group.center_id}
