%table.form
  - if @center.blank?
    %tr
      %td
        For center:
      %td
        = select_center_for @client, :center
  -else
    %tr
      %td 
        For center
      %td
        = @center.name
        %input{:id => "client_center_id", :value => "#{@center.id}", :type => "hidden"}
  %tr
    %td
      Group name
    %td
      %select{:id => "client_group_id", :name => "client[client_group_id]"}
        %option{:value => ""}
          Select the group for this person
        -if @center
          = @center.client_groups.collect{|g| "<option #{'selected=\"selected\"' if g.id==@client.client_group_id} value='#{g.id}'>#{g.name}</option>"}.join
      %a{:href => "#", :id => "new_client_group_link", :style => "#{@center ? 'display:block' : 'display: none;'}"}
        Add new group
      %div#new_client_group_form
  %tr
    %td
      Name:
    %td
      = text_field :name, :size => 40
      %br
      - unless @client.new?
        %b 
          Mark this user as:
          %br
        - Client.flags.each do |f|
          = f
          = check_box :name => "tags[#{f}]", :checked => @client.tags && @client.tags.include?(f)
  %tr
    %td
      Client Type
    %td
      = select :client_type_id, :collection => ClientType.all, :value_method => :id, :text_method => :type
  %tr
    %td
      Reference:
    %td
      = text_field(:reference, :size => 40, :value => ((@client.reference.blank? and @center) ? "#{@branch.code}#{@center.code}" : @client.reference))
      %br/
      %span.greytext
        references are unique, a way to check that this is the only record of a client
        %br/
        for this reason it is advisable to use a government ID as reference
  %tr
    %td
      Date of birth:
    %td
      = date_select_for @client, :date_of_birth, :nullable => true, :min_date => Date.today-36500, :max_date => Date.today-1000
  %tr
    %td
      Date joined
    %td
      = date_select_for @client, :date_joined, :max_date => Date.today
  %tr
    %td
      Date of sucessful group recognization test:
    %td
      = date_select_for @client, :grt_pass_date, :nullable => true, :max_date => Date.today
  %tr
    %td
      Spouse name:
    %td
      = text_field :spouse_name, :size => 40
  %tr
    %td
      Address:
    %td
      ~ text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      Occupation
    %td
      = select :occupation_id, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"
  - if not @client.new?
    %tr
      %td
        Active:
      %td
        = check_box :active
        &nbsp;&nbsp;
        %span.greytext inactive member are not counted for attendancy
    %tr#inactive_options{:style => @client.active ? "display: none" : "display: block"}
      %td
        Reason
      %td
        = select :inactive_reason, :collection => INACTIVE_REASONS.reject{|x| x.blank?}.map{|x| [x.to_s, x.to_s.camelcase(' ')]}
     
  %tr
    %td
      Photo
    %td
      = image_tag @client.picture.url(:medium)
      = file_field :picture
