%table.form
  - if @branch.blank?
    %tr
      %td
        For center:
      %td
        = select_center_for @client, :center
  %tr
    %td
      Name:
    %td
      = text_field :name, :size => 40
  %tr
    %td
      Reference:
    %td
      = text_field :reference, :size => 40
      %br/
      %span.greytext
        references are unique, a way to check that this is the only record of a client
        %br/
        for this reason it is advisable to use a government ID as reference
  %tr
    %td
      Date of birth:
    %td
      = date_select_for @client, :date_of_birth, :nullable => true
  %tr
    %td
      Spouse name:
    %td
      = text_field :spouse_name, :size => 40
  %tr
    %td
      Address:
    %td
      ~ text_area :address, :rows => 6, :cols => 38
  - if not @client.new_record?
    %tr
      %td
        Active:
      %td
        = check_box :active
        &nbsp;&nbsp;
        %span.greytext inactive member are not counted for attendancy
  %tr
    %td
    %td
      = submit submit_text
      &nbsp;&nbsp;
      = link_to 'cancel', cancel_link