%span{:style => "font-family: Georgia; font-size: 2em;"} 
  == #{@clients.count} clients in this center

.menu-strip
  %b Key =>
  %span.applied applied
  %span.approved approved
  %span.outstanding outstanding
  %span.repaid repaid
  %span.arrears in arrears
  %span.written-off written-off
  %span.preclosed preclosed
- if @clients.blank? and @center.client_groups.length==0
  %p
    %i== No clients for the #{@branch.name} branch yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th loans
        %th
    %tbody
    - group=-1
    - @clients.sort_by{|x| [x.client_group.id, x.id]}.each do |client|
      - if group!=client.client_group_id
        - group = client.client_group_id 
        %tr.group
          %td{:colspan => 5}
            - if client.client_group
              %b
                = link_to client.client_group.name, resource(client.client_group)
                (
                = link_to('edit', resource(@branch, @center, client.client_group, :edit))
                )
            - else
              Not attached to any group
            
      %tr{ :class => cycle('odd','')}
        %td &nbsp;
        %td
          = client.id
          - unless client.active
            %i{:style => "background-color : #{client.active ? '#fff' : '#fdd'}; padding: 3px;" }
              inactive 
        %td
          %b= link_to client.name, resource(@branch, @center, client)
        %td
          %ul.inline
            - client.loans.each do |l|
              %li
                = link_to l.short_tag, url_for_loan(l), :class => (l.info ? l.info[:status] : l.get_status)
        %td
          = link_to 'edit', resource(@branch, @center, client, :edit)
          &nbsp;|&nbsp;
          = link_to 'new loan', resource(@branch, @center, client, :loans, :new)
    - ClientGroup.all(:center => @center).reject{|cg| cg.clients.count!=0}.each do |client_group|
      %tr.group
        %td{:colspan => 5}
          %b
            = link_to client_group.name, resource(client_group)
            (
            = link_to('edit', resource(@branch, @center, client_group, :edit))
            )
      %tr

        %td{:colspan => 5}
          %i No clients yet in this group
    %tfoot
      %tr
        %td{ :colspan => 7 }

