%h1== Edit the '#{@client.name}' client details

= error_messages_for @client
- form_url   = (@branch ? resource(@branch, @center, :clients) : resource(:clients, {:return => params[:return]}))
- cancel_url = params[:return] ? "/"+params[:return] : resource(@branch, @center, @client)

- cancel_url = (params[:return] ? resource(@branch, @center, @client, {:return => params[:return]}) : resource(@branch, @center, @client))
- form_url   = (params[:return] ? resource(@branch, @center, @client, {:return => params[:return]}) : resource(@branch, @center, @client))

= form_for(@client, :action => form_url, :multipart => true) do
  = partial "clients/fields", :submit_text => "Save changes", :cancel_link => cancel_url

  = submit "Save client"
&nbsp;&nbsp;
= link_to 'cancel', cancel_url

