- if @center.clients.loans.size > 0
  .graph
    = ofc2(430, 200, 'http://' + request.env['HTTP_HOST'] + url(:graph_data, :action => 'center', :id => @center.id, :scope_unit => 'months', :scope_size => 3) )


%h1== Center: <i>#{@center.name}</i>

%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td name
    %td
      %b= @center.name
      == (id: #{@center.id})
  %tr
    %td manager
    %td= link_to @center.manager.name, resource(@center.manager)
  %tr.odd
    %td in branch
    %td
      = link_to @branch.name, resource(@center.branch)
      %br/
      %span.greytext
        managed by:
        = link_to @center.branch.manager.name, resource(@center.manager)
  %tr
    %td meeting
    %td== #{@center.meeting_day.to_s.capitalize}#{(@center.meeting_time_hours and @center.meeting_time_minutes) ? ", #{@center.meeting_time_hours}:#{@center.meeting_time_minutes}" : ''}


%p= link_to 'edit this center\'s details', resource(@branch, @center, :edit)

%h2== Clients of the <i>#{@center.name}</i> center

%p
  == Manage existing clients or #{link_to 'add a new client', resource(@branch, @center, :clients, :new)}.

- if @clients.blank?
  %p
    %i== No clients for the #{@branch.name} branch yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th loans
    %tbody
    - @clients.each do |client|
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = client.id
        %td
          %b= link_to client.name, resource(@branch, @center, client)
        %td
          %b= Loan.all(:client_id => client.id).count
          == (#{link_to 'view', resource(@branch, @center, client, :loans)})
        %td
          = link_to 'edit', resource(@branch, @center, client, :edit)
          &nbsp;|&nbsp;
          = link_to 'new loan', resource(@branch, @center, client, :loans, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }



  = link_to 'New', resource(@branch, @center, :clients, :new)

  %h2 
    Activity for 
    = @date
  %h3
    Change the date: 
  choose:
  = link_to 'today', resource(@branch, @center, :date => Date.today)
  |
  = link_to 'previous meeting date', resource(@branch, @center, :date => @center.previous_meeting_date_from(@date))
  |
  = link_to 'next meeting date', resource(@branch, @center, :date => @center.next_meeting_date_from(@date))
  %h3
    or
  | custom date
  %form{ :action => resource(@branch, @center), :method => 'GET', :style => 'float:left;'}
    = date_select 'date', @date
    = submit 'Go!'
  - if @center.meeting_day? @date
    %table.narrow.form{ :width => '100%' }
      %thead
        %tr
          %th
          %th loan id
          %th name
          %th loan details
          %th principal due
          %th interest due
          %th total due
      %tbody
        - @clients.loans.all(:order => ['client_id']).each do |loan|
          %tr{ :class => cycle('odd','') }
            %td &nbsp;
            %td
              = loan.id
              %td
                %b= link_to loan.client.name, resource(@branch, @center, loan.client)
              %td 
                == Rs.#{loan.amount} disbursed #{loan.disbursal_date}
              %td
                = loan.scheduled_received_principal_up_to(@date) - loan.principal_received_up_to(@date)
              %td
                = loan.scheduled_received_interest_up_to(@date) - loan.interest_received_up_to(@date)
              %td
                = loan.scheduled_received_principal_up_to(@date) - loan.principal_received_up_to(@date) + loan.scheduled_received_interest_up_to(@date) - loan.interest_received_up_to(@date)
      %tfoot
        %tr
          %td{ :colspan => 7 }
  - else
    %i This day is not a meeting day