.graph
  = ofc2(430, 200, url(:graph_data, :action => 'center', :id => @center.id, :scope_unit => 'months', :scope_size => 3) )

%h1== Center: <i>#{@center.name}</i>
%div.maininfo
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td name
      %td
        %b= @center.name
        == (code: #{@center.code}, id: #{@center.id})
    %tr
      %td manager
      %td= link_to @center.manager.name, resource(@center.manager)
    %tr.odd
      %td in branch
      %td
        = link_to @branch.name, resource(@center.branch)
        %br/
        %span.greytext
          managed by:
          = link_to @center.branch.manager.name, resource(@center.manager)
    %tr
      %td meeting
      %td== #{@center.meeting_day.to_s.capitalize}#{(@center.meeting_time_hours and @center.meeting_time_minutes) ? ", #{@center.meeting_time_hours}:#{@center.meeting_time_minutes}" : ''}
  %p
    = link_to 'edit this center\'s details', resource(@branch, @center, :edit), :class => "edit"
    = link_to 'add a new client', resource(@branch, @center, :clients, :new), :class => "add"
%div.tab_container
  %ul.tabs
    %li#centers
      Clients
    %li#weeksheet
      Weeksheet
  %div.tab
    =partial "clients/list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:weeksheet, :center_id => @center.id, :branch_id => @branch.id, :date => @date)}
    /=partial "centers/weeksheet"
