.graph
  = ofc2(430, 250, url(:graph_data, :action => 'center', :id => @center.id, :scope_unit => 'months', :scope_size => 3) )

%h1== Center: <i>#{@center.name}</i>
%div.maininfo
  %table.narrow.form{ :style => "width: 40%;" }
    %tr.odd
      %td name
      %td
        %b= @center.name
        == (code: #{@center.code}, id: #{@center.id})
    %tr
      %td manager
      %td= link_to @center.manager.name, resource(@center.manager)
    %tr.odd
      %td in branch
      %td
        = link_to @branch.name, resource(@center.branch)
        %br/
        %span.greytext
          managed by:
          = link_to @center.branch.manager.name, resource(@center.manager)
    %tr
      %td meeting
      %td== #{@center.meeting_day.to_s.capitalize}#{(@center.meeting_time_hours and @center.meeting_time_minutes) ? ", #{@center.meeting_time_hours}:#{@center.meeting_time_minutes}" : ''}
    %tr.odd
      %td Address
      %td=@center.address
    %tr
      %td Contact number
      %td=@center.contact_number
    %tr.odd
      %td Landmark
      %td=@center.landmark
    %tr
      %td Center leader
      - leader = @center.leader
      %td=leader.client.name if leader
  %p
    = link_to 'edit this center\'s details', resource(@branch, @center, :edit), :class => "edit"
    = link_to 'add a new client', resource(@branch, @center, :clients, :new), :class => "add"
%div.tab_container
  %ul.tabs
    %li#centers
      Clients
    %li#info
      Info
    %li#weeksheet
      Weeksheet
    %li#documents
      Documents
    %li#audit
      Audit Items
    %li#data_entry
      Data Entry
    %li#history
      History
  %div.tab    
    =partial "clients/list", :center_leader => leader
  %div.tab    
    %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@center.id}?for=center"}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:weeksheet, :center_id => @center.id, :branch_id => @branch.id, :date => @date)}
    /=partial "centers/weeksheet"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @center.id, :parent_model => Center)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => resource(:audit_items, :id => @center.id, :model => "Center")}
  %div.tab
    %form._remote_{:action => url(:action => "bulk_data_entry", :controller => "centers", :id => @center.id, :branch_id => @branch.id), :method => :get}
      %b &nbsp; Select field to do mass entry
      =select_mass_entry_field(:name => "field_name")
      %input{:type => "hidden", :name => "_target_", :value => "bulk_form"}
      = submit "GO"
    %div#bulk_form
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
