.shaded{:style => "padding: 5px; margin-bottom: 10px;"}
  .graph
    = ofc2(530, 300, url(:graph_data, :action => 'center', :id => @center.id, :scope_unit => 'months', :scope_size => 3) )
  %h1== Center: <i>#{@center.name}</i> (#{@clients.count} clients)
  .menu-strip
    = link_to 'edit center', resource(@branch, @center, :edit), :class => "edit grey_button"
    &nbsp;
    = link_to 'new client', resource(@branch, @center, :clients, :new), :class => "add_small grey_button", :style => "margin: 0px; padding-right: 3px;"
    = link_to "Bulk add loans", url(:enter_loans, :action => :bulk_form, :query => @center), :class => "add_small grey_button"
    &nbsp;
    = link_to "Bulk add clients", url(:controller => :clients, :action => :bulk_entry, :branch_id => @center.branch.id, :center_id => @center.id), :class => 'add_small grey_button'


  %div.maininfo
    %table.narrow.form{ :style => "width: 40%;" }
      %tr.odd
        %td Name
        %td
          %b= @center.name
          == (code: #{@center.code}, id: #{@center.id})
      %tr
        %td Creation Date
        %td
          = @center.creation_date
          (
          = @center.creation_date.strftime('%A')
          )
      %tr.odd
        %td Manager
        %td= link_to @center.manager.name, resource(@center.manager)
      %tr
        %td In branch
        %td
          = link_to @branch.name, resource(@center.branch)
          %br/
          %span.greytext
            Managed by:
            = link_to @center.branch.manager.name, resource(@center.manager)
      %tr.odd
        %td Meeting
        %td== #{@center.meeting_day_for(Date.today)}#{(@center.meeting_time_hours and @center.meeting_time_minutes) ? ", #{@center.meeting_time_hours}:#{@center.meeting_time_minutes}" : ''}
      %tr
        %td Address
        %td=@center.address
      %tr.odd
        %td Contact number
        %td=@center.contact_number
      %tr
        %td Landmark
        %td=@center.landmark
      - if total_attendance_at_branch = Attendance.count("client.center_id" => @center.id) and total_attendance_at_branch > 0
        %tr.odd
          %td
            Attendance
          %td
            = (Attendance.count("client.center_id" => @center.id, :status => "present") * 100.0 / total_attendance_at_branch).round(2)
            = "%"
.shaded
  %div.tab_container
    %ul.tabs
      %li#centers
        Clients
      %li#info
        Info
      %li#weeksheet
        Weeksheet
      %li#documents
        Documents
      %li#audit
        Audit
      %li#data_entry
        Data Entry
      %li#history
        History
      %li#miscellaneous
        Miscellaneous
      - if Mfi.first.map_enabled
        %li#map
          Map
    %div.tab    
      = partial "clients/list", :center_leader => @clients.first
      %p.menu-strip 
        = link_to 'Create new client', resource(@branch, @center, :clients, :new), :class => "add grey_button"
        = link_to "Bulk entry of loans", url(:enter_loans, :action => :bulk_form, :query => @center), :class => "edit grey_button"
    %div.tab    
      %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@center.id}?for=center"}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => url(:weeksheet, :center_id => @center.id, :branch_id => @branch.id, :date => @date)}
      /=partial "centers/weeksheet"
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @center.id, :parent_model => Center)}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => resource(:audit_items, :id => @center.id, :model => "Center")}
    %div.tab
      %form._remote_{:action => url(:action => "bulk_data_entry", :controller => "centers", :id => @center.id, :branch_id => @branch.id), :method => :get}
        %b &nbsp; Select field to do mass entry
        = select_mass_entry_field(:name => "field_name")
        %input{:type => "hidden", :name => "_target_", :value => "bulk_form"}
        = submit "GO"
      %div#bulk_form
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :centers, :id => @center.id, :action => :misc)}
    - if Mfi.first.map_enabled
      %div.tab
        = js_include_tag :map
        = partial "locations/map", {:obj => @center}