%h1 Add a new client

= error_messages_for @client
- form_url   = (@branch ? resource(@branch, @center, :clients) : resource(:clients, {:return => params[:return]}))
- cancel_url = params[:return] ? "/"+params[:return] : resource(@branch, @center)

= form_for(@client, :action => form_url, :multipart => true) do
  = partial("clients/fields")

  = submit "Add client"
= link_to 'cancel', cancel_url

