- if @center
  %h2 
    Center: 
    = @center.name
  %table.form
    - @center.clients.each do |client|
      %tr
        %td &nbsp;
        %td
          %b= client.name
        %td
          = client.reference
        %td
          = form_for(client, :action => url(:enter_clients, :action => 'edit', :id => client.id), :method => :get) do
            = submit "Proceed..."
- else
  %h1 Edit client
  %p
    Please select a client that you want to edit, either by its client ID, or through the center it belongs to.
  %table.form
    = form_for(@client, :action => url(:controller => params[:controller], :action => 'edit'), :method => :get) do
      %tr
        %td &nbsp;
      %tr
        %td &nbsp;
        %td
          Client ID, Name or Ref.:
        %td
          = text_field :client_id, :size => 8
        %td
          = submit "Proceed..."
      %tr
        %td &nbsp;
    = form_for(@client, :action => url(:enter_clients, :action => 'edit'), :method => :get) do
      %tr
        %td &nbsp;
        %td
          Center:
        %td
          = select_center_for Client.new, :center
        %td
          = submit "Proceed..."


