%h1== Center: <i>#{@center.name}</i>

%table.narrow.form
  %tr
    %td name
    %td
      %b= @center.name
      == (id: #{@center.id})
  %tr
    %td manager
    %td= link_to @center.manager.name, resource(@center.manager)
  %tr
    %td in branch
    %td
      = link_to @branch.name, resource(@center.branch)
      %br/
      %span.greytext
        managed by:
        = link_to @center.branch.manager.name, resource(@center.manager)
  %tr
    %td meeting
    %td== #{@center.meeting_day}, #{@center.meeting_time}


%p= link_to 'edit this center\'s details', resource(@branch, @center, :edit)

%h2== Clients of the <i>#{@center.name}</i> center

%p
/  == Manage existing clients or #{link_to 'add a new client', resource(@branch, @center, :clients, :new)}.
= form_for(@center, :action=>url(:show_center, @branch.id, @center.id, :pay_loans)) do
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
          %th id
          %th name
          %th prin_due
          %th int_due
          %th total_due
          %th paid
    %tbody
      - for loan in @loans
        %tr{ :class => cycle('odd','') }
          %td &nbsp;
          %td
            = loan.id
          %td
            %b= link_to loan.client.name, resource(@branch, @center, loan.client)
          %td
            aaa
          %td
            = loan.interest_due_on(Date.today)
          %td
            = loan.interest_due_on(Date.today) + loan.principal_due_on(Date.today)
          %td
            - if loan.interest_due_on(Date.today) + loan.principal_due_on(Date.today) > 0 
              = select :name => "pay_#{loan.id}", :collection => %w(yes no), :value_method => :index
    %tfoot
      %tr
        %td{ :colspan => 7 }
  = submit 'Make Payments'



