%table
  %tr
    %td
      Name
    %td
      - if @branch
        = select :manager_staff_id, :collection => @branch.centers.managers(:order => [:name]).map{ |x| [x.id, x.name]}
      - else
        = select_staff_member_for @branch_diary, :manager, {}, true
      %span.greytext select the person who opens the branch
  %tr
    %td
      Date
    %td
      = date_select_for @branch_diary, :diary_date
      %span.greytext pre-selected is todays date
  %tr
    %td
      Branch
    %td
      - if @branch
        = @branch.name
        = hidden_field(:branch_id, :value => @branch.id)
      - else
        = select :branch_id, :collection => Branch.all.map{ |x| [x.id, x.name]}, :prompt => "Select Branch"
  %tr
    %td
      Opening Time
    %td
      = text_field :opening_time_hours, :size => 2
      %b   :
      = text_field :opening_time_minutes, :size => 2
      %span.greytext enter time in 24 hour format (hh:mm)
  %tr
    %td
      Closing Time
    %td
      = text_field :closing_time_hours, :size => 2
      %b  :
      = text_field :closing_time_minutes, :size => 2
      %span.greytext enter time in 24 hour format (hh:mm)
  %tr
    %td
      Branch Key
    %td
      = text_field :branch_key
      %span.greytext person who holds the keys of the branch today


  
