%h2
  Daily Activities of Branch
%p
  = link_to_with_rights "Enter new details for Branch Diary", resource(:branch_diaries, :new, {:branch_id => params[:branch_id]}), :class => "add _remote_"
- if @branch_diaries.blank?
  %p
    %i No data to display. Please enter the data to view the Branch Diary.
- else
  %table.narrow
    %thead
      %tr
        %th
        %th Id
        %th
        %th Branch
        %th Date
        %th Opening Time
        %th Closing Time
        %th Branch Key held by
        %th Branch Opened By
        %th Edit
 
    %tbody
    - for branch_diary in @branch_diaries
      %tr{ :class => cycle('odd', '') }
        %td &nbsp;
        %td
          = branch_diary.id
        %td
        %td
          = link_to branch_diary.branch.name, url(:quick_link, "branches", branch_diary.branch_id)
        %td
          = branch_diary.diary_date
        %td
          = branch_diary.opening_time_hours
          = ':'
          = branch_diary.opening_time_minutes
        %td
          = branch_diary.closing_time_hours
          = ':'
          = branch_diary.closing_time_minutes
        %td
          = branch_diary.branch_key
        %td
          = link_to branch_diary.manager.name, url(:quick_link, "staff_members", branch_diary.manager_staff_id)
        %td
          = link_to 'edit', resource(branch_diary, :edit)

    %tfoot
      %tr
        %td{ :colspan => 10}

  = paginate @branch_diaries
  - if @branch
    = link_to 'Back', url(:quick_link, "branches", branch_diary.branch_id)
  - else
    = link_to 'Back', url(:branch_diaries)


