

%h1 Data Entry
Follow the links below to perform common actions quickly. Most forms are made especially for mass data entry.
/%p At the bottom you find an overview of all modifications that you have made.
- if session.user.can_manage?(:branch)
  %h2 Branches
  = link_to 'add new branch', url(:enter_branches, :action => 'new')
  |
  = link_to 'edit a branch', url(:enter_branches, :action => 'edit')

- if session.user.can_manage?(:center)
  %h2 Centers
  = link_to 'add new center', url(:enter_centers, :action => 'new')
  |
  = link_to 'edit a center', url(:enter_centers, :action => 'edit')

- if session.user.can_manage?(:center)
  %h2 Groups
  = link_to 'add a group to a center', url(:enter_groups, :action => 'new')
  |
  = link_to 'edit a group', url(:enter_groups, :action => 'index')

- if session.user.can_manage?(:client)
  %h2 Clients
  = link_to 'add new clients', url(:enter_clients, :action => 'new')
  |
  = link_to 'edit a client', url(:enter_clients, :action => 'edit')

- if session.user.can_manage?(:payment)
  %h2 Payments
  = link_to 'record payments', url(:enter_payments, :action => 'record')
  |
  = link_to 'by center', url(:enter_payments, :action => 'by_center')
  |
  = link_to 'by staff member', url(:enter_payments, :action => 'by_staff_member')
  |
  = link_to 'delete a payment', url(:enter_payments, :action => 'delete')

- if session.user.can_manage?(:loan)
  %h2 Loans
  = link_to 'create new loans', url(:enter_loans, :action => 'new')
  |
  = link_to 'edit a loan', url(:enter_loans, :action => 'edit')
  |
  = link_to_with_rights 'approve unapproved loans', url(:enter_loans, :action => 'approve')

- if session.user.can_access?(:admin, :index)
  %h1 Administration
  %ul
    %li
      = link_to 'Manage Users', resource(:users)
    %li
      = link_to 'Manage loan products', resource(:loan_products)
    %li
      = link_to 'Upload data', url(:action => "upload")
