%h1 Data Entry
%h3 Follow the links below to perform common actions quickly. 
%h3{:style => "color: #6C8506;"}
  Most forms are made especially for mass data entry.
/%p At the bottom you find an overview of all modifications that you have made.
- @i = 1
%table#data_entry_index
  -user = session.user
  - [:branch, :center, :group, :client, :loan, :payment].each do |thing|
    - plural = thing.to_s.pluralize
    - if (@i-1) % 3 == 0
      %tr
      - @i=1
    - if user.can_manage?(thing)
      %td
        = image_tag "/images/#{plural}.jpg"
      %td
        %h3{:style => "border-bottom: dotted 1px #999"} 
          = plural.capitalize
        - if thing == :payment
          = link_to "Record a repayment", url("enter_#{plural}".to_sym, :action => 'record'), :class => 'add_small'
          %br
          = link_to "By Center", url("enter_#{plural}".to_sym, :action => 'by_center'), :class => 'add_small'
          %br
          = link_to "By Staff Member", url("enter_#{plural}".to_sym, :action => 'by_staff_member'), :class => 'add_small'
          %br
          = link_to "Delete a repayment <br/>", url("enter_#{plural}".to_sym, :action => 'delete'), :class => 'add_small' 
          = link_to_with_rights("Collection sheet<br/>", url(:enter_payments,:action => 'staff_collection_sheet'), :class => 'edit_small')
          - @day = Date.today.day + 1
          - @pday = Date.today.day - 1
          - @month = Date.today.strftime('%B')
          - @year = Date.today.year         
          = link_to "Daily Report <br/>", url(:show_report, 'DailyReport') + '? daily_report[date]=Date.today.day+@month%2C+@year&submit=Go', :class => 'edit_small'
          = link_to "Transaction Ledger <br/>", url(:show_report, 'TransactionLedger') +'? transaction_ledger[from_date]=@pday+@month%2C+@year&submit=Go', :class => 'edit_small'
       
        - else
          = link_to_with_rights "Add new #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'new'), :class => 'add_small'
          %br
          = link_to_with_rights "Edit a #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'edit'), :class => 'edit_small'
        - if thing == :loan
          %br
          - pa = Loan.all(:approved_on => nil).size
          %b{:style => "color:green;"}
            = link_to_with_rights("Approve Loans (#{pa})<br/>", url(:loan_actions,:action => 'approve'), :class => 'edit_small',:style => "font-weight: bold;")
          - nd = Loan.all(:disbursal_date => nil, :scheduled_disbursal_date.lte => Date.today).select{|l| l.status == :approved}.size
          %b{:style => "color:green;"}
            = link_to_with_rights("Disburse Loans (#{nd})<br/>", url(:loan_actions, :action => 'disburse'), :class => 'edit_small',:style =>"font-weight: bold;")
          - sg = Loan.all(:write_off_rejected_on => nil, :written_off_on => nil, :suggested_written_off_on.lte => Date.today).size
          = link_to_with_rights("Write Off Loans (#{sg})<br/>", url(:loan_actions, :action => 'write_off_suggested'), :class => 'edit_small')
         
          = link_to "Weekly requirement of funds <br/>", url(:show_report, 'ProjectedReport') + '? projected_report[from_date]=@day+@month%2C+@year&submit=Go', :class => 'edit_small'
          = link_to_with_rights("Disbursement Sheet <br/>", url(:enter_loans,:action => 'staff_disbursement_sheet'), :class => 'edit_small')
        - @i += 1
      
        - if thing == :client
          %br
          - cl = Client.all(:active => false).size
          = link_to ("Inactive Clients(#{cl})", url(:client_actions,:action => 'inactive_client_count'), :class => 'edit_small')
        - if thing == :center
          %br
          = link_to_with_rights("Loan Utilization", url(:enter_loans,:action => 'make_loan_utilization'), :class => 'edit_small')
          