.right
  %form{:action => url(:controller => "data_entry", :action => :fixate), :method => :post}
    %b Select branch
    = select :branch_id, :collection => Branch.all(:order => [:name]).map{|x| [x.id, x.name]}, :selected => session[:branch_id], :prompt => "Select branch", :id => "branch_selector"
    %b Select center
    = select(:center_id, :collection => get_accessible_centers(session[:branch_id]), :include_blank => true, :selected => session[:center_id], :id => "center_selector")
    = submit "Fixate"
%h1 Data Entry
%h3 Follow the links below to perform common actions quickly. 
%h3{:style => "color: #6C8506;"}
  Most forms are made especially for mass data entry.
/%p At the bottom you find an overview of all modifications that you have made.

- @i = 1
%table#data_entry_index
  -user = session.user
  - [:branch, :center, :group, :client, :loan, :payment].each do |thing|
    - plural = thing.to_s.pluralize
    - if (@i-1) % 3 == 0
      %tr
      - @i=1
    - if user.can_manage?(thing)
      %td
        = image_tag "/images/#{plural}.jpg"
      %td
        %h3{:style => "border-bottom: dotted 1px #999"} 
          = plural.capitalize
        - if thing == :payment
          = link_to "Record a repayment", url("enter_#{plural}".to_sym, :action => 'record'), :class => 'add_small'
          %br
          = link_to "By Center", url("enter_#{plural}".to_sym, :action => 'by_center'), :class => 'add_small'
          %br
          = link_to "By Staff Member", url("enter_#{plural}".to_sym, :action => 'by_staff_member'), :class => 'add_small'
          %br
          = link_to "Delete a repayment <br/>", url("enter_#{plural}".to_sym, :action => 'delete'), :class => 'add_small' 
          = link_to_with_rights("Collection sheet<br/>", url(:enter_payments,:action => 'staff_collection_sheet'), :class => 'edit_small')
          = link_to "Daily Report", url(:show_report, 'DailyReport', {:daily_report => {:date => Date.today, :branch_id => session[:branch_id], :center_id => session[:center_id]}, :submit => "Go"}), :class => 'edit_small'
          %br
          = link_to "Transaction Ledger", url(:show_report, 'TransactionLedger', {:transaction_ledger => {:from_date => Date.today, :branch_id => session[:branch_id], :center_id => session[:center_id]}, :submit => "GO"}), :class => 'edit_small'
          %br
        - else
          = link_to_with_rights "Add new #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'new'), :class => 'add_small'
          %br
          = link_to_with_rights "Edit a #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'edit'), :class => 'edit_small'
        - if thing == :loan
          %br
          = link_to_with_rights("Bulk entry of loans", url(:enter_loans, :action => :bulk_form), :class => 'add_small')
          %br
          -# - fl = Loan.all(:funding_line => nil).count
          = link_to_with_rights("Bulk Edit Funding Lines", url(:enter_loans, :action => :bulk_update_funding_line), :class => 'edit_small')
          -# %span{:class => "number-hint"} #{fl}
          %br
          -# pa = get_loans(:approved_on => nil, :rejected_on => nil).count
          = link_to_with_rights("Approve Loans", url(:loan_actions,:action => 'approve'), :class => 'edit_small')
          %span.number-hint 
            -# = pa
          -# nd = get_loans(:disbursal_date => nil, :scheduled_disbursal_date.lte => Date.today, :approved_on.not => nil, :rejected_on => nil).count
        
          %br
          = link_to_with_rights("Disburse Loans", url(:loan_actions, :action => 'disburse'), :class => 'edit_small')
          %span.number-hint 
            -# = nd
          %br
          -# sg = Loan.all(:write_off_rejected_on => nil, :written_off_on => nil, :suggested_written_off_on.lte => Date.today).count
          = link_to_with_rights("Write Off Loans", url(:loan_actions, :action => 'write_off_suggested'), :class => 'edit_small')
          %span.number-hint
            -# = sg
          %br
          = link_to_with_rights "Weekly requirement of funds", url(:show_report, 'ProjectedReport', {:projected_report => {:from_date => Date.today+1, :branch_id => session[:branch_id], :center_id => session[:center_id]}, :submit => "GO"}), :class => 'edit_small'
          
          %br
          = link_to_with_rights("Disbursement Sheet", url(:enter_loans,:action => 'staff_disbursement_sheet'), :class => 'edit_small')
        - @i += 1
      
        - if thing == :client
          %br
          = link_to "Bulk add clients", url(:controller => :clients, :action => :bulk_entry), :class => 'add_small'
          %br
          - cl = Client.all(:active => false).aggregate(:id.count)
          = link_to_with_rights("Inactive Clients", url(:controller => :clients, :action => :inactive_client_count), :class => 'edit_small')
          %span.number-hint
            = cl
        - if thing == :center
          %br
          = link_to_with_rights("Loan Utilization", url(:enter_loans,:action => 'make_loan_utilization'), :class => 'edit_small')
          