

%h1 Data Entry
%h3 Follow the links below to perform common actions quickly. 
%h3{:style => "color: #6C8506;"}
  Most forms are made especially for mass data entry.
/%p At the bottom you find an overview of all modifications that you have made.
- @i = 1
%table{:width => "100%"}
  - [:branch, :center, :group, :client, :payment, :loan, :attendancy].each do |thing|
    - plural = thing.to_s.pluralize
    - if (@i-1) % 3 == 0
      %tr
      - @i=1
    - if session.user.can_manage?(thing)
      %td
        = image_tag "/images/#{plural}.jpg"
      %td
        %h3{:style => "border-bottom: dotted 1px #999"} 
          = plural.capitalize
        = link_to "Add new #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'new'), :class => 'add_small'
        %br
        = link_to "Edit a #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'edit'), :class => 'edit_small'
        - @i += 1

- if session.user.can_access?(:admin, :index)
  %h1 Administration
  = link_to 'Manage Users', resource(:users), :class => 'edit'
  |
  = link_to 'Manage loan products', resource(:loan_products), :class => 'edit'
  |
  = link_to 'Manage Staff Members', resource(:staff_members), :class => 'edit'
  |
  = link_to 'Upload data', url(:controller => 'admin', :action => "upload"), :class => 'edit'
