%h1 Data Entry
%h3 Follow the links below to perform common actions quickly. 
%h3{:style => "color: #6C8506;"}
  Most forms are made especially for mass data entry.
/%p At the bottom you find an overview of all modifications that you have made.
- @i = 1
%table#data_entry_index
  -user = session.user
  - [:branch, :center, :group, :client, :loan, :payment].each do |thing|
    - plural = thing.to_s.pluralize
    - if (@i-1) % 3 == 0
      %tr
      - @i=1
    - if user.can_manage?(thing)
      %td
        = image_tag "/images/#{plural}.jpg"
      %td
        %h3{:style => "border-bottom: dotted 1px #999"} 
          = plural.capitalize
        - if thing == :payment
          = link_to "Record a payment", url("enter_#{plural}".to_sym, :action => 'record'), :class => 'add_small'
          %br
          = link_to "By Center", url("enter_#{plural}".to_sym, :action => 'by_center'), :class => 'add_small'
          %br
          = link_to "By Staff Member", url("enter_#{plural}".to_sym, :action => 'by_staff_member'), :class => 'add_small'
          %br
          = link_to "Delete a payment", url("enter_#{plural}".to_sym, :action => 'delete'), :class => 'add_small'
        -else
          = link_to_with_rights "Add new #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'new'), :class => 'add_small'
          %br
          = link_to_with_rights "Edit a #{thing.to_s}", url("enter_#{plural}".to_sym, :action => 'edit'), :class => 'edit_small'
        - if thing == :loan
          %br
          - pa = Loan.all(:approved_on => nil).size
          %b{:style => "color:green;"}
            = link_to_with_rights("Approve Loans (#{pa})<br/>", url(:loan_actions,:action => 'approve'), :class => 'edit_small',:style => "font-weight: bold;")
          - nd = Loan.all(:disbursal_date => nil, :scheduled_disbursal_date.lte => Date.today).select{|l| l.status == :approved}.size
          %b{:style => "color:green;"}
            = link_to_with_rights("Disburse Loans (#{nd})", url(:loan_actions, :action => 'disburse'), :class => 'edit_small',:style =>"font-weight: bold;")
            == 
        - @i += 1

