%h1
  Account Balances 
  - if @account
    == for #{@account.name} 
  - if @accounting_period
    == for accounting period #{@accounting_period.name}

- if @account_balances.empty?
  #container_form
    .notice{:style => "background: none; text-align: center;"}
      No opening or closing account balances are currently set
      /= link_to 'Set an account balance', url(:new_account_balance, :account_id => @account.id), :class => '_remote_ add', :id => 'form'

- else
  %table.narrow
    %thead
      %tr
        %th
          Accounting Period
        %th
          Opening Balance
        %th
          Closing Balance
        %th Actions
    %tr
    - for account_balance in @account_balances
      %tr{:class => cycle('odd','even')}
        %td
          = link_to account_balance.accounting_period.name, resource(account_balance.accounting_period)
        %td
          = account_balance.opening_balance.to_account_balance
        %td
          = account_balance.closing_balance.to_account_balance
        %td
          - unless account_balance.verified?
            - if session.user.role == :admin
              = link_to 'Verify', url(:verify_account_balance, account_balance.account, account_balance.accounting_period, account_balance)
