!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %title
      = page_title
    %link{ :rel => "icon", :type => "image/ico", :href => "/favicon.ico" }/
    = css_include_tag :screen, :media => "screen, projection"
    = css_include_tag :print, :media => "print"
    = css_include_tag :style, :media => "screen, projection"
    = css_include_tag "jquery-ui", :media => "screen, projection"
    = js_include_tag :jquery, :application, :swfobject, "jquery.highlight.js" , "jquery-ui.min.js", "jquery.floatheader.min.js"
  %body
    #header
      #login{:style => 'margin: 2px; float: right; padding: 4px;position:relative; right:150px;'}
        - if Mfi.first.dirty_queue_enabled and count = DirtyLoan.pending.length and count > 0
          %i
            == (#{count} loans in queue)
        - if session.authenticated?
          =link_to 'change password', url(:change_password)
          |
          == logged in as <b>#{session.user.login}</b> (#{link_to 'log out', url(:logout)})
        - else
          existing users can
          %b= link_to 'login', url(:login)
          to proceed
      %h1.logo
        -if mfi = Mfi.first
          %span{:style => "color: #{mfi.color||'green'};"}
            -if mfi.logo_name and not mfi.logo_name.blank?
              = image_tag("logos/#{mfi.logo_name}", :height => 50)
            -if mfi.name
              = mfi.name
            -else
              MOSTFIT
        -else
          MOSTFIT
      - if session.authenticated?
        #navigation
          = link_to_with_class('Home', url(:browse))
          = link_to_with_class('Data entry', url(:data_entry))
          = link_to_with_class('Admin', url(:admin))
          = link_to_with_class('Dashboard', url(:dashboard))
          = link_to_with_class('Reports', url(:reports))
          #header_search_div
            %form._remote_{:action => '/search', :class => 'search', :method => "POST"}
              %input{:name => 'query', :value => params[:query], :autocomplete => "off"}
              %input{:type => 'hidden', :name => '_target_', :value => "content p"}
              %input{:type => 'submit', :value=>'search'}
    #content
      .container
        #breadcrums= breadcrums
        - if message
          #flash-messages.span-17.prefix-5.suffix-5.last
            - message.each do |key, value|
              .flash{ :class => key.to_s }
                %p= value
        - if params[:action]=="edit" and session.user.admin?
          %p{:style => "float: right; border: 1px solid orange; padding: 4px;"}
            =link_to("Delete", url(:controller => "application", :action => "delete", :id => params[:id], :model => params[:controller], :return => request.uri), :class => 'delete')
        %p
        = catch_content :for_layout
    #footer
      %p{:style => "position: relative; right: 10%; float: right;"}
        =image_tag("/images/mostfit_logo.png", :height => 80)
      == &copy; 2010 Intellecap &mdash; This software is released under the #{link_to 'GNU Affero General Public License', 'http://www.gnu.org/licenses/agpl.html'}.
      - if Merb::Config[:environment] == 'development'
        %p
          %a{ :name => "debug" }/
          %a{:onclick => "document.getElementsByClassName('debug-info')[0].style.display = '';", :href => '#debug'}
            debug info
          .debug-info{:style => 'display: none'}
            %code
              - debug_info.each do |i|
                %p
                  %a{:onclick => "document.getElementsByClassName('debug_#{i[:name]}')[0].style.display = '';", :href => "#debug_#{i[:name]}"}
                    = i[:code] + ' =>'
                  %br/
                  %span{:class => "debug_#{i[:name]}", :style => 'display: none'}
                    - if i[:obj].class == Hash
                      - i[:obj].each do |key, value|
                        = "#{key.inspect.to_s} => #{value.inspect.to_s}"
                        %br/
                    - elsif i[:obj].class == Array
                      - i[:obj].each do |n|
                        = n.inspect.to_s
                        %br/
                    - else
                      = i[:obj].inspect.to_s
                      %br/
                  %a{ :name => "debug_#{i[:name]}" }/

