=link_to("Add a document", resource(:documents, :new, {:parent_id => @parent.id, :parent_model => @parent.class}), :class => (request.xhr? ? "_remote_ add greenButton" : "add greenButton"))
%table.narrow{:width => "100%"}
  %tr    
    %th
      Type
    %th
      Number
    %th
      Date of issue
    %th
      Valid upto
    %th
      Issued by
    %th
      Description
    %th
      Attachments
    %th
  - for document in @documents
    %tr
      %td
        = document.document_type.name
      %td
        = document.number
      %td
        = document.date_of_issue
      %td
        = document.valid_upto
      %td
        = document.issuing_authority
      %td
        = document.description      
      %td
        -if /^image\//.match(document.document_content_type)
          =link_to(image_tag(document.document.url, :height => 50), document.document.url, :target => "BLANK")
        -else
          = link_to('download page 1', document.document.url, :target => "BLANK")
        - if document.document_2_file_name
          %hr
            -if(/^image\//.match(document.document_content_type))
              = link_to(image_tag(document.document_2.url, :height => 50), document.document_2.url, :target => "BLANK")
            -else
              = link_to('download page 2', document.document_2.url, :target => "BLANK")
        - if document.document_3_file_name
          %hr
            -if /^image\//.match(document.document_3_content_type)
              = link_to(image_tag(document.document_3.url, :height => 50), document.document_3.url, :target => "BLANK")
            -else
              = link_to('download page 3', document.document_3.url, :target => "BLANK")
        - if document.document_4_file_name
          %hr
          -if /^image\//.match(document.document_4_content_type)
            = image_tag(document.document_4.url, :height => 50)
          -else
            = link_to 'download page 4', document.document_4.url, :target => "BLANK"
      %td
        = link_to_with_rights('Edit', url(:action => :edit, :id => document, :parent_id => @parent.id, :parent_model => @parent.class), :class => (request.xhr? ? "_remote_" : ""))

