%xml
  %transaction_log
    %id #{@transaction_log.id}
    %txn_id #{@transaction_log.txn_id}
    %txn_guid #{@transaction_log.txn_guid}      
    %txn_update_type #{@transaction_log.txn_update_type}
    %txn_type #{@transaction_log.txn_type}         
    %nature_of_transaction #{@transaction_log.nature_of_transaction} 
    %txn_sub_type_id #{@transaction_log.txn_sub_type_id}       
    %txn_sub_type_name #{@transaction_log.txn_sub_type_name}     
    %txn_amount #{@transaction_log.txn_amount}          
    %txn_currency #{@transaction_log.txn_currency}        
    %txn_effective_date #{@transaction_log.txn_effective_date}  
    %txn_record_date #{@transaction_log.txn_record_date}     
    %txn_updated_at_time #{@transaction_log.txn_updated_at_time} 
    %txn_verified_at_time #{@transaction_log.txn_verified_at_time} 
    %txn_deleted_at_time #{@transaction_log.txn_deleted_at_time} 
    %txn_paid_by_type #{@transaction_log.txn_paid_by_type}    
    %txn_paid_by_id #{@transaction_log.txn_paid_by_id}      
    %txn_paid_by_name #{@transaction_log.txn_paid_by_name}    
    %txn_received_by_type #{@transaction_log.txn_received_by_type}
    %txn_received_by_id #{@transaction_log.txn_received_by_id}  
    %txn_received_by_name #{@transaction_log.txn_received_by_name}
    %txn_transacted_at_type #{@transaction_log.txn_transacted_at_type}  
    %txn_transacted_at_id #{@transaction_log.txn_transacted_at_id}    
    %txn_transactied_at_name #{@transaction_log.txn_transacted_at_name}  