%h1== Edit the '#{@center.name}' center details

= error_messages_for @center

- if @center.new_record?
  %p
    Please select a center that you want to edit
  %table.form
    = form_for(@center, :action => url(:enter_centers, :action => 'edit')) do
      %tr
        %td &nbsp;
      %tr
        %td &nbsp;
        %td
          Center ID:
        %td
          = text_field :id, :size => 8
        %td
          = submit "Proceed..."
- else
  = form_for(@center, :action => url(:enter_centers, :action => 'update', :id => @center.id)) do
    = partial :fields, :submit_text => "Save changes"
