= hidden_field :center_id
= @cmd.center.name
meets
every
= select :meeting_day, :collection => Center::DAYS.map{|d|d.to_s}, :selected => @cmd.meeting_day.to_s
%br
%b OR
%br
every
= text_field :every
- options = [['day', 'day']] + (Center.meeting_days.map { |x| [x.to_s, x.to_s.capitalize] })[1..-1]
= select :what, :collection => options
of every
= text_field :of_every
= select :period, :collection => ["week", "month"]
%br
valid from
= date_select_for @cmd, :valid_from
to
= date_select_for @cmd, :valid_upto
