%h1
  == Editing Center Meeting Day #{@cmd.id} for center: #{@cmd.center.name}

= form_for(@cmd, :action => resource(@cmd), :class => "tall shaded") do
  = partial :fields
  = submit 'Update Meeting Date'
