%h1
  Repayment Styles

.menu-strip
  = link_to 'New Repayment Style', url(:new_repayment_style), :class => "add grey_button"

%table.narrow
  %thead
    %tr.shaded
      %th
        id
      %th
        Name
      %th
        Style
      %th
        Round To
      %th
        Active
      %th
        Actions
  %tr
  - for repayment_style in @repayment_styles
    %tbody
      %tr{:class => cycle('odd','even')}
        %td
          = repayment_style.id
        %td 
          = repayment_style.name
        %td
          = repayment_style.style
        %td
          = (repayment_style.round_total_to ? "Total rounded to nearest #{repayment_style.round_total_to}" : "Total not rounded")
          %br
          = repayment_style.round_interest_to ? "Interest rounded to nearest #{repayment_style.round_interest_to}" : "Interest not rounded"
        %td
          = repayment_style.active
        %td
          = link_to 'Show', url(:repayment_style, repayment_style)
          |
          = link_to 'Edit', url(:edit_repayment_style,  repayment_style)