%h1 New Repayment Style

= error_messages_for @repayment_style

= form_for(@repayment_style, :action => url(:repayment_styles) ) do
  = partial :fields
  = submit "Create"
  &nbsp;&nbsp;
  = link_to 'Back', url(:repayment_styles), :class => "grey_button"