%h1
  Area
  = @area.name
= error_messages_for @area

= form_for(@area, :action => url(:area, @area)) do
  = partial :fields
  = submit "Update #{@area.name.capitalize}"

= link_to 'Show', url(:area, @area)
|
= link_to 'Back', url(:areas)