%h1
  Areas

- if @areas.count == 0
  .flash
    .notice
      No areas
  = link_to 'Add New Area', url(:new_area), :class => 'add grey_button'
- else
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th.actions
          Actions
    %tr
      - for area in @areas
        %tr
          %td
            = area.id
          %td
            = link_to area.name, resource(area.region, area)
          %td
            = link_to 'Show', url(:area, area)
            |
            = link_to 'Edit', url(:edit_area, area)
    = link_to 'Add new Area', url(:new_area), :class => 'add grey_button'