%h1== Area : <i>#{@area.name}</i>
%p.menu-strip{:style => "width: 44%; margin-bottom: 0.2em;"}
  = link_to 'edit this area details', url(:edit_area, @area), :class => 'edit grey_button'
  &nbsp;&nbsp;&nbsp;&nbsp;
  = link_to 'back', resource(:areas), :class => 'grey_button'

%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.odd
    %th.odd
      Name
    %td
      = @area.name
      ( id:
      = @area.id
      )
  %tr.even
    %th.even
      Region
    %td
      = link_to @area.region.name, resource(@area.region), :target => "_blank"
  %tr.odd
    %th.odd
      Manager
    %td
      = link_to @area.manager.name, resource(@area.manager), :target => "_blank"
  %tr.even
    %th.even
      Address
    %td
      = @area.address
  %tr.odd
    %th.odd
      Contact number
    %td
      = @area.contact_number
  %tr.even
    %th.even
      Landmark
    %td
      = @area.landmark

%div.tab_container
  %ul.tabs
    %li#branches
      Branches
    %li#info
      Info
    - if Mfi.first.map_enabled
      %li#map
        Map
  %div.tab
    %h2 Branches in this area
    - if @area.branches.blank?
      %h2 No branches
    - else
    %table.narrow.form{:width => "100%"}
      %thead
        %tr
          %th
            id
          %th
            name
      - @area.branches.each do |b|
        %tr{:class => cycle('odd','even')}
          %td
            = b.id
          %td
            = link_to b.name, resource(b)
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@area.id}?for=area"}
  - if Mfi.first.map_enabled        
    %div.tab
      = js_include_tag :map
      = partial "locations/map", {:obj => @area}
