%xml
  %area
    - if @area
      %id #{@area.id}
      %name #{@area.name}
      %address #{@area.address}
      %contact_number #{@area.contact_number}
      %landmark #{@area.landmark}
      %creation_date #{@area.creation_date}
      %region_id #{@area.region_id}
      
