%table.report.nojs    
  %thead
    %tr{:style => "font-size: 0.85em;"}
      %th
        id
      %th
        Client Name
      %th
        Details
      %th
        Amount
      %th
        Center
      %th
        Approval Date
      %th
        Status
      %th
        Selected
      %th
        Approved By
  - staff_members_allowed = staff_members_collection
  -@loans_to_approve.each do |loan|
    - client = @clients.find{|x| x.id==loan.client_id}
    %tr{:class => cycle('odd','')}
      %td.number
        = link_to loan.id, url(:quick_link, "loans", loan.id)
      %td.text
        = link_to loan.client.name, resource(client)
      %td.number
        = loan.description
      %td.number
        = text_field :name => "loans[#{loan.id}][amount_sanctioned]", :value => loan.amount, :size => 6
      %td.text
        = link_to client.center.name, url(:quick_link, "centers", client.center.id)
      %td.text
        = date_select("loans[#{loan.id}][approved_on]", @date||loan.applied_on, :id => "loans_#{loan.id}_approved_on")
      %td.text
        = loan.status.to_s.camelcase(' ')
      %td
        = check_box :name => "loans[#{loan.id}][approved?]"
      %td.text
        = select :name => "loans[#{loan.id}][approved_by_staff_id]", :collection => staff_members_allowed, :selected => client.center.branch.manager.id.to_s
  %tfoot
    %tr
      %td{:colspan => 10}
  
= paginate @loans_to_approve if @loans_to_approve.respond_to?(:page)
 