%table.report.nojs    
  %thead
    %tr{:style => "font-size: 0.85em;"}
      %th
        Loan id
      %th
        Client Name
      %th
        Loan Details
      %th
        Amount
      %th
        Center
      %th
        Approval Date
      %th
        Scheduled Disbursal Date
      %th
        Scheduled 1st Payment Date
      %th
        Center Meeting Day
      %th
        Status
      %th
        Selected
      %th
        Approved By
  - staff_members_allowed = staff_members_collection
  -@loans_to_approve.each do |loan|
    - client = @clients.find{|x| x.id==loan.client_id}
    %tr{:class => cycle('odd','')}
      %td.number
        = link_to loan.id, url(:quick_link, "loans", loan.id)
      %td.text
        = link_to loan.client.name, resource(client)
      %td.number
        = loan.description
      %td.number
        = text_field :name => "loans[#{loan.id}][amount_sanctioned]", :value => loan.amount, :size => 6
      %td.text
        = link_to client.center.name, url(:quick_link, "centers", client.center.id)
      %td.text
        - min_date = (loan.applied_on > Date.min_transaction_date ? loan.applied_on : Date.min_transaction_date)
        = date_select("loans[#{loan.id}][approved_on]", min_date, :id => "loans_#{loan.id}_approved_on", :min_date => min_date, :max_date => Date.max_transaction_date)
      %td.text
        - min_date = (loan.scheduled_disbursal_date > Date.min_transaction_date ? loan.scheduled_disbursal_date : Date.min_transaction_date)
        = date_select("loans[#{loan.id}][scheduled_disbursal_date]", min_date, :id => "loans_#{loan.id}_scheduled_disbursal_date", :min_date => min_date, :max_date => Date.max_transaction_date)
        = loan.scheduled_first_payment_date.strftime('%A')

      %td.text
        - min_date = (loan.scheduled_first_payment_date > Date.min_transaction_date ? loan.scheduled_first_payment_date : Date.min_transaction_date)
        = date_select("loans[#{loan.id}][scheduled_first_payment_date]", min_date, :id => "loans_#{loan.id}_scheduled_first_payment_date", :min_date => min_date, :max_date => Date.max_transaction_date)
        = loan.scheduled_first_payment_date.strftime('%A')
      %td.text
        = loan.client.center.meeting_day.to_s.camelcase
      %td.text
        = loan.status.to_s.camelcase(' ')
      %td
        = check_box :name => "loans[#{loan.id}][approved?]"
      %td.text
        = select :name => "loans[#{loan.id}][approved_by_staff_id]", :collection => staff_members_allowed, :selected => client.center.branch.manager.id.to_s
  %tfoot
    %tr
      %td{:colspan => 11}
  
= paginate @loans_to_approve if @loans_to_approve.respond_to?(:page)
 