-staff_members = staff_members_collection
%table.report.nojs
  %thead
    %tr
      %th
        id
      %th
        Client Name
      %th
        Amount
      %th
        Scheduled Disbursal
      %th
        Actual Disbursal Date
      %th
        Status
      %th
        Scheduled 1st Payment
      %th
        Disburse?
      %th
        Cheque number
      %th
        Disbursed By
  - loans_to_disburse.each do |loan|
    %tr
      %td.number
        = link_to loan.id, url(:quick_link, "loans", loan.id)
      %td.text
        = link_to loan.client.name, resource(loan.client)
      %td.number  
        = text_field :name => "loans[#{loan.id}][amount]", :size => 8, :value => loan.amount
      %td.text
        = loan.scheduled_disbursal_date
      %td.text
        = date_select("loans[#{loan.id}][disbursal_date]", loan.disbursal_date||loan.scheduled_disbursal_date, {:min_date => loan.scheduled_disbursal_date, :id => "loans_#{loan.id}_disbursal_date"})
      %td.text
        - late =  @date - loan.scheduled_disbursal_date
        - if late > 0
          == #{late} days late         
        - else
          on time
      %td
        - if late > 0
          = date_select("loans[#{loan.id}][scheduled_first_payment_date]", loan.scheduled_first_payment_date, {:min_date => loan.scheduled_first_payment_date, :id =>  "loans_#{loan.id}_first_payment"}) 
        -else
          = loan.scheduled_first_payment_date
      %td
        = check_box :name => "loans[#{loan.id}][disbursed?]"
      %td
        = text_field :name => "loans[#{loan.id}][cheque_number]", :size => 8, :value => loan.cheque_number
      %td
        = select :name => "loans[#{loan.id}][disbursed_by_staff_id]", :collection => staff_members, :selected => loan.client.center.manager.id.to_s
  %tfoot
    %tr
      %td{:colspan => 10}

= paginate loans_to_disburse if loans_to_disburse.respond_to?(:page)
