%table.form
  %tr
    %td
      Amount:
    %td
      = text_field :amount, :size => 40
  %tr
    %td
      Interest rate:
    %td
      = text_field :interest_rate, :size => 40
  %tr
    %td
      Installment frequency:
    %td
      = text_field :installment_frequency, :size => 40
  %tr
    %td
      Number of installments:
    %td
      = text_field :number_of_installments, :size => 40
  %tr
    %td
      Scheduled first payment:
    %td
      = text_field :scheduled_first_payment_date, :size => 40
  %tr
    %td
      Scheduled disbursal date:
    %td
      = text_field :scheduled_disbursal_date, :size => 40
  %tr
    %td
      Approved:
    %td
      on
      = text_field :approved_on, :size => 12
      by
      = select :approved_by_staff_id, :collection => StaffMember.all, :value_method => :id, :text_method => :name, :prompt => "&lt;select a staff member&gt;"
  %tr
    %td
      Disbursed:
    %td
      on
      = text_field :disbursal_date, :size => 12
      by
      = select :disbursed_by_staff_id, :collection => StaffMember.all, :value_method => :id, :text_method => :name, :prompt => "&lt;select a staff member&gt;"
      %br/
      %span.greytext (optional, may be specified later)
