%table.form
  %tr
    %td
      Amount:
    %td
      = text_field :amount, :size => 40
  %tr
    %td
      Interest rate:
    %td
      = text_field :interest_rate, :size => 40
  %tr
    %td
      Installment frequency:
    %td
      = text_field :installment_frequency, :size => 40
  %tr
    %td
      Number of installments:
    %td
      = text_field :number_of_installments, :size => 40
  %tr
    %td
      Scheduled first payment:
    %td
      = text_field :scheduled_first_payment_date, :size => 40
  %tr
    %td
      Scheduled disbursal date:
    %td
      = text_field :scheduled_disbursal_date, :size => 40
  %tr
    %td
      Disbursal date:
    %td
      = text_field :disbursal_date, :size => 40
