= hidden_field :name => "loan_type", :value => @loan.class.to_s
%table.form
  %tr
    %td
      Amount:
    %td
      = text_field :amount, :size => 15
      %br/
      %span.greytext in Rupees
  %tr
    %td
      Interest rate:
    %td
      = text_field :interest_rate, :value => @loan.interest_percentage, :name => "#{@loan.class.to_s.snake_case}[interest_percentage]", :size => 4
      \%
      %br/
      %span.greytext the interest rate as a percentage
  %tr
    %td
      Installment frequency:
    %td
      = select :installment_frequency, :collection => Loan.installment_frequencies.map { |x| [x.to_s, x.to_s] }
  %tr
    %td
      Number of installments:
    %td
      = text_field :number_of_installments, :size => 4
  %tr
    %td
      Scheduled first payment:
    %td
      on&nbsp;&nbsp;
      = text_field :scheduled_first_payment_date, :size => 10
      &nbsp;&nbsp;
      %span.greytext yyyy-mm-dd
  %tr
    %td
      Scheduled disbursal date:
    %td
      on&nbsp;&nbsp;
      = text_field :scheduled_disbursal_date, :size => 10
      &nbsp;&nbsp;
      %span.greytext yyyy-mm-dd
  %tr
    %td
      Application:
    %td
      on&nbsp;&nbsp;
      = text_field :applied_on, :size => 10
      &nbsp;&nbsp;by&nbsp;&nbsp;
      = select :applied_by_staff_id, :collection => StaffMember.all(:active => true), :value_method => :id, :text_method => :name, :prompt => "&lt;select a staff member&gt;"
      %br/
      %span.greytext yyyy-mm-dd
  %tr
    %td
      Approved:
    %td
      on&nbsp;&nbsp;
      = text_field :approved_on, :size => 10
      &nbsp;&nbsp;by&nbsp;&nbsp;
      = select :approved_by_staff_id, :collection => StaffMember.all(:active => true), :value_method => :id, :text_method => :name, :prompt => "&lt;select a staff member&gt;"
      %br/
      %span.greytext yyyy-mm-dd
  %tr
    %td
      Disbursed:
    %td
      on&nbsp;&nbsp;
      = text_field :disbursal_date, :size => 10
      &nbsp;&nbsp;by&nbsp;&nbsp;
      = select :disbursed_by_staff_id, :collection => StaffMember.all(:active => true), :value_method => :id, :text_method => :name, :prompt => "&lt;select a staff member&gt;"
      %br/
      %span.greytext these fields are optional so may be specified later
