%h1 Disbursals
- if not @errors.blank?
  .error
    %ul
    - @errors.each do |e|
      - e.values.each do |v|
        %li
          == Loan #{e.resource.id}: #{v}
- if @loans.size > 0
  = form_for(@loan, :action => url(:loan_actions, :action => "disburse")) do
    = partial :disburse, {:loans_to_disburse => @loans}
    = submit 'Disburse these loans', :name => "disburse_these_loans"
    or
    %a{:href => "#{url(:loan_actions, 'reject')}", :class => "_rejection_button_"}
      Reject selected loans
- else
  No disbursals today
