%h1
  == Edit loan ##{@loan.id} for 
  %i= link_to @loan.client.name, resource(@branch, @center, @client)

= error_messages_for @loan

= form_for(@loan, :action => url_for_loan(@loan)) do
  = partial :fields
  = submit "Save changes"

= link_to 'Back', resource(@branch, @center, @client, :loans)