%xml
  = @client.to_xml
  %center_id #{@center.id}
  %center_name #{@center.name}
  %center_manager_id #{@center.manager.id}
  %center_manager_name #{@center.manager.name}
  %branch_id  #{@center.branch.id}
  %branch_name #{@center.branch.name}
  %client_id #{@client.id}
  %client_name #{@client.name}
  - @loans.each do |loan|
    = loan.to_xml
        