%h1== Loans for client <i>#{@client.name}</i>

%p
  == Manage existing loans or #{link_to 'add a new loan', resource(@branch, @center, @client, :loans, :new)}.

%table.narrow.form{ :width => '100%' }
  %thead
    %tr
      %th
      %th id
      %th amount
      %th interest
      %th installments
      %th disbursement
      %th repaid
  %tbody
  - for loan in @loans
    %tr{ :class => cycle('odd','') }
      %td &nbsp;
      %td
        = loan.id
      %td
        %b= loan.amount
      %td
        %b= format("%.2f%", loan.interest_rate * 100)
      %td
        = loan.number_of_installments
        = plurial_nouns loan.installment_frequency
      %td
        - if loan.disbursal_date
          = loan.disbursal_date
          %br/
          %span.greytext
            - if loan.scheduled_disbursal_date == loan.disbursal_date
              as scheduled
            - else
              = difference_in_days(loan.scheduled_disbursal_date, loan.disbursal_date, ['days earlier', 'days later'])
              == (#{loan.scheduled_disbursal_date})
        - else
          %i not disbursed yet
          %br/
          %span.greytext
            scheduled for
            = loan.scheduled_disbursal_date
      %td
        = format("%.2f%", loan.repaid_principal.to_f / loan.amount * 100)
      %td
        = link_to 'edit', resource(@branch, @center, @client, loan, :edit)
      %td
        = link_to 'view payments', resource(@branch, @center, @client, loan, :payments)
      %td
        = link_to 'record payment', resource(@branch, @center, @client, loan, :payments, :new)

  %tfoot
    %tr
      %td{ :colspan => 7 }



= link_to 'New', resource(@branch, @center, @client, :loans, :new)