= form_for(:loan, :class => "_remote_", :action => url(:controller => :loans, :action => :update_utilization, :id => @loan.id), :method => "POST") do
  %div.box
    %h3 Loan Utilization
    = select :loan_utilization_id, :collection => LoanUtilization.all.map{|lu| [lu.id, lu.name]}, :include_blank => true
    = submit "Save"

- if @loan.status == :outstanding    
  .box
    %hr
    %h3 Prepay this loan
    %p
      = link_to("Calculate prepayment amount",  url(:prepay_loan, @loan.id), :class => "_remote_")

- if [:admin, :mis_manager].include?(session.user.role)
  %hr
  .box
    = partial "applicable_fees/form", :layout => false
  %hr
  .box
    %h3 Applicable fees
    - if @loan.applicable_fees.empty?
      = form_for(@loan, :action => url_for_loan(@loan)) do
        = submit 'Apply Fees'
    = partial "applicable_fees/list", :layout => false, :applicable_fees => @loan.applicable_fees
- if session.user.role==:admin
  %hr
  .box
    %h3 Write Off Loan
    = form_for(@loan, :action => url(:action => :write_off, :id => @loan.id), :method => "POST", :class => "_disable_button_") do
      %table
        %tr
          %td
            Write off Date : 
          %td
            = date_select_for @loan, :written_off_on
        %tr
          %td
            Select Staff Member :
          %td
            - center = @client.center
            - branch = center.branch
            = select :written_off_by_staff_id, :id => "written_off_by_staff_id", :collection => [branch.manager, center.manager].uniq.map{|m| [m.id, m.name]}, :prompt => "select staff member"
        %tr
          %td{:colspan => "2"}
            %span.greytext 
              Pick the staff member who is writing off the loan
      %tr
        %td
          = submit "Write off"
- elsif staff_member = session.user.staff_member
  = form_for(@loan, :action => url(:action => :suggest_write_off, :id => @loan.id), :method => "POST", :class => "_disable_button_") do
    %table
      %tr
        %td
          %b Suggest to Write Off this Loan
      %tr
        %td
          suggested write off Date :
        %td
          = date_select_for @loan, :suggested_written_off_on
      %tr
        %td
          Suggested by staff member :
        %td
          = staff_member.name
        %td
      %tr
        %td
          = submit "Send suggestion"
  