%div.box#repayment_form
  - unless params[:date]
    .help{:style => "width: 75%"}
      Please tell us the date you wish to prepay this loan as of, so we can calculate the correct amounts.
    %b Prepay date
    = form_for(@loan, :action => url(:controller => 'loans', :action => :prepay, :id => @loan.id), :method => :get, :class => "_remote_ _disable_button_") do
      = date_select(:date)
      %input{:type => "hidden", :name => "_target_", :value => "repayment_form"}
      = submit "Submit"
  - else
    - @date = Date.parse(params[:date])
    - os_prin = @loan.actual_outstanding_principal_on(@date)
    - os_int = @loan.actual_outstanding_interest_on(@date)
    - info = @loan.info(@date)
    - missed_int = info.total_interest_due - info.total_interest_paid
    - accrued_int = @date > info.date ? info.actual_outstanding_principal * @loan.interest_rate * ((@date - info.date) - 1) / 365 : 0
    - allow_override = (not @loan.loan_product.loan_validation_methods.split(",").include?("prepayment_must_be_per_system_numbers") if @loan.loan_product.loan_validation_methods)
    %h2
      Loan id
      = @loan.id
      (
      = @loan.description
      ) for client
      = @loan.client.name
      ==. Prepaying on 
      = @date
    
    = form_for(@loan, :action => url(:controller => 'loans', :action => :prepay, :id => @loan.id), :class => "_disable_button_") do
      %table
        %tr
          %th
            Outstanding Principal
          %td
            = os_prin
          %td
            - if allow_override
              = text_field :name => :principal, :value => os_prin.round(2)
            - else
              = os_prin.to_currency
              = hidden_field :name => :principal, :value => os_prin.round(2)
            = hidden_field :name => "date", :value => @date
        %tr
          %th
            Outstanding Interest
          %td
            missed interest payments = 
            = missed_int.to_currency
            %br
            accrued interest since 
            = info.date
            == = #{accrued_int.to_currency}
            %br
            %b
              Total Interest Due
              = (missed_int + accrued_int).to_currency
            %br
            Remaining Interest
            = os_int.to_currency
          %td
            - if allow_override
              = text_field :name => :interest, :value => (missed_int + accrued_int).to_currency
            - else
              = (missed_int + accrued_int).to_currency
              = hidden_field :name => :interest, :value => (missed_int + accrued_int).to_currency
        %tr.total
          %th
            Total P and I due
          %td
          %td
            = (missed_int + accrued_int + os_prin).to_currency
        %tr
          %th
            Penalty
          %td
            = select :name => "fee", :collection => Fee.all, :value_method => :id, :text_method => :name, :prompt => "Apply penalty as", :style => 'width:200px;'
          %td
            = text_field :name => :penalty_amount
        %tr
          %th
            Received By
          %td
            = select :name => "received_by", :collection => staff_members_collection
        %tr
          %th
            Preclose?
          %td
            = check_box :name => "writeoff"
            .greytext
              If you want to close the loan before its intended/scheduled tenure it is recommended to preclose the loan.<br> <br> If the repaid amount is less than the outstanding amount it is recommended to write off the loan.<br> To write off the loan, please scroll down the screen
      = submit 'Make Prepayment'

