%div.totalinfo
  %h1
    At one glance
  - lh = LoanHistory.sum_outstanding_for(Mfi)
  - lh = lh ? lh.first : nil
  %table
    %tr
      %td
        Regions
      %td{:colspan => 3}
        = Region.count
    %tr
      %td
        Areas
      %td{:colspan => 3}
        = Area.count
    %tr
      %td
        Branches
      %td{:colspan => 3}
        = Branch.count
    %tr
      %td
        Centers
      %td{:colspan => 3}
        = Center.count
    %tr
      %td
        Clients
      %td{:colspan => 3}
        = Client.count
    %tr
      %td
        Active clients
      %td{:colspan => 3}
        = lh.clients_count if lh
    %tr
      %td
        All loans (number)
      %td{:colspan => 3}
        = (l = Loan.all(:disbursal_date.not => nil).count)
    %tr
      %td
        Closed/repaid loans (number)
      %td{:colspan => 3}
        = (l - lh.loans_count) if lh
    %tr
      %td
        Loans disbursed (amount)
      %td{:colspan => 3}
        = Loan.all(:disbursal_date.not => nil).aggregate(:amount.sum).to_currency
    %tr
      %td
        Amount outstanding
      %td{:colspan => 3}
        = lh.actual_outstanding_principal.to_currency if lh
    %tr
      %td
        Receipts
      %td
        Principal
      %td
        Interest
      %td
        Fees
    %tr
      %td
      %td
        - principal_repaid = Payment.all(:type => :principal).aggregate(:amount.sum)
        = principal_repaid.to_currency 
      %td
        - interest = Payment.all(:type => :interest).aggregate(:amount.sum)
        = interest.to_currency
      %td
        - fees = Payment.all(:type => :fees).aggregate(:amount.sum)
        = fees.to_currency 
    %tr
      %td
        Total receipts
      %td{:colspan => 3}
        = (principal_repaid + interest + fees).to_currency
    %tr
      %td
        Staff count
      %td{:colspan => 3}
        = StaffMember.all(:active => true).count
  %span.greytext{:style => "float: right"}
    as of yesterday
