%h1
  Browse

%h2
  ="Welcome #{session.user.login}"

- if not @branches.blank?
  %h3
    ="You manage #{@branches.count} branches"
  %ul{:style => 'display: inline;'}
    - @branches.each do |branch|
      %li
        = link_to branch.name, resource(branch)
- if not @centers.blank?
  %h3 
    - @centers.branch.each do |branch|
      ="You manage #{@centers.find_all{|c| c.branch_id==branch.id}.count} centers in #{branch.name} branch"
      = link_to '[View]', url(:browse, :action =>'centers')
