%div.right_pane
  %div.result
  %script
    $.get("/browse/hq_tab", function(data){$('.result').html(data);})
  %br



%div.left_pane
  %h1 Quick Links
  %div
    %ul
      %li
        = link_to_with_rights("#{Branch.all.count} Branches", url(:browse, :action => 'branches'))
      %li
        = link_to_with_rights('Staff members', resource(:staff_members))
      %li
        = link_to_with_rights('Centers meeting today', url(:browse, :centers_paying_today))
      %li
        = link_to_with_rights('Browse Aggregate Data', url(:cachers, :date => Date.today.strftime('%Y-%m-%d')))
      %li
        = link_to_with_rights 'Verify data', resource(:verifications)

