%div.right_pane
  %div.result
  %script
    $.get("/browse/hq_tab", function(data){$('.result').html(data);})
  %br



%div.left_pane
  %h1 Home
  %div
    %ul
      %li
        %h2
          = link_to_with_rights("#{Branch.all.count} Branches", url(:browse, :action => 'branches'), :class => 'edit')
      %li
        = link_to_with_rights('Staff members', resource(:staff_members), :class => 'edit')
      %li
        = link_to_with_rights('Centers meeting today', url(:browse, :centers_paying_today), :class => 'edit')
      %li
        = link_to_with_rights('Browse Aggregate Data', url(:cachers, :date => Date.today.strftime('%Y-%m-%d')), :class => 'edit')
      %li
        = link_to_with_rights 'Verify data', resource(:verifications), :class => 'edit'

