- bnames = @branch_names.keys.sort
- bvalues = @branch_names.map{|name, id| @branch_data[id][:principal_paid]}
%script{:type => "text/javascript"}
  == names=['#{bnames.join("','")}']
  == values = ['#{bvalues.join("','")}']
#stats
  #tabs{:style => "float:left; min-height: 400px; background: #dfdfdf; padding: 10px;"}
    %ul
      %li
        %h1
          today

  #today
    .top-line
      .number{:style => "margin-left: 8%"}
        %h1
          = Branch.all.count
        %p{:style => ""} branches
      .number
        %h1
          = LoanHistory.latest.aggregate(:center_id.count)
        %p centers
      .number
        %h1{:style => 'float:left'}
          %span.red
            = @branch_data.map{|b,v| v[:principal_paid]}.reduce(:+).to_currency
            = "/"
            = @branch_data.map{|b,v| v[:principal_due]}.reduce(:+).to_currency
        %p collected / due
    .detail.clearfix
      %table{:style => "display:inline-table; vertical-align: top; margin: 30px;"}
        %tr
          %td Applied
          %td.green 100 000
        %tr
          %td Sanctioned
          %td 200 000
        %tr
          %td Disbursed
          %td 300 000
        %tr
          %td Sanctioned
          %td 400 000
        %tr
          %td Sanctioned
          %td 500 000
        %tr
          %td Sanctioned
          %td 600 000

            
      .chart
        = ofc2(400, 320, url(:graph_data, :action => 'dashboard', :id => 'branch_day'))
      
        
        
    