%div{:style => "margin-right: 30px; float: right;"}
  = random_chart

%h1 Browse
%h3
  Here you will find some convenience functions to browse your MFI
%div
  %ul
    %li
      = link_to_with_rights('Branches', url(:browse, :action => 'branches'), :class => 'edit')
    %li
      = link_to_with_rights('Staff members', resource(:staff_members), :class => 'edit')
    %li
      = link_to_with_rights('Regions', resource(:regions), :class => 'edit')
  
    - (Misfit::Extensions::Browse.instance_methods - ["before"]).each do |m|
      %li
        = link_to_with_rights(m.humanize, url(:browse, m), :class => 'edit')
  
    %li
      = link_to_with_rights 'Verify data', resource(:verifications), :class => 'edit'
    %li
      = link_to_with_rights 'Documents', resource(:documents), :class => 'edit'
