%h2== Payments &mdash; (#{link_to 'new', url_for_loan(@loan, 'payments/new')})
- if @payments.blank?
  %p
    %i No payments have been made so far.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th received on
        %th received by
        %th amount
        %th type
        %th delete
    %tbody
    - for payment in @payments
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = payment.id
        %td
          %i= payment.received_on
        %td
          %b= link_to payment.received_by.name, resource(payment.received_by)
        %td
          %b= payment.amount
        %td
          %b= payment.type.to_s
        %td
          = link_to 'delete', url_for_loan(payment.loan, "payments/#{payment.id}/delete")

    %tfoot
      %tr
        %td{ :colspan => 8 }

%p= link_to 'new payment >>', url_for_loan(@loan, 'payments/new'), :class => "button"
