%h1== Edit the '#{@payment.id}' payment details

= error_messages_for @payment

= form_for(@payment, :action => url_for_loan(@loan, "payments/#{payment.id}")) do
  = partial :fields, :submit_text => "Save changes", :cancel_link => url_for_loan(@loan, 'payments')

= link_to 'Back', url_for_loan(@loan, 'payments')