%h1== Edit the '#{@payment.id}' payment details

= error_messages_for @payment

= form_for(@payment, :action => resource(@branch, @center, @client, @loan, @payment)) do
  = partial :fields
  = submit "Save changes"

= link_to 'Back', url_for_loan(@loan, 'payments')