%table.report.nojs
  %thead
    %tr{:style => "font-size: 0.85em;"}
      %th
        Name
      %th
        Scheduled Disbursal Date
      %th
        Status
      %th
        Approved
      %th
        Approved On
      %th
        Approved By

  - @loans_to_approve.each do |loan|
    %tr
      %td
        = loan.client.name
      %td
        = loan.scheduled_disbursal_date
      %td
        - late =  @date - loan.scheduled_disbursal_date
        - if late > 0
          == "#{late} days late"
        - else
          on time
      %td
        = check_box :name => "loans[#{loan.id}][approved?]"
      %td
        = date_select "loans[#{loan.id}][approved_on]"
      %td
        = select :name => "loans[#{loan.id}][approved_by_staff_id]", :collection => staff_members_collection, :selected => loan.client.center.manager.id.to_s

