- if @md

  Payments collected by 
  = select :name => "payment[received_by]", :collection => staff_members_collection, :selected => @center.manager.id.to_s, :id => 'payments_received_by'

  %table.report.nojs
    %thead
      %tr{:style => "font-size: 0.85em;"}
        %th name
        %th id
        %th amount
        %th outstanding
        %th disbursed on
        %th installment
        %th principal due
        %th interest due
        %th total due
        %th paid
        %th repayment type
        %th attendance
          
    %tbody{:style => "text-align:left;" }
      - @branch||=@center.branch
      - tot_amount, tot_outstanding, tot_installments, tot_principal, tot_interest, tot_fees, tot_total = 0, 0, 0, 0, 0, 0, 0
      - clients = Client.all(:center_id => @center.id, :fields => [:id, :name, :client_group_id, :center_id])
      - atts = Attendance.all(:client_id => clients.map{|x| x.id}, :date => @date).map{|x| [x.client_id,x]}.to_hash
      - loans = @loans||Loan.all(:client_id => clients.map{|x| x.id})
      - histories = LoanHistory.all(:loan_id => loans.map{|x| x.id}, :date => @date)
      - clients.group_by{|x| x.client_group}.sort_by{|x| x[0] ? x[0].name : "none"}.each do |group, clients_grouped|
        %tr.group
          %td{:colspan => 12}
            =group ? group.name : "none"
        -clients_grouped.sort_by{|x| x.name}.each do |client|
          - loan_row_count = 0
          - loans.find_all{|l| l.client_id == client.id and l.disbursal_date}.each do |loan|
            - lh = histories.find_all{|x| x.loan_id==loan.id}.sort_by{|x| x.created_at}[-1]
            - next if not lh
            - next if LOANS_NOT_PAYABLE.include? lh.status
            - loan_row_count += 1
            %tr{ :class => cycle('odd','') }
              %td.text
                %b= link_to client.name, resource(@branch, @center, client)
              %td.number
                = loan.id
              %td.number
                - amt = loan.amount
                %b= amt.to_currency
                - tot_amount += amt
              %td.number
                - p = lh.nil? ? 0 : lh.actual_outstanding_principal
                %b= p.to_currency
                - tot_outstanding += p
              %td.text
                = loan.disbursal_date.to_s
              %td.number
                - ins = loan.number_of_installments_before(@date)
                = ins
                - tot_installments += ins
              %td.number
                - p = lh.nil? ? 0 : [lh.principal_due, 0].max.round(2)
                = p.to_currency
                - tot_principal += p
              %td.number
                - i = lh.nil? ? 0 : [lh.interest_due,0].max.round(2)
                = i.to_currency
                - tot_interest += i
              %td.number
                - a = p + i
                = a.to_currency
                - tot_total += a
              %td.number
                = text_field :name => "paid[loan][#{loan.id}]", :value => [a,0].max.round(2), :cols => "5", :style => "width:50px;" 
              %td 
                = select :name => "payment_style[#{loan.id}]", :collection => [["prorata","pro rata"],["normal","fees=>int=>prin"]]
              %td
                - att = atts[client.id]
                = select :name => "attendance[#{client.id}]", :collection => Attendance.attendancy_states, :value_method => :to_s, :selected => (att ? att.status.to_s : "present")
          - if loan_row_count == 0
            %tr{ :class => cycle('odd','') }
              %td.text
                %b= link_to client.name, resource(@branch, @center, client)
              %td{ :colspan => 10 }
                %i nothing outstanding
              %td
                - att = atts[client.id]
                = select :name => "attendance[#{client.id}]", :collection => Attendance.attendancy_states, :value_method => :to_s, :selected => (att ? att.status.to_s : "present")

      %tr{ :style => 'border-bottom: 2px solid;' }
        %tr
          %td
          %td
          %td.numeric
            %b= tot_amount.to_currency
          %td.numeric
            %b= tot_outstanding.to_currency
          %td
          %td
          %td.numeric
            %b= tot_principal.to_currency
          %td.numeric
            %b= tot_interest.to_currency
          %td
            %b= tot_total.to_currency
          %td
          %td.numeric            
    %tfoot    
      %tr
        %td{ :colspan => 14 }
- else
  %i This day is not a meeting day
