- staff_members = staff_members_collection
- if loans_to_disburse.size > 0
  %table.report.nojs
    %thead
      %tr{:style => "font-size: 0.85em;"}
        %th
          Client Name
        %th
          Loan
        %th
          Scheduled Disbursal Date
        %th
          Status
        %th
          Disbursed?
        %th
          Cheque number
        %th
          Disbursed On
        %th
          Disbursed By
    - loans_to_disburse.each do |loan|
      %tr
        %td
          = link_to loan.client.name, resource(loan.client)
        %td
          = link_to loan.description
        %td
          = loan.scheduled_disbursal_date
        %td
          - late =  date - loan.scheduled_disbursal_date
          - if late > 0
            == "#{late} days late"
          - else
            on time
        %td
          = check_box :name => "loans[#{loan.id}][disbursed?]"
        %td
          = text_field "loans[#{loan.id}][cheque_number]".to_sym, :size => 8, :value => loan.cheque_number
        %td
          = date_select "loans[#{loan.id}][disbursal_date]", loan.scheduled_disbursal_date, :id => "loans_#{loan.id}_disbursal_date"
        %td
          = select :name => "loans[#{loan.id}][disbursed_by_staff_id]", :collection => [["","---"]] + staff_members, :selected => loan.client.center.manager.id.to_s

- else
  No disbursals today
    
