%h2
  = @date 
  - if @center
    (
    = Center.meeting_days[@date.wday]
    )
- if @center and @date
  - if not @errors.blank?
    .error
      - @errors.each do |error|
        == Loan <b>#{error.resource.class == Payment ? error.resource.loan.id : error.resource.id} :</b>
        = error.values.join("*")
        %br

  %h2
    == Week #{@date.cweek} : Center #{@center.name}
    == : Meeting day #{@center.meeting_day}
  %a{ :name => 'weeksheet' }
  %table.narrow.form{ :style => "width: 100%;" }
    %tr.odd
      %td meeting at
      %td
        - if @center.meeting_day?(@date)
          %b== #{@date} #{@center.meeting_time}
        - else
          %i no meeting today
      %td
        = link_to 'today', url(:enter_payments, :action => 'by_center', :for_date => Date.today, :center_id => @center.id) + '#weeksheet'
        &nbsp;|&nbsp;
        = link_to 'previous meeting', url(:enter_payments, :action => 'by_center', :for_date => @center.previous_meeting_date_from(@date), :center_id => @center.id) + '#weeksheet'
        &nbsp;|&nbsp;
        = link_to 'next meeting', url(:enter_payments, :action => 'by_center', :for_date => @center.next_meeting_date_from(@date), :center_id => @center.id) + '#weeksheet'
    %tr
      %td center manager
      %td
        = link_to @center.manager.name, resource(@center.manager)
      %td
        %form{ :action => resource(@branch, @center), :method => 'GET', :style => 'margin: 0px; padding: 0px;'  }
          = date_select 'date', @date
          = submit 'Go!',  :style => 'margin: 0px; padding: 0px;'
  %h1 Approvals
  - @loans_to_approve = @center.clients.loans(:approved_on => nil)
  - if @loans_to_approve.size > 0
    = form_for(@loan, :action => url(:enter_loans, :action => 'approve')) do
      = partial :approvals
      = submit 'Approve these loans'
  - else
    No approvals today

  %h1 Disbursal
  - @loans_to_disburse = @center.clients.loans(:scheduled_disbursal_date.lte => @date, :disbursal_date => nil, :approved_on.not => nil)
  - if @loans_to_disburse.size > 0
    = form_for(@loan, :action => url(:enter_loans, :action => 'disburse')) do
      = partial :disbursals
      = submit 'Disburse these loans'
  - else
    No disbursals today

  %h1 Fees
  - @fee_paying_loans = @center.clients.loans.select{|l| l.fees_paid? == false}
  %table
    %thead
      %tr
        %th
          Loan id
        %th
          Description
        %th
          Total Fees Payable
        %th
          Fees Paid
        %th
          Fees Due
      
    - @fee_paying_loans.each do |fpl|
      %tr
        %td
          = fpl.id
        %td
          = fpl.description
        %td
          - fpl.fee_schedule.each do |fs|
            - fs.keys.each do |k|
              = k
              == :
              = fs[k]
        %td
          = fpl.fees_paid
        %td
          = fpl.fees_payable_on(@date)
    
    
  %h1 Payments
  = form_for(@payment, :action => url(:enter_payments, :action => 'by_center')) do
    = hidden_field :name => 'for_date', :value => @date
    = hidden_field :name => 'center_id', :value => @center.id
    = partial :cds
    = submit 'Make Payments'

- else
  Choose a center to record a payment for
  = form_for(@payment, :action => url(:enter_payments, :action => 'by_center'), :method => :get) do
    %table
      %tr
        %th
          Centers paying today
        %td
          = select :name => 'center_id', :collection => [["","---"]] + Center.all(:meeting_day => Date.today.weekday).map {|c| [c.id.to_s,c.name]}
      %tr
        %th
          or any other center
        %td
          = text_field :name => 'center_text'
      %tr
        %th
          For Date
        %td
          = text_field :name => 'for_date', :value => Date.today
    = submit 'Submit'
