- if not @errors.blank?
  %xml
    %message
      - @errors.map do |e|
        - if e.instance_variables.include?("@errors")
          - if e.resource.loan_id
            %error #{e.resource.type} for loan id: #{e.resource.loan_id} -- Error: #{e.instance_variable_get("@errors").values}
          - else
            %error #{e.resource.type} for client id: #{e.resource.loan_id} -- Error: #{e.instance_variable_get("@errors").values}
        - else
          %error #{e.to_s}
- elsif not @message.blank? and @errors.blank?
  %xml
    %message 
      %success #{@message}
- else
  -if @center
    %xml
      %weeksheet
        %staff_member_id #{@center.manager.id}
        %staff_member_name #{@center.manager.name}
        %date #{@date}
        %center_id #{@center.id}
        %center_name #{@center.name}
        %center_code #{@center.code}
        %center_address #{@center.address}
        %center_meeting_time #{@center.meeting_time}
        %weeksheet_rows
          - @weeksheets.each do |weeksheet|
            %weeksheet_row
              %client_id #{weeksheet.client_id}
              %loan_id #{weeksheet.loan_id}
              %loan_amount #{weeksheet.loan_amount}
              %disbursal_on #{weeksheet.disbursal_date.to_s}
              %outstanding #{weeksheet.outstanding}
              %installment #{weeksheet.installment_number}
              %principal #{weeksheet.principal} 
              %interest #{weeksheet.interest} 
              %fee #{weeksheet.fee} 
              %total_due #{weeksheet.total_due}
