-error=@payment.errors.instance_variable_get("@errors") if @payment
- if error
  %xml
    %error
    - error.each_key do |k|
      =error[k]
- else
  -if @center
    %xml
      %weeksheet
        %staff_member
          %id #{@center.manager.id}
          %name #{@center.manager.name}
        %date #{@date}
        %center_id #{@center.id}
        %center_name #{@center.name}
        %center_code #{@center.code}
        %center_address #{@center.address}
        - @weeksheets.each do |weeksheet|
          %client
            %group_name #{weeksheet.group_name}
            %client_id #{weeksheet.client_id}
            %client_name #{weeksheet.client_name}
            %loan_id #{weeksheet.loan_id}
            %loan_amount #{weeksheet.loan_amount}
            %disbursal_on #{weeksheet.disbursal_date.to_s}
            %outstanding #{weeksheet.outstanding}
            %installment_number #{weeksheet.installment_number}
            %expected_principle  #{weeksheet.principal} 
            %expected_interest   #{weeksheet.interest} 
            %expected_fee   #{weeksheet.fee} 
            %expected_total_due #{weeksheet.total_due}
