- if not @errors.blank?
  %xml
    %message
      - @errors.map do |e|
        - if e.instance_variables.include?("@errors")
          - if e.resource.loan_id
            %error #{e.resource.type} for loan id: #{e.resource.loan_id} -- Error: #{e.instance_variable_get("@errors").values}
          - else
            %error #{e.resource.type} for client id: #{e.resource.loan_id} -- Error: #{e.instance_variable_get("@errors").values}
        - else
          %error #{e.to_s}
- elsif not @message.blank? and @errors.blank?
  %xml
    %message 
      %success #{@message}
- else
  -if @center
    %xml
      %weeksheet
        %staff_member
          %id #{@center.manager.id}
          %name #{@center.manager.name}
        %date #{@date}
        %center_id #{@center.id}
        %center_name #{@center.name}
        %center_code #{@center.code}
        %center_address #{@center.address}
        - @weeksheets.each do |weeksheet|
          %client
            %group_name #{weeksheet.group_name}
            %client_id #{weeksheet.client_id}
            %client_name #{weeksheet.client_name}
            %loan_id #{weeksheet.loan_id}
            %loan_amount #{weeksheet.loan_amount}
            %disbursal_on #{weeksheet.disbursal_date.to_s}
            %outstanding #{weeksheet.outstanding}
            %installment_number #{weeksheet.installment_number}
            %expected_principal #{weeksheet.principal} 
            %expected_interest   #{weeksheet.interest} 
            %expected_fee   #{weeksheet.fee} 
            %expected_total_due #{weeksheet.total_due}
