#darkenBackground
  #loading
    = image_tag '/images/spinner.gif'
    Please wait while we process your request
    
%h1
  = @date
- if @staff_member and @date
  - if not @errors.blank?
    .error
      %p
        - @errors.each do |error|
          Error with loan
          %b
            = error.resource.class == Payment ? error.resource.loan.id : error.resource.id
            == :
          - error.values.each do |v|
            = v
          %br
    = form_for(@payment, :action => url(:enter_payments, :action => 'by_staff_member')) do
      = submit 'Make Payments', :onclick => "javascript:$('#darkenBackground').show(); return true;"
      = hidden_field :name => 'for_date', :value => @date
      - @centers = @staff_member.centers.all(:meeting_day => Center.meeting_days[@date.wday])
      %h3
        = @centers.count
        Centers
      - @centers.each do |@center|
        %a{:name => 'weeksheet' }
          %h2
            = "Week #{@date.cweek} meeting sheet for center #{@center.name}"
        = hidden_field :name => 'center_id', :value => @center.id
        = partial :cds
      = submit 'Make Payments', :onclick => "javascript:$('#darkenBackground').show(); return true;"
 
  - else
    Choose a staff member to record a payment for
    = form_for(@payment, :action => url(:enter_payments, :action => 'by_staff_member'), :method => :get) do
      %table.form
        %tr
          %th
            Staff Member
          %td
            = select :name => 'staff_member_id', :collection => staff_members_collection
        %tr
          %th
            For Date
          %td
            = text_field :name => 'for_date', :value => Date.today
      = submit 'Submit'
