%h1
  ChartOfAccounts controller, edit action
%p
  Edit this file in
  %tt
    app/views/chart_of_accounts/edit.html.erb
= error_messages_for @chart_of_account

= form_for(@chart_of_account, :action => url(:chart_of_account, @chart_of_account)) do
  %p
    = submit "Update"

= link_to 'Show', url(:chart_of_account, @chart_of_account)
|
= link_to 'Back', url(:chart_of_accounts)