%div{:class => (@floating ? "floatingBox" : "")}
  - if @floating
    %a.closeButton
      [close]
  - atleast_one = false
  -[["branches", [:name, :manager]], ["centers", [:name, :manager]], ["clients", [:name, :center]], ["client_groups", [:name, :center]], ["loans", [:client, :amount]], ["staff_members", [:name]]].each do |model, functions|
    -objects = instance_variable_get("@#{model}")
    -if objects and count = objects.length and count > 0
      - atleast_one = true
      - last = @floating ? 9 : count-1
      %table
        %tr
          %th{:colspan => 3}
            %h2
              =model.camelcase(' ')
        %tr
          %th
            ID
          -functions.each do |function|
            %th
              =function.class==Hash ? function.keys[0] : function
          -objects[0..last].each do |obj|
            %tr
              %td
                =obj.id
              -functions.each do |function|
                %td
                  - field = obj.send(function)
                  - if function == :manager or function == :center
                    =link_to(field.name, resource(field))
                  - else
                    =link_to(field.respond_to?(:name) ? field.name : field, "/#{model}/#{obj.id}")
        - if @floating and count > 10
          %tr
            %td
              %a{:href => "/searches/index?query=#{params[:query]}"}
                more
        - if not @floating and count >= 100
          %tr
            %td{:colspan => 3}
              %i
                Showing 100 #{model.camelcase(' ')}. There are more matching #{model.camelcase(' ')}. 
                %br 
                Please refine your search keyword for relevant results
          
  - unless atleast_one
    %div{:style => "width: 250px"}
      %i
        No results found