%table.narrow.form
  %tr
    %th
      id
    %th
      Date
    %th 
      Description
    %th 
      Account
    %th 
      Debit
    %th 
      Credit
   
  - @account.postings.journals(:order => [:date.desc]).each do |journal|
    - postings = journal.postings.group_by{|x| x.amount>0 ? :credit : :debit}
    - time_format = Mfi.first.date_format || "%d-%m-%Y"
    - time_format += " %H:%M"
   
    %tr{:class => cycle('odd','even')}
      %td
        = journal.id
      %td
        = journal.date.strftime(time_format)
      %td 
        = journal.comment     
      %td 
        = postings[:debit].collect{|p| p.account.name}.join("<br/>")
        %br
        = postings[:credit].collect{|p| p.account.name}.join("<br/>")
      %td 
        - dr_amount = postings[:debit].collect{|p| p.amount.abs}
        = dr_amount
      %td 
        %br
        - cr_amount = postings[:credit].collect{|p| p.amount.abs}.inject(0){|s,x| s+=x}
        = cr_amount
   