%table.narrow.form
  %tr
    %th
      id
    %th
      Date
    %th 
      Description
    %th{:colspan => 2} 
      Account Debit
    %th{:colspan => 2}
      Account Credit
  - counter = 0
  - Journal.all("postings.account_id" => @account.id, :limit => 25, :order => [:date.desc]).each do |journal|
    - postings = journal.postings.group_by{|x| x.amount>0 ? :credit : :debit}
    - time_format = Mfi.first.date_format || "%d-%m-%Y"
    - time_format += " %H:%M"
    - counter += 1 
    - set_class = counter % 2 == 1 ? 'odd' : 'even'
    - rowspan_count = journal.postings.size + 1
    %tr{:class => set_class}
      %td{:rowspan => rowspan_count}
        = journal.id
      %td{:rowspan => rowspan_count}
        = journal.date.strftime(time_format)
      %td{:rowspan => rowspan_count} 
        = journal.comment
    - postings[:debit].each do |p|
      %tr{:class => set_class}
        %td 
          = p.account.name
        %td
          = p.amount.to_account_balance
        %td{:colspan => 2}
    - postings[:credit].each do |p|
      %tr{:class => set_class}
        %td{:colspan => 2}
        %td
          = p.account.name
        %td
          = p.amount.to_account_balance
   
