%table.report.nojs
  %tr
    %th 
      Created at
    %th
      Date
    %th 
      Journal ID  
    %th 
      Debit Account
    %th 
      Credit Account
    %th 
      Amount
    %th 
      Comment
  - journals.each do |journal|
    - postings = journal.postings.sort_by{|x| x.amount}
    %tr
      %td.text
        = journal.created_at.strftime(Mfi.first.date_format + " at %H:%m")
      %td.text
        = journal.date
      %td
        = journal.id
      - debit_postings, credit_postings = journal.postings.group_by{|x| x.amount>0}.values
      %td.text 
        - debit_postings.each do |p|
          = p.account.name
          %br
      %td.text
        - credit_postings.each do |p|
          = p.account.name
          %br
      %td
        %b De
        = debit_postings.map{|x| x.amount>0 ? x.amount.round(2) : 0}.join(", ")
        %br
        %b Cr
        = credit_postings.map{|x| x.amount>0 ? x.amount.round(2) : 0}.join(", ")
      %td
        = postings.map{|x| x.amount>0 ? x.amount : 0}.inject(0){|s,x| s+=x}
      %td.text
        = journal.comment
= paginate(journals).to_s.gsub("<a", "<a class='_remote_' id='journal_entries'")
