- journals = Account.all(:branch => @branch).postings.journals(:order => [:created_at.desc]).paginate(:per_page => 20, :page => params[:page])
%table.report.nojs
  %tr
    %th 
      Created at
    %th
      Date
    %th 
      Journal ID  
    %th 
      Debit Account
    %th 
      Credit Account
    %th 
      Amount
    %th 
      Comment
  - journals.each do |journal|
    - postings = journal.postings.sort_by{|x| x.amount}
    %tr
      %td.text
        = journal.created_at.strftime(Mfi.first.date_format + " at %H:%m")
      %td.text
        = journal.date
      %td
        = journal.id
      - debit_postings, credit_postings = journal.postings.group_by{|x| x.amount>0}.values
      %td.text 
        - debit_postings.each do |p|
          = p.account.name
          %br
      %td.text
        - credit_postings.each do |p|
          = p.account.name
          %br
      %td
        = postings.map{|x| x.amount>0 ? x.amount : 0}.inject(0){|s,x| s+=x}
      %td.text 
        = journal.comment
= link_to("Next", url(:controller => :accounts, :action => :branch, :branch_id => @branch.id, :page => (params[:page]||0).to_i + 1), :class => "_remote_", :id => "journal_entries")