%h1
  Journals controller, edit action
%p
  Edit this file in
  %tt
    app/views/journals/edit.html.erb
= error_messages_for @journal

= form_for(@journal, :action => url(:journal, @journal)) do
  %p
    = submit "Update"

= link_to 'Show', url(:journal, @journal)
|
= link_to 'Back', url(:journals)