%h1 Accountwise List of Journals 
%table
  %tr
    %th
      ID
    %th
      Date
    %th
      Amount
    %th
      Type
    %th
      Comment

  - for journal in @journals.all(:order => [:id.desc])
 
    %tr
      %td
        = journal.id
      %td 
        = journal.date.strftime("%Y/%m/%d")
      %td 
        = journal.postings.first.amount.abs
      %td 
        = journal.type
      %td 
        = journal.comment

= paginate @journals
= link_to 'New', url(:new_journal)
|
= link_to 'Back', (url(:accounts))
