%h1 Accountwise List of Journals 
%table
  %tr
    %th
      Date
    %th 
      Journal ID  
    %th 
      Amount
    %th 
      Comment  


  - for journal in @journals
 
    %tr
      %td
        = journal.date.strftime("%Y/%m/%d")
      %td 
        = journal.id
      %td 
        = journal.postings.first.amount.abs
      %td 
        = journal.comment
= paginate @journals






