#voucher_container
  %h1 New Journal Entry  
  = error_messages_for @journal

  - if session.user.role == :admin
    %div{:style => "padding-left: 25px;"}
      %form{:class => "_remote_", :method => "GET", :action => "/journals/new"}
        %b Select branch
        = select :name => :branch_id, :collection => Branch.all.map{|x| [x.id, x.name]}, :prompt => "Head office accounts", :selected => params[:branch_id]
        %input{:type => :hidden, :name => "_target_", :value => "voucher_container"}
        = submit "GO"

  = form_for(@journal, :action => (@branch ? resource(@branch, :journals) : resource(:journals))) do
    = partial :fields
= link_to 'Back', (@branch ? resource(@branch) : url(:accounts))
