%h1
  Journal
= link_to 'Delete',  "/application/delete/#{@journal.id}?model=journal&return=/journals/#{@journal.id}//", :class => 'delete'

%h3
  = @journal.comment

- @journal.postings.each do |p|
  == #{p.account.name} => #{p.amount}<br>
        

|
= link_to 'Back', url(:journals)