- if @grts.blank?
  .notice
    %h3 
      No GRTs scheduled yet

- else
  %table.narrow
    %tr
      %thead
        %th
          id
        %th
          Date
        %th
          Status
        %th
          Actions

    - for grt in @grts
      %tr{:class => cycle('odd','even')}
        %td
          = grt.id
        %td
          = grt.date
        %td
          = grt.status
        %td
          = link_to 'Show', resource(@client_group, grt)
          |
          = link_to 'Edit', resource(@client_group, grt, :edit)
