%h1
  Grts controller, edit action
%p
  Edit this file in
  %tt
    app/views/grts/edit.html.erb
= error_messages_for @grt

= form_for(@grt, :action => url(:grt, @grt)) do
  %p
    = submit "Update"

= link_to 'Show', url(:grt, @grt)
|
= link_to 'Back', url(:grts)