%h1
  == GRTs for Client Group "#{@client_group.name}"

= link_to 'Add a GRT Date', resource(@client_group, :grts, :new), :class => 'add'
= partial 'grts/grts'

= error_messages_for @grt
%h2
  = form_for(@grt, :action => resource(@client_group, :grts)) do
    Add a GRT on
    = date_select_for @grt, :date
    = submit 'Add GRT'