%table
  %tr
    %td
      Fee Name
    %td
      = text_field :name
  %tr
    %td
      Fees percentage
    %td
      = text_field :percentage
  %tr
    %td
      Fee amount
    %td
      = text_field :amount
  %tr
    %td
      Minimum payable
    %td
      = text_field :min_amount
  %tr
    %td
      Maximum payable
    %td
      = text_field :max_amount
  %tr
    %td
      Payable on
    %td
      = select :payable_on, :collection => Fee.payable_dates.map{|f| [f,f.humanize]}
