%h1
  Edit fee
  == ##{@fee.id} : #{@fee.name}

= error_messages_for @fee

= form_for(@fee, :action => url(:fee, @fee)) do
  = partial :fields
  = submit "Update"

= link_to 'Show', url(:fee, @fee)
|
= link_to 'Back', url(:fees)
