%h1
  Fees

%table.narrow
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th
        Show
      %th
        Edit
  - for fee in @fees
    %tr
      %td
        = fee.name
      %td
        = fee.description
      %td
        = link_to 'Show', url(:fee, fee)
      %td
        = link_to 'Edit', url(:edit_fee,  fee)

= link_to 'New', url(:new_fee)