- cid = bid = 0
- date = nil
%tr{:class => cls}
  - @keys.each do |at|
    - val = cache.send(at) rescue 0
    %td{:style => "text-align: right", :class => "#{at} text"}
      - if at == :date
        = link_to val.strftime("%Y/%m/%d"), resource(:cachers, request.send(:query_params).merge(:date => val))
        - date = val
      - elsif at == :branch_id
        - if @resource == :split_cachers
          = link_to @branch_names[val], url(:cachers, request.send(:query_params).reject{|k,v| ["from_date","to_date"].include?(k)}.to_hash.merge(:date => date))
        - else
          = link_to((@branch_names[val] || "-"), url(@resource, request.send(:query_params).merge(:branch_id => val, :group_by => "center")))
        - bid = val
      - elsif at == :center_id
        - if @center_names
          = link_to((@center_names[val] || "-"), url(:cachers, request.send(:query_params).merge(:center_id => val, :date => cache.date)))
          - cid = val
        - else
          == -
      - else
        = (val == 0 or val.blank?) ? "-" : (val.respond_to?(:to_currency) ? val.to_currency : val)
      - if @total_keys.include?(at) and (not (ignore_total ||= false) )
        - @calculated_total_row[at] ||= 0
        - @calculated_total_row[at] += val
  - unless @resource == :split_cachers
    %td
      = (link_to 'split', url(:split_cachers, request.send(:query_params).merge(:branch_id => bid))) if @level == :branches 
      = (link_to 'split', url(:split_cachers, request.send(:query_params).merge(:center_id => cid))) if @level == :centers
          
