- if params  and params[:center_id] and (@date || @to_date)
  = link_to 'weeksheet', url(:controller => :centers, :id => params[:center_id], :action => :show, :date => @date) + "#weeksheet"
  - total = {}
  - histories = LoanHistory.latest({:center_id => params[:center_id]}, @date)
  - histories.each do |h|
    - cls = h.status == :outstanding ? "" : "closed"
    %tr{:class => cls}
      - keys.each do |at|
        - val = h.send(at)
        %td
          = val.is_a?(Numeric) ? val.to_currency(:mostfit_default) : val
          - total[at] ||= 0
          - total[at] += h.send(at) if h.send(at).is_a? Numeric
      %td{:style => "background: #aaee00"}
        = link_to h.composite_key, "/loans/#{h.composite_key.floor}"
  %tfoot
    %tr.total
      - keys.each do |at|
        %td
          = total[at].to_i.to_currency(:mostfit_default)
