- query_params = request.send(:query_params)
- # TODO refactor to find the level properly
- unless params[:layout]
  = js_include_tag 'jquery.tablesorter.min'
  :javascript
    $('.chosen').chosen();
    $.tablesorter.addParser({ 
    id: 'mostfit_currency', 
    is: function(s) { 
    return false; 
    }, 
    format: function(s) { 
    return isNaN(parseFloat(s.replace(/ /g, ''))) ? 0 : parseFloat(s.replace(/ /g, ''));
    }, 
    type: 'numeric' 
    }); 
       
    $(document).ready(function(){
      $($('table')[0]).tablesorter({
      //sortList: [[5,1],[6,1]],
      headers: { 
      0: { sorter: 'date' },
      1: { sorter: 'string' },
      2: { sorter: 'string' },
      3: { sorter: 'mostfit_currency' },
      4: { sorter: 'mostfit_currency' },
      5: { sorter: 'mostfit_currency' },
      6: { sorter: 'mostfit_currency' },
      7: { sorter: 'mostfit_currency' }
      }} )});
  - unless @stale_centers.empty? and @stale_branches.empty? and @missing_centers.values.flatten.empty?
    .warn
      = link_to "#{@stale_centers.count} stale centers", resource(:cachers, query_params.merge(:model_name => "Center", :stale => true, :date => @date))
      and
      = link_to "#{@stale_branches.count} stale branches", resource(:cachers, query_params.merge(:model_name => "Branch", :stale => true, :date => @date))
      in current selection.
      = "#{@missing_centers.values.flatten.count} missing centers"
      in current selection.
      = link_to "update", url({:controller => :cachers, :action => :generate}.merge(query_params)), :class => "green_button"
  .menu-strip{:style => "width:100%"}
    %tr
      %td
        [
      &nbsp;
      %td
        = link_to 'previous day', url(:consolidate_cachers, query_params.merge(:from_date => @from_date - 1, :to_date => @to_date - 1)), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;&nbsp;
      %td
        = link_to 'next day', url(:consolidate_cachers, query_params.merge(:from_date => @from_date + 1, :to_date => @to_date + 1)), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;&nbsp;
      %td
        = link_to 'last week', url(:consolidate_cachers, query_params.merge(:from_date => Date.today - Date.today.cwday - 7, :to_date => Date.today - Date.today.cwday)), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;&nbsp;
      %td
        = link_to 'week to date', url(:consolidate_cachers, query_params.merge(:from_date => Date.today - Date.today.cwday, :to_date => Date.today)), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;&nbsp;
      %td
        = link_to 'last month', url(:consolidate_cachers, query_params.merge(:from_date => (Date.today << 1) - Date.today.day + 1, :to_date => Date.today - Date.today.day)), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;&nbsp;
      %td
        = link_to 'month to date', url(:consolidate_cachers, query_params.merge(:from_date => Date.today - Date.today.day + 1, :to_date => Date.today )), :class => "grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 6px;"
      &nbsp;
      %td
        ]
      %td
        &nbsp;&nbsp;
        = link_to 'report formats', url(:report_formats), :class => "report", :target => "_blank"
      %td
        = link_to 'printer friendly', url(:consolidate_cachers, query_params.merge(:layout => :printer)), :class => 'print', :target => "_blank"
  = form(:method => :get, :action => url(:consolidate_cachers)) do
    = date_select('from_date', @from_date, {:id => 'from_date'})
    to
    = date_select('to_date', @to_date, {:id => 'to_date'})
    for branch
    = select :name => 'branch_id', :id => "branch_selector", :collection => Branch.all, :text_method => :name, :value_method => :id, :selected => params[:branch_id].to_s, :prompt => 'Select a branch', :class => 'chosen'
    and center
    = select :name => 'center_id', :id => 'center_selector', :collection => Center.all(:branch_id => params[:branch_id]), :text_method => :name, :value_method => :id, :selected => params[:center_id].to_s, :prompt => 'Select a center', :class => 'chosen'
    showing columns
    = select :name => 'report_format', :collection => ReportFormat.all,:text_method => :name, :value_method => :id, :selected => (params[:report_format] || 1).to_s, :prompt => 'Select a report format', :class => 'chosen'
    = submit 'apply filter'
    
  %b by
  - root_url_hash = query_params.dup
  - root_url_hash.delete(:by); root_url_hash.delete(:branch_id); root_url_hash.delete(:center_id); root_url_hash.delete(:model_id)
  = link_to 'funding_line', url(:consolidate_cachers, root_url_hash.merge(:by => "funding_line"))
  = link_to 'loan_product', url(:consolidate_cachers, root_url_hash.merge(:by => "loan_product"))

  - if @cachers.count == 0
    %h3 
      No caches found. 
      = link_to 'generate?', url({:controller => :cachers, :action => :generate}.merge(query_params)), :class => "green_button"
- else
  %h1
    = (ReportFormat.get(params[:report_format].to_i) || ReportFormat.first).name
    - if @from_date and @to_date
      == from #{@from_date} to #{@to_date}
    - elsif @date
      == for #{@date}

= partial @level

