- if not @loan_product or not @clients
  %h1
    Bulk loan entry for
    = @center.name
    in
    = @center.branch.name
  
  %h2 Choose clients
  = form_for(@center, :action => :bulk_form, :class => "_disable_button_") do
    = hidden_field :name => :center_id, :value => @center.id
    %table.report.nojs
      %tr.header
        %th
          ID
        %th
          Reference
        %th
          Name
        %th
          Existing loans      
        %th
          Choose  
      - @clients.group_by{|client| client.client_group}.each do |client_group, clients|
        %tr.branch
          %td{:colspan => 5}
            %b= client_group ? client_group.name : "None"
          - clients.each do |client|
            %tr
              %td
                = client.id
              %td
                = client.reference
              %td
                = client.name
              %td
                = client.loans.map{|l| l.description}.join("<br/>")
              %td
                = check_box(:name => "client_ids[]", :value => client.id, :checked => (@selected and @selected.include?(client.id) ? true : false))
    %hr
    %h2 Choose loan product
    = select :name => :loan_product_id, :collection => LoanProduct.all(:valid_from.lte => Date.today, :valid_upto.gte => Date.today, :order => [:name], :linked_to_insurance => false).map{|lp| [lp.id, lp.name]}, :prompt => "select loan product"
    = submit "Go"
- else
  = form_for(@loan, :action => url(:controller => :loans, :action => :bulk_create), :class => "_disable_button_") do
    = error_messages_for @loan
    - @clients.each do |c|
      = hidden_field :name => "client_ids[]", :value => c.id
    = hidden_field :name => "center_id", :value => @center.id
    = hidden_field :name => "branch_id", :value => @branch.id
    = partial "loans/fields", :submit_text => "Create #{@clients.count} loans", :cancel_link => "/data_entry"
  