%h1
  New loan
  = @client ? "for #{@client.name} (##{@client.id})" : ''

= error_messages_for @loan
- if @client
  - if @loan.nil?
    %table
      - @loan_products.each do |product|
        = form_for(@loan, :action => url(:enter_loans, :action => 'new'), :method => :get) do
          %tr
            %td
              %h3= product.name
            %td
              = hidden_field :name => "product_id", :value => product.id
              = hidden_field :name => "client_id", :value => @client.id
              = submit "Proceed"
    -if @loan_products.length==0
      %div.error
        =link_to("There are no loan products available. Create one now", resource(:loan_products, :new)) 
  - else
    = form_for(@loan, :action => resource(@client.center.branch, @client.center, @client, :loans, {:return => "/data_entry"}), :onsubmit => "javascript: return confirm_for(o);") do
      = hidden_field :client_id, :value => @client.id
      - if @loan.fields_partial.blank?
        = partial 'loans/fields', :submit_text => "Create loan for #{@client.name}", :cancel_link => url(:data_entry)
      - else
        = @loan.fields_partial
- else
  %p
    Please select the client that you want to create a loan for by entering its client ID.

  %table.form
    = form_for(@payment, :action => url(:enter_loans, :action => 'new')) do
      %tr
        %td &nbsp;
      %tr
        %td &nbsp;
        %td
          Client ID, Name or Ref.:
        %td
          = text_field :client_id, :size => 8
        %td
          = submit "Proceed..."
