%h1
  New loan
  = @client ? "for #{@client.name} (##{@client.id})" : ''

= error_messages_for @loan
- if @client
  - if @loan.nil?
    - @loan_types.each do |loan_type|
      = form_for(@loan, :action => url(:enter_loans, :action => 'new')) do
        = hidden_field :client_id, :value => @client.id
        %h3= loan_type.to_s[0..-5] + ' loan'
        %p
        = loan_type.description
        %br/
        %br/
        = hidden_field :name => "loan_type", :value => loan_type.to_s
        = submit "Proceed with the #{loan_type.to_s[0..-5]} loan"
        %br/
        %br/
  - else
    = form_for(@loan, :action => url(:enter_loans, :action => 'create')) do
      = hidden_field :client_id, :value => @client.id
      - if @loan.fields_partial.blank?
        = partial 'loans/fields', :submit_text => "Create loan for #{@client.name}", :cancel_link => url(:data_entry)
      - else
        = @loan.fields_partial


- else
  %p
    Please select the client that you want to create a loan for by entering its client ID.

  %table.form
    = form_for(@payment, :action => url(:enter_loans, :action => 'new')) do
      %tr
        %td &nbsp;
      %tr
        %td &nbsp;
        %td
          Client ID:
        %td
          = text_field :client_id, :size => 8
        %td
          = submit "Proceed..."