%h1 Uploads
.menu-strip
  = link_to 'new', resource(:uploads, :new), :class => 'add'
%table.narrow.shaded
  %tr
    %th
      id
    %th
      Filename
    %th
      State
    %th
      Errors
    %th
      Checkers
    %th
      Action
  - @uploads.each do |upload|
    %tr
      %td
        = upload.id
      %td
        = upload.filename
      %td
        = upload.state
      %td
        = upload.short_status
      %td
        = Checker.all(:upload_id => upload.id, :ok => false).count
      %td
        = link_to "Details", resource(upload)
        |
        = link_to "Continue", url(:continue_upload, :id => upload.id)
