%h1 Upload
.menu-strip
  = link_to 'Continue', url(:continue_upload, @upload), :class => "greenButton"
  = link_to 'Reset', url(:reset_upload, @upload), :class => "cancelButton"
  = link_to 'Reset and Delete all Data', url(:reset_upload, @upload, :delete => 1), :class => "cancelButton"
  = link_to 'Reupload', url(:edit_upload, @upload), :class => "cancelButton"
%table.tall
  %tr
    %th
      Directory
    %td
      = @upload.directory
  %tr
    %th
      Filename
    %td
      = @upload.filename
  %tr
    %th
      md5
    %td
      = @upload.md5sum
  %tr
    %th
      Status
    %td
      = @upload.state
  %tr
    %th
      State Detail
    %td
      - @upload.state_detail.each do |k,v|
        == #{k} : #{v}
.admin-box
  %h2 Directory contents
  - entries = `ls -l #{File.join(Merb.root,"uploads",@upload.directory)}`.split("\n").map{|x| x.split(" ")}
  %table
    - entries.each do |e|
      %tr
        %td
          = link_to e[8], url(:show_csv_upload, @upload, :filename => e[8]), :target => "_blank"
        %td
          = e[4]
  
    
.admin-box
  %h2 Status
  - Upload::MODELS.each do |model|
    %ul.inline
      %li
        = @upload.send(model).count
        = model
        = link_to 'reload', url(:reload_upload, @upload, :model => model.to_s)
        %br

.admin-box
  %h2 Errors
  - Upload::MODELS.each do |model|
    - fn = File.join("uploads", @upload.directory, "#{model}_errors.csv")
    %ul
      - if File.exists?(fn)
        %li
          - link_text = `wc -l #{fn} | awk -F" " '{print $1}'` + " " + model.to_s
          = link_to link_text, url(:controller => :uploads, :action => :error_log, :model => model, :id => @upload.id)
.admin-box
  %h2 Checks
  = link_to "#{@upload.checkers(:ok => false).count} failed checks", resource(@upload, :checkers)