- if @staff_member
  %h1
    Mark attendance
    = "of staff: #{@staff_member.name}" if @staff_member
  
  = error_messages_for @staff_member_attendance

  - form_url = resource(:staff_member_attendances, {:return => params[:return]})
  
  = form_for(@staff_member_attendance, :action => form_url, :classs => "") do
    %fieldset
      = partial :fields
      = submit "Submit"
      &nbsp;&nbsp;&nbsp;
      %b
        Or
      &nbsp;&nbsp;&nbsp;
      = link_to "Cancel", url(:quick_link, "staff_members", @staff_member.id), :class => "grey_button"
- else
  %h2
    Please choose a branch and a date to mark attendance
  = form_for(@staff_member_attendance, :controller => :staff_member_attendances, :action => "bulk_entry") do
    = select :sma_branch_id, :collection => Branch.all.map{ |x| [x.id, x.name]}, :prompt => "Select Branch", :class => 'chosen'
    &nbsp;&nbsp;
    = date_select_for @staff_member_attendance, :date
    &nbsp;&nbsp;
    = submit 'Next...'