%h1
  Rules controller, edit action
%p
  Edit this file in
  %tt
    app/views/rules/edit.html.erb
= error_messages_for @rule

= form_for(@rule, :action => url(:rule, @rule)) do
  %p
    = submit "Update"

= link_to 'Show', url(:rule, @rule)
|
= link_to 'Back', url(:rules)