%table
  %tr
    %td
      = I18n.t "region.fields.region_name", :default => "Region Name"
    %td
      = text_field :name
  %tr
    - if StaffMember.count==0 and session.user.role==:admin
      %div.error
        You do not have any staff members data yet. Create them
        = link_to("here", resource(:staff_members, :new), :target => "_blank")
    %td
      = I18n.t "region.fields.manager", :default => "Manager"
    %td
      = select :manager_id, :collection => StaffMember.all.sort_by{|s| s.name}.map{|s| [s.id, s.name]}, :prompt => "---", :class => "chosen"
  %tr
    %td
      = I18n.t("region.fields.address", :default => "Address")
    %td
      ~ text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      = I18n.t("region.fields.contact_phone_number", :default => "Contact phone number")
    %td
      = text_field :contact_number, :size => 15
  %tr
    %td
      = I18n.t("region.fields.landmark", :default => "Landmark")
    %td
      = text_field :landmark, :size => 25
  %tr
    %td
      = I18n.t("region.fields.creation_date", :default => "Creation date")
    %td
      = date_select_for @region,  :creation_date
