%h1
  = I18n.t "region.fields.edit", :default => "Region"
  = @region.name
= error_messages_for @region

= form_for(@region, :action => url(:region, @region)) do
  = partial :fields
  = submit I18n.t "region.fields.update", :default => "Update"

= link_to I18n.t("region.fields.show", :default => "Show"), url(:region, @region)
|
= link_to I18n.t("region.fields.back", :default => "Back"), url(:regions)
