%h1
  = I18n.t "region.index.title", :default => "Regions"
.menu-strip
  = link_to I18n.t("region.index.new", :default => "Add a Region"), url(:new_region), :class => "add grey_button"

%table.shaded{:width=>"100%"}
  %thead
    %tr
      %th
        = I18n.t "region.index.table.id", :default => "id"
      %th
        = I18n.t "region.index.table.name", :default => "name"
      %th
        = I18n.t "region.index.table.areas", :default => "area"
      %th
        = I18n.t "region.index.table.edit", :default => "edit"
  - for region in @regions
    %tr{:class => cycle('odd','even')}
      %td
        = region.id
      %td 
        = link_to region.name, resource(region)
      %td
        = region.areas.count
      %td
        = link_to I18n.t("region.index.edit", :default => "Edit"), url(:edit_region,  region)


