%xml
  %regions
    - for region in @regions
      %region
        %id #{region.id}
        %name #{region.name}
        %address #{region.address}
        %contact_number #{region.contact_number}
        %landmark #{region.landmark}
        %creation_date #{region.creation_date}
