%h1
  == Region #{@region.name}
  = link_to 'Edit',  url(:edit_region,  @region), :class => "edit"
%table
  %tr.odd
    %td Address
    %td=@region.address
  %tr
    %td Contact number
    %td=@region.contact_number
  %tr.odd
    %td Landmark
    %td=@region.landmark

= link_to 'Add a new area', resource(@region, :areas, :new), :class => "add"
%h3
  == Areas under #{@region.name}
- if @region.areas.count == 0
  .flash.notice
    == #{@region.name} does not have any Areas. 
    = link_to 'Click here', resource(@region, :areas) 
    to add one
- else 
  %table.narrow
    %thead
      %tr
        %th
          id
        %th
          name
        %th
          action
    - @region.areas.each do |a|
      %tr
        %td
          = a.id
        %td
          = link_to a.name, resource(a)
        %td
          = link_to 'Show', resource(a)
          |
          = link_to 'Edit', resource(a, :edit)
          

= link_to 'Back', url(:regions)
