%h1
  == Region #{@region.name}
  = link_to 'Edit',  url(:edit_region,  @region), :class => "edit"
%table
  %tr.odd
    %td Address
    %td=@region.address
  %tr
    %td Contact number
    %td=@region.contact_number
  %tr.odd
    %td Landmark
    %td=@region.landmark

= link_to 'Add a new area', resource(@region, :areas, :new), :class => "add"
%div.tab_container
  %ul.tabs
    %li#areas
      Areas
    %li#info
      Info
  %div.tab
    %h3
      == Areas under #{@region.name}
    - if @region.areas.count == 0
      .flash.notice
        == #{@region.name} does not have any Areas. 
        = link_to 'Click here', resource(@region, :areas, :new) 
        to add one
    - else 
      %table.narrow
        %thead
          %tr
            %th
              id
            %th
              name
            %th
              branches
            %th
              action
        - @region.areas.each do |a|
          %tr
            %td
              = a.id
            %td
              = link_to a.name, resource(a)
            %td
              = link_to a.branches.count, resource(a)
            %td
              = link_to 'Edit', resource(a, :edit)
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => "/info/moreinfo/#{@region.id}?for=region"}
