#make-task
  %input.ajax-fetch{:type => "button", :value => "Add Task", :url => "/maintain/tasks/new"}
%hr
#tasks
  - crontab = CronEdit::Crontab.new(`echo $USER`.chomp)
  - @tasks, @tasks_keys = [], []
  - crontab.list_maintainer.each do |k,v|
    - @tasks.push(v.to_cron_entry)
    - @tasks_keys.push(k)
  - if @tasks.length > 0
    List of active tasks:
    %table.spacious
      %thead
        %tr
          %th No.
          %th Task
          %th Schedule
          %th
      %tbody
        - @tasks.each_with_index do |task,index|
          %tr
            %td= index+1
            %td= task[:command]
            %td= schedule_to_s(task)
            %td
              %a.ajax-fetch{:href => "#", :url => "/maintain/tasks/edit?task=#{@tasks_keys[index]}"} Edit
              %a.ajax-fetch{:href => "#", :url => "/maintain/tasks/delete?task=#{@tasks_keys[index]}"} Delete