- @tabs = %w(deployment database tasks history reporting)
!!!
%html
  %head
    %title Maintenance
    
    %link{:href => "#{stylesheet_path('master.css')}", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "../stylesheets/style.css", :type => "text/css" , :rel => "stylesheet"}
    
    %script{:src => "../javascripts/jquery.js", :type => "text/javascript"}  
    %script{:src => "#{javascript_path('master.js')}", :type => "text/javascript"}
    %script{:src => "../javascripts/application.js", :type => "text/javascript"}

  %body
    #message-drawer
      #message
        #message-inside
          %span

    #overlay
    
    #container
      #desc
        %p
          Mostfit Maintainer
      .tab_container
        %ul.tabs
          - @tabs.each do |tab|
            %li{ :id => "#{tab}"}
              = tab.capitalize

        - @tabs.each do |tab|
          - url = url(("maintainer_"+tab).to_sym)
          .tab
            %input{:type => "hidden", :name => "_load_remote", :value => "#{url}"}