#take-snapshot
  %form
    %input{:type => "button", :value => "Take Snapshot"}
    
#snapshots
  - @snapshots = get_snapshots()
  - if @snapshots.length > 0
    List of snapshots:
    %table.spacious
      %thead
        %tr
          %th No.
          %th Filename
          %th Created at
          %th Size (bzipped)
      %tbody
        - @snapshots.each_with_index do |snapshot,index|
          %tr
            %td= index+1
            %td= "<a href='/maintain/database/download_dump?file=#{snapshot[:name]}' title='Download this database dump'>#{snapshot[:name]}</a>"
            %td= snapshot[:date].strftime("%l:%M:%S %p, %d %b, %Y")
            %td= "%.2f MB" % (snapshot[:size]/1024.0/1024.0)
  - else
    You have not taken any database snapshots as yet.