%h1
  Edit client type
  
= error_messages_for @client_type

= form_for(@client_type, :action => url(:client_type, @client_type)) do
  %p
    = text_field :type
    = submit "Update"

= link_to 'Show', url(:client_type, @client_type)
|
= link_to 'Back', url(:client_types)
