%h1
  Edit client type
  
= error_messages_for @client_type

= form_for(@client_type, :action => url(:client_type, @client_type), :class => "form") do
  = partial :fields
  = submit "Update"

= link_to 'Show', url(:client_type, @client_type)
|
= link_to 'Back', url(:client_types)
