%h1
  Client Types
.menu-strip
  = link_to 'New Client Type', url(:new_client_type), :class => "add"
%br
%table.narrow.shaded
  %thead
    %tr.shaded
      %th
        Name
      %th
        Fees Applicable
      %th
        Action
  - for client_type in @client_types
    %tr{:class => cycle('odd','even')}
      %td
        = client_type.type
      %td
        %ul.inline
          - client_type.fees.each do |f|
            %li
              = link_to f.name.humanize, resource(f)
      %td
        = link_to 'Show', url(:client_type, client_type)
        |
        = link_to 'Edit', url(:edit_client_type,  client_type)

