= partial :form
- @accounts = @data
- balance = @accounts.map{|a| a.opening_balance_as_of(@report.from_date) || 0}.reduce(:+)
- if @data.empty?
  %h3  Nothing to show. Perhaps no bank accounts set up?
- else
  %table.report.nojs
    %tr.header
      %thead
        %th
          Date
        %th
          Narration
        %th
          Vch Type
        %th
          Vch. No.
        %th
          %b Debit
        %th
          %b Credit
    %tr.total
      %td
        = @report.from_date
      %td
        Opening Balance
      %td
      %td
      %td
        = balance.to_currency
      %td
    - posting_hash = Posting.all(:account.in => @accounts, "journal.date.lte" => @report.to_date, "journal.date.gte" => @report.from_date).map{|p| [p.journal.date, p]}
    - posting_hash.sort_by{|p| p[0]}.each do |ph|
      %tr{:class => cycle('odd','even')}
        - posting = ph[1]
        - balance += posting.amount
        %td
          = ph[0]
        %td
          = posting.journal.comment
        %td
          = posting.journal.journal_type.name
        %td
          = posting.journal.transaction_id
        %td
          = posting.amount > 0 ? posting.amount.to_currency : "-"
        %td
          = posting.amount < 0 ? posting.amount.abs.to_currency : "-"
    %tr.total
      %td
        = @report.to_date
      %td
        Closing Balance
      %td
      %td
      %td
        = balance.to_currency
      %td
