=partial :form
%table.report.nojs
  %tr.header
    %th{:width => '20%'}
      Client
    %th{:width => '10%'}
      Death of
    %th{:width => '10%'}
      Date of Death
    %th{:width => '10%'}
      Date of Claim
    %th{:width => '10%'}
      Pending Documents
    %th{:width => '10%'}
      Disbursed
    %th{:width => '10%'}
      Payment
    %th{:width => '10%'}
      Balance Outstanding
 
 
  - @data.each do |claim| 
    %tr 
      %td
        = claim.client.name
      %td
        = claim.client.inactive_reason
      %td
        = claim.date_of_death
       
      %td
        = claim.claim_submission_date
      %td
        -list = ['death_certificate','center_declaration_form','kyc_document']
        -doc = claim.documents
        - doc.each do |x| 
          - if doc.length == 1
            - if x.to_s == list[0] 
              = list[1]
              = list[2]
            - elsif x.to_s == list[1]
              = list[0]
              = list[2]
            - elsif x.to_s == list[2]
              = list[0]
              = list[1]
          - elsif doc.length == 2
            - if x.to_s == list[0] and list[1]
              = list[2]
            - elsif x.to_s == list[1] and list[2]
              = list[0]
            - elsif x.to_s == list[0] and list[2]
              = list[1]
          - elsif doc.length == 3  
            - if x.to_s == list[0] and list[1] and list[2]
              = "all document submited"
        -if claim.documents.length == 0
          = list[0]
          = list[1]
          = list[2]
      %td
        - l = claim.client.loans
        - l.each do |x|
        - amount_disbursed = x.amount
          = amount_disbursed
          %br
      %td
        - l = claim.client.loans
        - l.each do |x|
        - amount_disbursed = x.amount
        - amount_paid = x.principal_received_up_to(Date.today).to_f
          = amount_paid
          %br
      %td
        - l = claim.client.loans
        - l.each do |x|
        - amount_disbursed = x.amount
        - amount_paid = x.principal_received_up_to(Date.today).to_f
          = amount_disbursed - amount_paid
          %br
= paginate @data
