=partial :form
%table.report.nojs
  %tr.header
    %th
      Branch
    %th{:colspan => "1"}
      Disbursement
    %th{:colspan => "5"}
      Cash Collection
    %th{:colspan => "3"}
      Cash Foreclosure
    %th{:colspan => "3"}
      VAR Adjusted
    %th{:colspan => "3"}
      Death Settlement
    %th{:colspan => "3"}
      Write Offs
  %tr.header
    %th
    %th
      Amount
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      VAR
    %th
      Total
    %th
      Principal
    %th
      Interest
    %th
      Total
    %th
      Principal
    %th
      Interest 
    %th
      Total
    %th
      Principal
    %th
      Interest 
    %th
      Total
    %th
      Principal
    %th
      Interest 
    %th
      Total
  - branch_id = nil
  - length = 19
  - org_total = []
  - branch_total = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  -@data.sort_by{|branch, data| branch.name}.each do |branch, data|
    -if data.length > 0
      %tr.branch
        %td
          %b 
            = branch.name
        -data.each_with_index do |d, idx|
          -if idx==0
            %td
              = d.to_currency
              - branch_total[0] += d
          -elsif idx == 1
            %td
              = d[:principal].to_currency
              - branch_total[1] += d[:principal]
            %td
              = d[:interest].to_currency
              - branch_total[2] += d[:interest]
            %td
              = d[:fees].to_currency
              - branch_total[3] += d[:fees]
            %td
              = d[:var].to_currency
              - branch_total[4] += d[:var]
            %td
              = d[:total].to_currency
              - branch_total[5] += d[:total]
          -elsif idx == 2
            %td
              = d[:principal].to_currency
              - branch_total[6] += d[:principal]
            %td
              = d[:interest].to_currency
              - branch_total[7] += d[:interest]
            %td
              = d[:total].to_currency
              - branch_total[8] += d[:total]
          -elsif idx == 3
            %td
              = d[:principal].to_currency
              - branch_total[9] += d[:principal]
            %td
              = d[:interest].to_currency
              - branch_total[10] += d[:interest]
            %td
              = d[:total].to_currency
              - branch_total[11] += d[:total]
          -elsif idx == 4
            %td
              = d[:principal].to_currency
              - branch_total[12] += d[:principal]
            %td
              = d[:interest].to_currency
              - branch_total[13] += d[:interest]
            %td
              = d[:total].to_currency
              - branch_total[14] += d[:total]
          -elsif idx == 5
            %td
              = d[:principal].to_currency
              - branch_total[15] += d[:principal]
            %td
              = d[:interest].to_currency
              - branch_total[16] += d[:interest]
            %td
              = d[:total].to_currency
              - branch_total[17] += d[:total]
    - org_total.push(branch_total) 
  %tr.org_total
    %td
      %b==Total
    - branch_total.each do |ele|
      %td
        %b
          =ele.to_currency
