%h2
/  = @report.name

- @branch_loans = {}
- Branch.all.each do |branch|
  - @branch_loans[branch.id] = Loan.all('client.center.branch_id' => branch.id)

%table
  %tr
    %th
      Parameter
    %th
      All Branches
    - Branch.all.each do |branch|
      %th
        = branch.name
  %tr
    %th
      No. of CM
    %td
      = Center.all.manager.uniq.count
    - Branch.all.each do |branch|
      %td
        = Center.all(:branch_id => branch.id).manager.uniq.count
  %tr
    %th
      No. of Centers
    %td
      = Center.all.count
    - Branch.all.each do |branch|
      %td
        = Center.all(:branch_id => branch.id).count
  %tr
    %th
      No. of Clients
    %td
      = Client.all.count
    - Branch.all.each do |branch|
      %td
        = Client.all('center.branch_id' => branch.id).count
  %tr
    %th
      No. of Borowers
    %td
      = repository(:default).adapter.query("SELECT COUNT(DISTINCT(client_id)) FROM loans")[0]
    - Branch.all.each do |branch|
      %td
        = repository.adapter.query("SELECT COUNT(DISTINCT(client_id)) FROM loans,clients,centers,branches WHERE loans.client_id = clients.id AND clients.center_id = centers.id AND centers.branch_id = branches.id AND branches.id = #{branch.id}")[0]
  %tr
    %th
      Loans for next week (number)
    %td
      = Loan.all(:scheduled_disbursal_date.gt => Date.today, :scheduled_disbursal_date.lt => Date.today + 7).count
    - Branch.all.each do |branch|
      %td
        = @branch_loans[branch.id].all(:scheduled_disbursal_date.gt => Date.today, :scheduled_disbursal_date.lt => (Date.today + 7)).count
  %tr
    %th
      Loans for next week (amount)
    %td
      = Loan.all(:scheduled_disbursal_date.gt => Date.today, :scheduled_disbursal_date.lt => Date.today + 7).sum(:amount) || 0
    - Branch.all.each do |branch|
      %td
        = @branch_loans[branch.id].all(:scheduled_disbursal_date.gt => Date.today, :scheduled_disbursal_date.lt => (Date.today + 7)).sum(:amount) || 0
