- #debugger
/TODO printer friendly version
%b
  - #raw = Marshal.restore(@report.report)
  - #debugger
  - #@data = @raw[0]
  - details_of_duplicates = @data[1]
  - @data = @data[0]
  Total Duplicates = 
  = @data.count
%br

%table
  %tr
    %th
      Client ID1
    %th
      Client ID2
    %th
      Issue(s)
    %th
      Details

  - @data.each do |x|
    %tr
      %td
        %a{:href => url(:controller => "data_entry/clients", :action => "edit", :client_id => x[0])}
          = x[0]
      %td
        %a{:href => url(:controller => "data_entry/clients", :action => "edit", :client_id => x[1])}
          = x[1]
      %td
        - if (x[2] & DuplicateClientsReport::SAME_NAME_AND_DOB) != 0
          Similar Name and Same Date of Birth
        - if (x[2] & DuplicateClientsReport::SAME_SPOUSE_NAME_AND_DOB) != 0
          Similar Spouse Name and Same Date of Birth
        - if (x[2] & DuplicateClientsReport::SAME_NAME) != 0          
          Similar Name (and Date of Birth not provided)
        - if (x[2] & DuplicateClientsReport::SAME_SPOUSE_NAME_AND_DOB) != 0
          Similar Spouse Name (and Date of Birth not provided)
        - if (x[2] & DuplicateClientsReport::SAME_ACCOUNT_NUMBER) != 0
          Same (Bank) Account Number
      %td
        - id1 = x[0]
        = "Client ID:#{id1} <b>Name:</b>#{details_of_duplicates[id1][:name]} <b>Spouse Name:</b>#{details_of_duplicates[id1][:spouse_name]}<br> <b>Center Name:</b>#{details_of_duplicates[id1][:center_name]} <b>Branch Name:</b>#{details_of_duplicates[id1][:branch_name]}"
        - if ((x[2] & DuplicateClientsReport::SAME_NAME_AND_DOB) != 0) or ((x[2] & DuplicateClientsReport::SAME_SPOUSE_NAME_AND_DOB) != 0)
          = "<br><b>Date of Birth:</b> #{details_of_duplicates[id1][:dob]}"
        %br
        - id2 = x[1]
        = "Client ID:#{id2} <b>Name:</b>#{details_of_duplicates[id2][:name]} <b>Spouse Name:</b>#{details_of_duplicates[id2][:spouse_name]}<br> <b>Center Name:</b>#{details_of_duplicates[id2][:center_name]} <b>Branch Name:</b>#{details_of_duplicates[id2][:branch_name]}"
        - if ((x[2] & DuplicateClientsReport::SAME_NAME_AND_DOB) != 0) or ((x[2] & DuplicateClientsReport::SAME_SPOUSE_NAME_AND_DOB) != 0)
          = "<br><b>Date of Birth:</b> #{details_of_duplicates[id2][:dob]}"
        

