= partial :form
%table.report.nojs
  %tr.header
    %th
      Date
    %th
      Particulars
    %th
      Vch. Type
    %th
      Vch. No.
    %th
      Accounts
    %th
      Debit Amount
    %th
      Credit Amount
 
  - length = 6
  - org_total = []
  - time_format = Mfi.first.date_format || "%d-%m-%Y"
  - time_format += " %H:%M"
  - accounts = {}
  - cr_sum, dr_sum = 0,0
  - Account.all.each{|acc|  accounts[acc.id] = acc}
  - @data.each do |key,val|
    %tr
      %td
        = val[0].strftime(Mfi.first.date_format)
      %td
        = val[1]
      %td
        = val[2]
      %td
        = val[3]
      %td
        - val[4].each do |journal|
          = journal.account.name
          %br
        - val[5].each do |journal|
          = journal.account.name
          %br
      %td
        - val[4].each do |journal|
          - dr_sum += journal.amount 
          = journal.amount * -1 
          %b Dr
          %br
      %td
        %br
        - val[5].each do |journal|
          - cr_sum += journal.amount
          = journal.amount 
          %b Cr
          %br
       
  %tr
    %td
    %td
    %td
    %td
    %td
      %b Total
    %td
      %b
        = dr_sum * -1
    %td
      %b
        = cr_sum

