=partial :form
%table.report.nojs
  %tr.header
    %th
      Date
    %th
      Discription
    %th
      Account
    %th
      Debit
    %th
      Credit
 
  - length = 5
  - org_total = []
  - time_format = Mfi.first.date_format || "%d-%m-%Y"
  - time_format += " %H:%M"
  - accounts = {}
  - Account.all.each{|acc|  accounts[acc.id] = acc}
  - @data.each do |key,val|
    %tr
      %td
        = val[0].strftime(time_format)
      %td
        = val[1]
      %td
        - val[2].each do |journal|
          = journal.account.name
          %br
        - val[3].each do |journal|
          = journal.account.name
          %br
      %td
        - val[2].each do |journal|
          = journal.amount * -1
          %br
      %td
        %br
        - val[3].each do |journal|
          = journal.amount
          %br
       
  %tr
    %td
    %td
    %td
    %td 
    %td
    

