
%table.report.nojs
  %tr.header
  
    %th
      Name
    %th
      Date of Joining 
    %th
      Transfer
    %th{:colspan => "2"}
      Operation Area
    %th{:colspan => "8"}
      Loan frequency-1 (weekly)
    %th{:colspan => "7"}
      Loan frequency-2 (Monthly)
    %th{:colspan => "3"}
      Payable
   
  %tr.header
  
    %th
    %th
    %th
    %th   
      Present
    %th
      Transfer  
    %th
      Clients(current month)
    %th
      OP BL
    %th
      Take Over
    %th
      Clients(last month)
    %th
      Hand Over
    %th
      Close
    %th
      Death
    %th
      NET MGT
    %th
      OP BL
    %th
      Take Over
    %th
      Clients(last month)
    %th
      Hand Over
    %th
      Close
    %th
      Death
    %th
      NET MGT
    %th
      For
    %th
      MAN IGL
    %th
      MAN LTL
  
   
    - Marshal.load(@report.report).each do |key,val|
      %tr
        %td 
          = key.name
        %td
          = key.creation_date
        %td 
          = val[3]
        %td
          = val[4]
            
        %td
          = val[5]
        %td
          = val[6]
        %td
          = val[7]
        %td
          = val[8]
        %td
          = val[9]
        %td
          = val[10]
        %td
          = val[11]
        %td
          = val[12]
        %td
          = val[13]
        %td
          = val[14]
        %td
          = val[15]
        %td
          = val[16]
        %td
          = val[17]
        %td
          = val[18]
        %td
          = val[19]
        %td
          = val[20]
        %td
          = val[21]
        %td
          = val[22]
        %td
          = val[23]
             
      