=partial :form
- income_heads_and_accounts = @data
- total_expenditure = 0.0; total_income = 0.0
- non_breaking_space = "&nbsp;"
- total_cols = 3
%table.report.nojs
  %tr.header
    %th
      Account
    %th
      Amount
    %th
      Totals
  %tr
    %th{:colspan => total_cols}
      EXPENSES
  - EXPENSES.each do |expense_head|
    - sub_total = 0.0
    %tr
      %td{:colspan => total_cols, :align => 'center'}
        = expense_head
    - accounts_and_amounts = income_heads_and_accounts[expense_head]
    - accounts_and_amounts.each_pair do |account, amount|
      - total_expenditure += amount.abs; sub_total += amount.abs
      %tr
        %td
          = account.name
        %td
          = amount.abs.to_currency
        %td
          = non_breaking_space
    %tr
      %td
        = non_breaking_space
      %td
        = sub_total.to_currency
      %td
        Sub-total
  %tr
    %th{:colspan => total_cols - 1}
      Total Expenditure
    %th
      = total_expenditure.to_currency
  %tr
    %th{:colspan => total_cols}
      INCOMES
  - INCOMES.each do |income_head|
    - sub_total = 0.0
    %tr
      %td{:colspan => total_cols, :align => 'center'}
        = income_head
    - accounts_and_amounts = income_heads_and_accounts[income_head]
    - accounts_and_amounts.each_pair do |account, amount|
      - total_income += amount.abs; sub_total += amount.abs
      %tr
        %td
          = account.name
        %td
          = amount.abs.to_currency
        %td
          = non_breaking_space
    %tr
      %td
        = non_breaking_space
      %td
        = sub_total.to_currency
      %td
        Sub-total
  %tr
    %th{:colspan => total_cols - 1}
      Total Income
    %th
      = total_income.to_currency
  - net = total_income - total_expenditure
  %tr
    %th{:colspan => total_cols - 1}
      Net Profit (Loss)
    %th
      = net < 0 ? "(#{net.abs.to_currency})" : net.to_currency
