= partial :form
%table.report.nojs
  %tr.header
    %th{:width => "10px"}
      Loan Account No.
    %th
      Unique Reference Number / Cust ID
    %th
      Loan Amount
    %th
      Full Name with Initials
    %th
      Gender
    %th
      Age
    %th
      Date of Birth
    %th
      Date of Disbursement
    %th
      Branch Name
    %th
      Occupation
    %th
      Member(M)/ Guarantor(G)
  - @data.each do  |row|
    %tr 
      %td{:width => "10px"}
        = row[:loan_id]
      %td
        = row[:client_id]
      %td
        = row[:amount]
      %td
        = row[:client_name]
      %td
        - if row[:client_gender] == 3
          = "Male"
        - elsif row[:client_gender] == 2
          = "Female"
        - else
          = "-"
      %td
        - age = row[:c_date_of_birth] ? (Time.now.year - row[:c_date_of_birth].year) : ""
        = age
      %td
        = row[:c_date_of_birth]
      %td
        = row[:disbursal_date]
      %td
        = row[:branch_name]
      %td
        - occupation = row[:c_occupation_id] ? Occupation.get(row[:c_occupation_id]).name : "-"
        = occupation
      %td
        = "M"
    %tr
      %td{:width => "10px"}
        = row[:loan_id]
      %td
        = "G-" + row[:guarantor_id].to_s
      %td
        = row[:amount]
      %td
        = row[:guarantor_name]
      %td
        - if row[:g_gender] == 3
          = "Male"
        - elsif row[:g_gender] == 2
          = "Female"
        - else
          = "-"
      %td
        - age = row[:g_date_of_birth] ? (Time.now.year - row[:g_date_of_birth].year) : ""
        = age
      %td
        = row[:g_date_of_birth]
      %td
        = row[:disbursal_date]
      %td
        = row[:branch_name]
      %td
        - occcupation = row[:g_occupation_id] ? (Occupation.get(row[:g_occupation_id]).name) : "-"
        = occupation
      %td
        = "G"