= partial :form
%table.report.nojs
  %tr.header
    %th
      Branch
    %th
      Last Payment created at
    %th
      Last Loan created at
    %th
      Last Client created at
  - branch_id = nil
  - length = 4
  - @data.each do |datum|
    %tr.branch
      %td
        %b
          = datum[0]
      %td
        - if datum[1]
          = datum[1][0][1]
        - else
          NA
      %td
        - if datum[1]
          = datum[1][0][2].ctime
        - else
          NA
      %td
        - if datum[2]
          = datum[2][0][1].ctime
        - else
          NA