= form_for(@report, :action => url(:show_report, :report_type => "LateDisbursalsReport"), :method => :get) do
  %table
    - branch_id = (params[:transaction_ledger] and params[:transaction_ledger][:branch_id]) ? params[:transaction_ledger][:branch_id] : nil
    - center_id = (params[:transaction_ledger] and params[:transaction_ledger][:center_id]) ? params[:transaction_ledger][:center_id] : nil
    - staff_member_id = (params[:transaction_ledger] and params[:transaction_ledger][:staff_member_id]) ? params[:transaction_ledger][:staff_member_id] : nil
    %tr
      %td
        Date: 
        =date_select_for(@report, "date", :date => @report.date)
      %td
      %td
        Staff members:
        =select(:staff_member_id , :collection => StaffMember.all.map{|x| [x.id, x.name]}, :include_blank => true, :selected => staff_member_id)
    %tr
      %td
        Branch:
        =select(:branch_id , :collection => Branch.all, :value_method => :id, :text_method => :name, :include_blank => true, :selected => branch_id)
      %td
        Center:
        - if (staff_member_id and not staff_member_id.blank?)
          - centers = StaffMember.get(staff_member_id).centers
        - else
          - centers = (branch_id and not branch_id.blank?) ? Center.all(:branch_id => branch_id, :order => [:name]) : Center.all(:order => [:name])
        =select(:center_id , :collection => centers.all.map{|x| [x.id, "#{x.branch.name} -- #{x.name}"]}, :include_blank => true, :selected => center_id)
      %td
        =submit "Go"
- length = 6
%table.report
  %tr.header
    %th{:width => '20%'}
      Date
    %th{:width => '20%'}
      Loan
    %th{:width => '20%'}
      Client
    %th
      Scheduled Disbursal Date
    %th
      Days delayed
    %th
      Status
  - @data.each do |branch, centers|
    -branch_total = 0
    %tr.branch
      %td{:colspan => length}
        = branch.name
    - centers.each do |center, loans|
      -center_total = 0
      %tr.center
        %td{:colspan => length}
          = center.name
      - loans.each do |l|
        -center_total += l.amount
        %tr.group
          %td
            = @report.date
          %td
            = l.description
          %td
            = l.client.name
          %td 
            = l.scheduled_disbursal_date
          %td
            = @report.date - l.scheduled_disbursal_date
          %td
            = l.get_status(@report.date)
      %tr.center_total
        %td
          Center total
        %td
          =center_total
          -branch_total+=center_total
        -4.times do
          %td
    %tr.branch_total
      %td
        Branch total
      %td
        =branch_total
      -4.times do
        %td
