=partial :form
- length = 6
%table.report
  %tr.header
    %th{:width => '20%'}
      Date
    %th{:width => '20%'}
      Loan
    %th{:width => '20%'}
      Client
    %th
      Scheduled Disbursal Date
    %th
      Days delayed
    %th
      Status
  - org_total = 0
  - @data.sort_by{|branch, centers| branch.name}.each do |branch, centers|
    -branch_total = 0
    - if centers.length > 0
      %tr.branch
        %td{:colspan => length}
          %b
            = branch.name
      - centers.sort_by{|center, loans| center.name}.each do |center, loans|
        - if loans.length > 0
          -center_total = 0
          %tr.center
            %td{:colspan => length}
              %b
                = center.name
          - loans.each do |l|
            -center_total += l.amount
            %tr.group
              %td
                = @report.date
              %td
                = l.description
              %td
                = l.client.name
              %td
                = l.scheduled_disbursal_date
              %td
                = @report.date - l.scheduled_disbursal_date
              %td
                = l.get_status(@report.date)
          %tr.center_total
            %td
              Center total
            %td
              %b
                =center_total
              -branch_total+=center_total
            -4.times do
              %td
      %tr.branch_total
        %td
          Branch total
        %td
          -org_total+=branch_total
          %b
            =branch_total
          -4.times do
            %td
  %tr.org_total
    %td
      Total
    %td
      %b
        =org_total
    -4.times do
      %td
