=partial :form
- @staff_and_targets = @data
- if @data.empty?
  %h3 Nothing to show. Perhaps monthly targets for staff haven't been set for the selected month?
- else
  %table.report.nojs
    %tr.header
      %thead
        %th
          Staff Member
        %th
          Disbursements Target
        %th
          Disbursements till date
        %th
          Variance till date
        %th
          Disbursements today
        %th
          Variance as of today
        %th
          Approved But Not Disbursed
        %th
          Collections Target
        %th
          Payments received till date
        %th
          Variance till date
        %th
          Payments received today
        %th
          Variance today
    - @staff_and_targets.each_pair do |staff_member, target|
      %tr
        %td
          = staff_member
        %td
          = target[:disbursements_target]
        %td
          = target[:disbursed_till_date]
        %td
          = target[:disbursements_variance_till_date]
        %td
          = target[:disbursed_today] ? target[:disbursed_today] : "N.A."
        %td
          = target[:disbursements_variance_today] ? target[:disbursements_variance_today] : "N.A."
        %td
          = target[:approved_not_yet_disbursed]
        %td
          = target[:collections_target]
        %td
          = target[:payments_till_date]
        %td
          = target[:payments_variance_till_date]
        %td
          = target[:payments_today] ? target[:payments_today] : "N.A."
        %td
          = target[:payments_variance_today] ? target[:payments_variance_today] : "N.A."