=partial :form
- length = 7
%table.report
  %tr.header
    %th
      Center
    %th
      Loan count
    %th
      Disbursed amount
    %th
      PAR
    %th{:colspan => 4}
      Overdue amount
  %tr.header
    %th
    %th
    %th
    %th
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Total      
  - org_total = []
  - @data.sort_by{|branch, centers| branch.name}.each do |branch, centers|
    -branch_total = []
    %tr.branch
      %td{:colspan => length+1}
        %b
          = branch.name
    - centers.sort_by{|center, rows| center.name}.each do |center, row|
      -center_total = Array.new(length, 0)
      %tr.center
        %td
          = center.name
        %td.number
          = row.loan_count.to_currency
        %td.number
          = row.loan_amount.to_currency
        %td.number
          = row.par.to_currency
        %td.number
          = row.prin_overdue.to_currency
        %td.number
          = row.int_overdue.to_currency
        %td.number
          = row.fee_overdue.to_currency
        %td.number
          = row.tot_overdue.to_currency
          - center_total[0] = row.loan_count
          - center_total[1] = row.loan_amount
          - center_total[2] = row.par
          - center_total[3] = row.prin_overdue
          - center_total[4] = row.int_overdue
          - center_total[5] = row.fee_overdue
          - center_total[6] = row.tot_overdue
      -branch_total.push(center_total) if center_total.length == length
    -branch_total=branch_total.transpose.collect{|x| x.inject(0){|sum, x| sum+=x}}
    %tr.branch_total
      %td
        Branch total
        -0.upto(length-1).each do |col|
          %td
            %b
              = (branch_total[col]||0).to_currency
        - org_total.push(branch_total) if branch_total.length == length
  %tr.org_total
    %td
      Total
    -org_total = org_total.transpose.collect{|x| x.inject(0){|sum, x| sum+=x}}
    -0.upto(length-1).each do |col|
      %td
        %b
          =(org_total[col]||0).to_currency
