=partial :form
%table.report
  %tr.header
    %th{:width => '20%'}
      Date
    %th{:width => '20%'}
      Client
    %th
      Disbursed
    %th{:colspan => "4"}
      Repayment
  %tr.header
    %th
    %th
    %th
    %th
      Principal
    %th
      Interest
    %th
      Fee
    %th
      Total
  - center_id, branch_id = nil, nil
  - length = 7
  - org_total = []
  -@data.each do |branch, centers|
    -if centers.keys.length>0
      -branch_total = []
      %tr.branch
        %td{:colspan => length}
          %b
            =branch.name
      -centers.sort_by{|center, groups| center.name}.each do |center, groups|
        -if groups.values.map{|x| x.length}.reduce(0){|s,x| s+=x} > 0
          %tr.center
            %td{:colspan => length}
              %b
                =center.name
          - center_total = []
          -groups.sort_by{|group, clients| group ? group.name : ""}.each do |group, payments|
            - if payments.length > 0
              -group_total = []
              %tr.group
                %td{:colspan => length}
                  %b
                    = group ? group.name : "No group"
                    - payments.sort_by{|date, clients| date}.each do |date, clients|
                      -date_total = Array.new(length-2, 0)
                      %tr.date
                        - clients.each do |client, data|
                          %tr
                            %td.align_left
                              = date
                            %td.align_left
                              = client
                            - data.each_with_index do |ele, i|
                              %td
                                = ele.to_currency                        
                                - date_total[i] += ele
                            %td
                              = (data[1] + data[2] + data[3]).to_currency
                              - date_total[4] += data[1] + data[2] + data[3]
                      %tr.date_total
                        %td
                          %b
                            Date total
                        %td
                          - group_total << date_total
                          -date_total.each do |ele|
                            %td
                              %b=ele.to_currency
              %tr.group_total
                %td
                  %b==Group total
                %td
                  -group_total = group_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}
                  -center_total << group_total
                  -group_total.each do |ele|
                    %td
                      %b
                        =ele.to_currency
          %tr.center_total
            %td
              %b==Center total:
              -center_total = center_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}
              -branch_total.push(center_total) if center_total.length > 0
            %td
            -center_total.each do |ele|
              %td
                %b
                  =ele.to_currency    
      %tr.branch_total
        %td
          %b==Branch total:
        - branch_total = branch_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}
        - org_total << branch_total if branch_total.length>0
        %td
          -branch_total.each do |ele|
            %td
              %b
                =ele.to_currency
  %tr.org_total
    %td
      %b==Total:
    %td
    -org_total.transpose.collect{|arr| arr.reduce{|s, x| s+=x}}.each do |ele|
      %td
        %b
          =ele.to_currency
