= css_include_tag "jquery.treeview.css", :media => "screen, projection"
%script{:type => "text/javascript", :src => "/javascripts/jquery.cookie.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery.treeview.js"}
=partial :form
%div#sidetreecontrol
  %a{:href => "?#"}
    Collapse All
  |
  %a{:href => "?#"}
    Expand All
%ul#tree
  %li
    %span.spacer1
      %b Account
    %span.spacer2
      %b Opening Balance 
    %span.spacer3
      %b Debit
    %span.spacer4
      %b Credit
    %span.spacer5
      %b Total Balance
 
  - length = 5
  - totals = []
  - @data.sort_by{|account_type, accounts| account_type.name}.each do |account_type, accounts|
    %li
      %span.spacer1
        %b
          = account_type.name
      %span.spacer2
        = account_type.opening_balance.to_currency
      %span.spacer3
        = account_type.debit.to_currency
      %span.spacer4
        = account_type.credit.to_currency
      %span.spacer5
        = account_type.balance.to_currency
      %ul
        - if accounts
          - accounts.each do |account|
            = show_accounts(account)
  %li
    %span.spacer1
      %b
        Total
    %span.spacer2
      %b
        = @data.keys.map{|x| x.opening_balance}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer3
      %b
        = @data.keys.map{|x| x.debit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer4
      %b
        = @data.keys.map{|x| x.credit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer5
      %b
        = @data.keys.map{|x| x.balance}.reduce(0){|s, x| s+=x}.to_currency
