= css_include_tag "jquery.treeview.css", :media => "screen, projection"
%script{:type => "text/javascript", :src => "/javascripts/jquery.cookie.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery.treeview.js"}
=partial :form
%div#sidetreecontrol
  %a{:href => "?#"}
    Collapse All
  |
  %a{:href => "?#"}
    Expand All
%ul#tree
  %li
    %span.spacer1
      %b Account
    %span.spacer2
      %b Opening Balance 
    %span.spacer3
      %b Transations
    %span.spacer4
      %b Closing Balance
  %li
    %span.spacer1
    %span.spacer2a
      %b Debit
    %span.spacer2b
      %b Credit
    %span.spacer3a
      %b Debit
    %span.spacer3b
      %b Credit
    %span.spacer4a
      %b Debit
    %span.spacer4b
      %b Credit
  - length = 5
  - totals = []
  - @data.sort_by{|account_type, accounts| account_type.name}.each do |account_type, accounts|
    %li
      %span.spacer1
        %b
          = account_type.name
      %span.spacer2a
        = account_type.opening_balance_debit.to_currency
      %span.spacer2b
        = account_type.opening_balance_credit.to_currency
      %span.spacer3a
        = account_type.debit.to_currency
      %span.spacer3b
        = account_type.credit.to_currency
      %span.spacer4a
        = account_type.balance_debit.to_currency
      %span.spacer4b
        = account_type.balance_credit.to_currency
      %ul
        - if accounts
          - accounts.each do |account|
            = show_accounts(account)
  %li
    %span.spacer1
      %b
        Total
    %span.spacer2a
      %b
        = @data.keys.map{|x| x.opening_balance_debit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer2b
      %b
        = @data.keys.map{|x| x.opening_balance_credit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer3a
      %b
        = @data.keys.map{|x| x.debit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer3b
      %b
        = @data.keys.map{|x| x.credit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer4a
      %b
        = @data.keys.map{|x| x.balance_debit}.reduce(0){|s, x| s+=x}.to_currency
    %span.spacer4b
      %b
        = @data.keys.map{|x| x.balance_credit}.reduce(0){|s, x| s+=x}.to_currency
