%h1 New Report

= error_messages_for @report

= form_for(@report, :action => url(:reports) ) do
  %table
    %tr
      %th
        Report Type
      %td
        = select :report_type, :collection => ["YearlyReport", "MonthlyReport", "WeeklyReport", "DailyReport"]
    %tr
      %th
        Start Date
      %td
        = date_select_html(:name => "[start_date]", :id => "start_date", :date => Date.today)
  %p
    = submit "Create"

= link_to 'Back', url(:reports)
