- if ["PerformanceReport"].include?(params[:report_type])
  = partial "#{params[:report_type].snake_case.gsub(" ","_")}"
- elsif @reports
  %h1
    = params[:report_type]
  - @reports.each do |report|
    = link_to "#{report.name}", url(:show_report, params[:report_type], report.id)
    %br
- else
  - if not params[:layout] 
    = link_to("Printer friendly version", get_printer_url, {:style => "float: right;", :target => "_BLANK"})
  %h1{:style => "margin-bottom: 1px;"}
    =@report.name
  = partial "#{params[:report_type].snake_case.gsub(" ","_")}".to_sym

