%h1 API Access
%p
  == View clients registered for API access or #{link_to 'Register a new client for API', resource(:api_accesses, :new), :class => "bold"}.

- if @api_accesses.blank?
  %p
    %i No clients have been registered yet for API access 
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th Branch
        %th Description
        %th Origin
    %tbody
    - for api_access in @api_accesses
      %tr{ :class => cycle('odd','') }
        %td
          %b= api_access.branch.name
        %td
          %b= api_access.description
        %td
          %b= link_to api_access.origin, resource(api_access)
    %tfoot
      %tr
        %td{ :colspan => 6 }

  = link_to_with_rights 'Register a new client for API access >>', url(:new_api_access), :class => "button"
