%h1 Api Access
%p
  == Manage api access or #{link_to 'create a new api access', resource(:api_accesses, :new), :class => "bold"}.

- if @api_accesses.blank?
  %p
    %i No api access have been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th ID
        %th Origin
        %th Description
        %th Branch
        %th
    %tbody
    - for api_access in @api_accesses
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = api_access.id
        %td
          %b= link_to api_access.origin, resource(api_access)
        %td
          %b= api_access.description
        %td
          %b= api_access.branch.name
    %tfoot
      %tr
        %td{ :colspan => 6 }

  = link_to_with_rights 'Create a new api access >>', url(:new_api_access), :class => "button"