%h1== Api Access

%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td ID
    %td
      %b= @api_access.id
  %tr
    %td origin
    %td
      %b= @api_access.origin
  %tr.odd
    %td description
    %td
      = @api_access.description
  %tr
    %td Branch
    %td
      = @api_access.branch.name
= link_to 'Back', url(:api_accesses)

