%script
  ="var marker_objects = []"
  - @locations.each do |loc|
    = "marker_objects.push({'name': '#{loc.parent.name}', 'latitude': #{loc.latitude}, 'longitude': #{loc.longitude}, 'type': '#{loc.parent_type}'})"
#map_canvas{:style => "height: 500px; width: 800px;"}