- @from_date ||= @account.account_earliest_date - 1
- @to_date||= Date.today
- balance = @account.opening_balance_as_of(@from_date) || 0
%table.form.narrow
  %tr
    %thead
      %th
        Date
      %th
        Particulars
      %th
        Vch Type
      %th
        Vch. No.
      %th
        %b Debit
      %th
        %b Credit
  %tr.total
    %td
      = @from_date
    %td
      Opening Balance
    %td
    %td
    %td
      = balance.to_currency
    %td
  - posting_hash = Posting.all(:account => @account, "journal.date.lte" => @to_date, "journal.date.gte" => @from_date).map{|p| [p.journal.date, p]}
  - posting_hash.sort_by{|ph| ph[0]}.each do |ph|
    %tr{:class => cycle('odd','even')}
      - posting = ph[1]
      - balance += posting.amount
      %td
        = ph[0]
      %td
        = posting.journal.comment
      %td
      %td
      %td
        = posting.amount < 0 ? posting.amount.abs.to_currency : "-"
      %td
        = posting.amount > 0 ? posting.amount.to_currency : "-"
  %tr.total
    %td
      = @to_date
    %td
      Closing Balance
    %td
    %td
    %td
      = balance.to_currency
    %td
        
        
  