- if params[:parent_id]
  - @parent = Account.get(params[:parent_id])

%table.tall.shaded
  %tr
    %th
      Account Type
    %td
      - if @parent
        = hidden_field :account_type_id, :value => @parent.account_type_id
        = @parent.account_type.name
      - else
        = select :account_type_id, :collection => AccountType.all.map{ |a| [a.id, a.name]}, :prompt => "Select Account"
  %tr
    %th
      Account Category (if applicable)
    %td
      = select(:account_category, :collection => [[:Cash, "Cash"], [:Bank, "Bank"]] , :prompt => "Select Account Category")
  %tr
    %th
      Asset Class
    %td
      = select(:asset_class, :collection => [ASSET_CLASSES, EQUITY].flatten, :prompt => ASSET_CLASS_NOT_CHOSEN)
  %tr
    %th
      Income Head
    %td
      = select(:income_head, :collection => INCOME_HEADS, :prompt => INCOME_HEAD_NOT_CHOSEN)
  %tr 
    %th
      Branch
    %td
      - if @parent
        = hidden_field :branch_id, :value => @parent.branch_id
        = @parent.branch.name
      - else
        = select :branch_id, :collection => @branches_list, :prompt => "Select Branch"
  %tr
    %th
      Parent Account
    %td 
      - if @parent
        = @parent.name
        = hidden_field :parent_id, :value => @parent.id
      - else
        = show_accounts_selector(@accounts, {:selected_id => @account.parent_id, :tag => true, :id => "account_parent_id", :name => "account[parent_id]", :prompt => "Choose parent account"})

  %tr  
    %th
      Name
    %td
      = text_field :name
  %tr
    %th
      GL Code
    %td
      = text_field :gl_code
  %tr
    %th 
      Opening Balance
    %td
      = text_field :opening_balance
      on
      = date_select_for @account, :opening_balance_on_date 
