%div.box#form_holder
  %h2
    Duplicate all accounts of      
    %b Branch
  %form._remote_{:action => url(:controller => :accounts, :action => :duplicate), :method => :get}
    = select :branch_id, :collection => @branches_list, :prompt => "Select a branch", :selected => (@branch ? @branch.id.to_s : "")
    %input{:type => "hidden", :name => "_target_", :value => "form_holder"}
    = submit "GO"
  - if @accounts
    %form{:action => resource(:accounts), :method => :post}
      %table
        %tr
          %th        
          %th
            Copy?
          %th
            Account type
          %th
            Name
          %th
            Gl code
          %th
            Opening balance
          %th
            Opening balance on
          %th
        - @accounts.sort_by{|a| a.account_type}.each_with_index do |account, idx|
          %tr
            %td
              = idx + 1
            %td
              = check_box :name => "cb_#{account.id}", :checked => "checked"
            %td
              = account.account_type.name
              = hidden_field :name => "account[][account_type_id]", :value => account.account_type_id
              = hidden_field :name => "account[][parent_id]", :value => account.parent_id
            %td
              = text_field :name => "account[][name]", :value => account.name + "(copied from #{@branch.name})"
            %td
              = text_field :name => "account[][gl_code]", :value => account.gl_code + "(copied from #{@branch.name})"
            %td
              = text_field :name => "account[][opening_balance]", :value => 0
            %td
              = date_select "account[][opening_balance_on_date]", Date.today, :id => "account_#{idx}_opening_balance"
      For branch
      = select :branch_id, :collection => Branch.all(:id.not => @branch.id).map{|b| [b.id, b.name]}, :prompt => "Select branch"
      = hidden_field :parent_branch_id, :value => @branch.id
      = submit "Create"
- unless @accounts
  = partial "rule_books/duplicate"
- unless @accounts
  %hr
  %div.box
    %h1
      %a{:class => "_remote_", :href => url(:account_types), :id => "account_types"}
        Account types
    #container_account_types
  %br
- unless @accounts
  %hr
  %div.box
    %h1
      %a{:class => "_remote_", :href => url(:accounting_periods), :id => "periods"}
        Accounting periods
    #container_periods
  %br
- unless @accounts
  %hr
  %div.box
    %h1
      %a{:class => "_remote_", :href => url(:controller =>  :journals, :action => :tally_download), :id => "tally"}
        Tally download
    #container_tally
  %br
