%table
  %tr
    %th
      Account Name
    %th
      GL Code
    %th
      Account Type
  %tr
  - for account in @accounts
    %tr
      %td
        = account.name
      %td
        = account.gl_code
      %td
        = account.account_type.name
      %td
        = link_to 'Edit', url(:edit_account, account)
      %td
        = link_to 'show', url(:account, account)

= link_to 'New', url(:new_account) 
| 
= link_to 'Back', url(:account_types)
