= css_include_tag "jquery.treeview.css", :media => "screen, projection"
%script{:type => "text/javascript", :src => "/javascripts/jquery.cookie.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery.treeview.js"}
%h1  Manage Book Keeping
%div
  = link_to "Manage Accounting Periods", url(:accounting_periods)
  |
  = link_to "Manage Account Type", url(:account_types)
  |
  = link_to "New Account", url(:new_account)
  |
  = link_to "Manage Accounting Rule", url(:rule_books)
  |
  = link_to_with_rights "Create a new voucher", resource(:journals, :new)
  | 
  = link_to_with_rights "View recent journal entries", resource(:journals)
  | 
  = link_to_with_rights "Duplicate branch accounts", url(:action => :duplicate)

%h1 List of Account
%div#sidetreecontrol
  %a{:href => "?#"}
    Collapse All
  |
  %a{:href => "?#"}
    Expand All
%ul#tree
  %li
    %b Account name 
    %span.branchName
      %b Branch
  - @accounts.group_by{|x| x.account_type}.sort_by{|account_type, accounts| account_type.name}.each do |account_type, accounts|
    %li
      %b
        = account_type.name
      %ul
        - accounts.each do |account|
          = show_accounts(account)
= link_to "Back", url(:admin)
