= css_include_tag "jquery.treeview.css", :media => "screen, projection"
%script{:type => "text/javascript", :src => "/javascripts/jquery.cookie.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery.treeview.js"}
= link_to "Back", url(:admin), :style => "float:right"
%h1  Manage Book Keeping
%div.tab_container.shaded
  %ul.tabs
    %li#accounts
      Accounts
    %li#new_account
      New account
    %li#accounting_rules
      Accounting rules
    %li#new_voucher
      New voucher
    %li#journal_entries
      Journal entries
    %li#misc
      Miscellaneous
    %li#reconcile
      Reconcile
  %div.tab
    %form.floating{:style => "float: right"}
      %b Show accounts of 
      = select :branch_id, :collection => @branches_list, :selected => (params[:branch_id] || 0).to_s
      = submit "GO"
    %h1 List of Account
    %div#sidetreecontrol
      %a{:href => "?#"}
        Collapse All
      |
      %a{:href => "?#"}
        Expand All
    %ul#tree
      %li
        %b Account name 
        %span.branchName
          %b Branch
      - @accounts.sort_by{|account_type, accounts| account_type.name}.each do |account_type, accounts|
        %li
          %b
            = account_type.name
          %ul
            - if accounts
              - accounts.each do |account|
                = show_accounts(account)
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:new_account)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:rule_books, :return => "/accounts")}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url({:controller => :journals, :action => :new, :return => url(:accounts)})}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:journals)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:action => :duplicate)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :journals, :action => :reconcile)}