
%table
  %tr
    %th
      Name
    %th 
      GL Code  
    %th 
      Branch  
   
  %tr
    %td
      = @account.name
    %td 
      = @account.gl_code
    %td 
      -unless @account.branch.nil?
        = @account.branch.name
      -else
        = "No Branch"

= partial "journals/list", :accounts => @accounts
%br
= link_to 'Edit',  url(:edit_account,  @accounts)
|
= link_to 'Back', url(:accounts)


