%h1== Account: <i>#{@account.name}</i>
%table.narrow.form{ :style => "width: 40%;" }
  %tr
    %th GL Code : 
    %td
      = @account.gl_code
  %tr
    %th Branch : 
    %td
      = @account.branch ? @account.branch.name : ""
  %tr
    %th Opening Balance
    %td
      = @account.opening_balance 
      %span.greytext 
        (as on
        = @account.opening_balance_on_date
        )
  %tr
    %th Branch : 
    %td
      = @account.branch ? @account.branch.name : ""

%p
  = link_to_with_rights 'edit this account\'s details ', resource(@account, :edit), :class => "edit"

%div.tab_container
  %ul.tabs
    %li#journal Journal
    %li#accounting_periods Accounting Periods
    %li#book Book
    
  %div.tab
    = partial "journals/list_account", :accounts => @accounts
  %div.tab{:class => "_load_remote_"}
    = partial "account_balances/list", :account => @accounts, :date => (params[:date] || Date.today)
  %div.tab{:class => "_load_remote_"}
    = partial "accounts/book", :account => @accounts, :date => (params[:date] || Date.today)
%br
= link_to 'Back', url(:accounts)
