%table.form
  %tr
    %td
      For center:
    %td
      - if @center and @client_group.new?
        = @center.name
      - else
        = select_center_for @client_group, :center
  %tr
    %td
      Group name:
    %td
      = text_field :name
  %tr
    %td
      Group Code:
    %td
      = text_field :code, :size => 10
      %br/
      %span.greytext a two letter unique code for the group
  %tr
    %td
      Maximum clients:
    %td
      = text_field :number_of_members, :size => 3
  %tr
    %td
    %td
      = submit submit_text
      - if request.xhr?
        %a{:href => "#", :onclick => "$('#new_client_group_form').html('')"}
          cancel
      -else
        = link_to 'cancel', cancel_link
