%h1
  Groups
= error_messages_for @client_group

= form_for(@client_group, :action => url(:controller => params[:controller], :action => :update, :id => @client_group)) do
  = partial "client_groups/fields"
  %p
    = submit "Update"

= link_to('Back', url(:controller => params[:controller], :action => :index))
