%h1
  Groups
= error_messages_for @client_group

- cancel_url = (params[:controller]=="data_entry/client_groups" ? url(:data_entry) : resource(@branch, @center, :client_groups))
- form_url   = (params[:controller]=="data_entry/client_groups" ? url(:enter_groups, :action => "update", :id => @client_group) : resource(@branch, @center, @client_group))

= form_for(@client_group, :action => form_url) do
  = partial "client_groups/fields", :submit_text => "Save changes", :cancel_link => cancel_url

%hr
%h1 
  Mark GRT pass these clients 
= form_for(@client_group, :action => url(:enter_groups, :action => "create_grt_date", :id => @client_group), :method => :post) do
  %table{:width => "50%"}
    %tr{:align => "left"}
      %th
      %th
        ID
      %th
        Reference
      %th
        Name
      %th
        GRT date
  
    -@client_group.clients.each do |client| 
      %tr
        %td
          = check_box :name => "clients[]", :checked => true, :value => client.id
        %td
          =client.id
        %td
          =client.reference
        %td
          =client.name
        %td
          =client.grt_pass_date ? client.grt_pass_date : " - "
    %tr
      %td{:colspan => 4}
        =date_select "grt_date"
    %tr
      %td{:colspan => 4}
        =submit "Save changes"
     
